/*------------------------------------------------------------------
[PREV_NEXT_POSTS_THUMB_TITLE_VARIABLE.CSS - Variable styles for pre/next posts links block]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/

.prev-next-posts-wrapper.style-thumb_title {
	background: @color_accent_black;
	a {
		color: #fff;
	}
	a:hover:before {
		background: rgba(0,0,0,0.75);
	}
	.title {
		font-family: @secondary_font_family;
	}
	.desc {
		font-size: ~'@{small_font_size}px';
		line-height: ~'@{small_font_line_height}px';
	}
	.title {
		@text_font_size: @primary_font_size + 14;
		font-size: ~'@{text_font_size}px';
		line-height: 1.5em;
	}
}
