.app-bar {
  background-color: #20535F !important; /* Equivalente a green[800] */
  color: white !important;
  box-shadow: none; /* Sin sombra de caja */
}

.logo-container {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.title {
  margin-left: 8px; /* Equivalente a ml: 1 en Material-UI */
}

.logout-button {
  border-color: white !important; /* Borde blanco para el botón */
  color: white !important; /* Texto blanco en el botón */
}

.logout-button:hover {
  background-color: #388e3c !important;/* Equivalente a green[700] */
  border-color: white !important;
}
