/*------------------------------------------------------------------
[BLOG.CSS - Contains styles for blog, single post, comments, etc]
[Table of contents]

1. Single post, Boxed style
2. Single post, Flat style
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	1. Single post, Boxed style
-------------------------------------------------------------------*/
.single-blog-post-container.style-boxed .content-wrapper {
  padding: 40px 60px;
  z-index: 10;
  position: relative;
}
.single-blog-post-container.style-boxed .content-featured-image-wrapper {
  margin: -40px -60px 50px -60px;
}
/*------------------------------------------------------------------
	2. Single post, Flat style
-------------------------------------------------------------------*/
