/*------------------------------------------------------------------
[Dynamic styles for Logo / Desc / Social widget]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.wproto_logo_desc_widget .desc p:last-of-type {
  margin-bottom: 0;
}
.wproto_logo_desc_widget .share-links {
  margin-top: 32px;
}
.wproto_logo_desc_widget .share-links i {
  margin-right: 15px;
}
body.rtl .wproto_logo_desc_widget .share-links i {
  margin-left: 15px;
  margin-right: 0;
}
