/*------------------------------------------------------------------
[HEAD-STYLE_2_VARIABLE.CSS - Header style, variable styles, variation #2]
[Table of contents]

1. Shared styles
2. Page title, description and breadcrumbs
3. Second menu
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
body.layout-type-boxed, body.layout-type-framed {
	#header {
		margin-right: ~'-@{box_right_padding}';
		margin-left: ~'-@{box_left_padding}';
		padding-left: @box_left_padding;
		padding-right: @box_right_padding;
	}
	#header.slider-mode {
		margin-right: 0;
		margin-left: 0;
	}
}
#header {
	background-color: @header_bg_gradient_from;
	background: ~'linear-gradient( @{header_bg_pos}, @{header_bg_gradient_from}, @{header_bg_gradient_to})';
	background-image: @header_bg_image_src;
	background-position: @header_bg_image_position;
	background-repeat: @header_bg_image_repeat;
	box-shadow: ~'@{header_shadow_h_length}px @{header_shadow_v_length}px @{header_shadow_blur_radius}px 0px @{header_shadow_color}';
}
#header.no-bg-image {
	background-color: @header_bg_gradient_from;
	background: ~'linear-gradient( @{header_bg_pos}, @{header_bg_gradient_from}, @{header_bg_gradient_to})';
	background-position: @header_bg_image_position;
	background-repeat: @header_bg_image_repeat;
	box-shadow: ~'@{header_shadow_h_length}px @{header_shadow_v_length}px @{header_shadow_blur_radius}px 0px @{header_shadow_color}';
}
#header-bg-overlay {
	background-color: @header_bg_overlay_color;
}

#header.header-layout-style_5 .header-menu-wrapper {
	box-shadow: ~'@{menu_container_shadow_h_length}px @{menu_container_shadow_v_length}px @{menu_container_shadow_blur_radius}px 0px @{menu_container_shadow_color}';
}

/*------------------------------------------------------------------
	2. Page title, description and breadcrumbs
-------------------------------------------------------------------*/
#header-title-desc {
	h1 {
		color: @header_page_title_color;
	}
	h6 {
		color: @header_page_desc_text_color;
	}
}
#header-breadcrumbs {
	background-color: @breadcrumbs_bg_gradient_from;
	background: ~'linear-gradient( @{breadcrumbs_bg_pos}, @{breadcrumbs_bg_gradient_from}, @{breadcrumbs_bg_gradient_to})';
	background-image: @breadcrumbs_bg_image_src;
	background-position: @breadcrumbs_bg_image_position;
	background-repeat: @breadcrumbs_bg_image_repeat;
	box-shadow: ~'@{breadcrumbs_shadow_h_length}px @{breadcrumbs_shadow_v_length}px @{breadcrumbs_shadow_blur_radius}px 0px @{breadcrumbs_shadow_color}';
	color: @breadcrumbs_text_color;
	font-size: ~'@{small_font_size}px';
	a {
		color: @breadcrumbs_text_color;
	}
	a:hover, .last-item {
		color: @breadcrumbs_active_color;
	}
	.first-item a {
		@color_escaped: escape( ~'@{breadcrumbs_text_color}' );
		background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22495.398px%22%20height%3D%22495.398px%22%20viewBox%3D%220%200%20495.398%20495.398%22%20style%3D%22enable-background%3Anew%200%200%20495.398%20495.398%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M487.083%2C225.514l-75.08-75.08V63.704c0-15.682-12.708-28.391-28.413-28.391c-15.669%2C0-28.377%2C12.709-28.377%2C28.391%20v29.941L299.31%2C37.74c-27.639-27.624-75.694-27.575-103.27%2C0.05L8.312%2C225.514c-11.082%2C11.104-11.082%2C29.071%2C0%2C40.158%20c11.087%2C11.101%2C29.089%2C11.101%2C40.172%2C0l187.71-187.729c6.115-6.083%2C16.893-6.083%2C22.976-0.018l187.742%2C187.747%20c5.567%2C5.551%2C12.825%2C8.312%2C20.081%2C8.312c7.271%2C0%2C14.541-2.764%2C20.091-8.312C498.17%2C254.586%2C498.17%2C236.619%2C487.083%2C225.514z%22%2F%3E%20%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M257.561%2C131.836c-5.454-5.451-14.285-5.451-19.723%2C0L72.712%2C296.913c-2.607%2C2.606-4.085%2C6.164-4.085%2C9.877v120.401%20c0%2C28.253%2C22.908%2C51.16%2C51.16%2C51.16h81.754v-126.61h92.299v126.61h81.755c28.251%2C0%2C51.159-22.907%2C51.159-51.159V306.79%20c0-3.713-1.465-7.271-4.085-9.877L257.561%2C131.836z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E")';
	}
	.separator {
		@color_escaped: escape( ~'@{breadcrumbs_separator_color}' );
		background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22284.935px%22%20height%3D%22284.936px%22%20viewBox%3D%220%200%20284.935%20284.936%22%20style%3D%22enable-background%3Anew%200%200%20284.935%20284.936%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M222.701%2C135.9L89.652%2C2.857C87.748%2C0.955%2C85.557%2C0%2C83.084%2C0c-2.474%2C0-4.664%2C0.955-6.567%2C2.857L62.244%2C17.133%20c-1.906%2C1.903-2.855%2C4.089-2.855%2C6.567c0%2C2.478%2C0.949%2C4.664%2C2.855%2C6.567l112.204%2C112.204L62.244%2C254.677%20c-1.906%2C1.903-2.855%2C4.093-2.855%2C6.564c0%2C2.477%2C0.949%2C4.667%2C2.855%2C6.57l14.274%2C14.271c1.903%2C1.905%2C4.093%2C2.854%2C6.567%2C2.854%20c2.473%2C0%2C4.663-0.951%2C6.567-2.854l133.042-133.044c1.902-1.902%2C2.854-4.093%2C2.854-6.567S224.603%2C137.807%2C222.701%2C135.9z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")';
	}
	.first-item {
		border-right: 1px solid @breadcrumbs_border_color;
		border-left: 1px solid @breadcrumbs_border_color;
	}
}

/*------------------------------------------------------------------
	3. Second menu
-------------------------------------------------------------------*/
#header-second-menu {
	background-color: @header_second_menu_bg_gradient_from;
	background: ~'linear-gradient( @{header_second_menu_bg_pos}, @{header_second_menu_bg_gradient_from}, @{header_second_menu_bg_gradient_to})';
	background-image: @header_second_menu_bg_image_src;
	background-position: @header_second_menu_bg_image_position;
	background-repeat: @header_second_menu_bg_image_repeat;
	box-shadow: ~'@{header_second_menu_shadow_h_length}px @{header_second_menu_shadow_v_length}px @{header_second_menu_shadow_blur_radius}px 0px @{header_second_menu_shadow_color}';
	color: @header_second_menu_text_color;
	font-size: ~'@{small_font_size}px';
	a {
		color: @header_second_menu_text_color;
	}
	a:hover, .current-menu-item a {
		color: @header_second_menu_active_color;
		border-color: @header_second_menu_active_color;
	}
}
