/*------------------------------------------------------------------
[Minimal social icons and free text widget styles]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.wproto_social_text_widget {
	text-align: center;
	.share-links a {
		margin: 0 7px;
		i {
			font-size: 22px;
		}
	}
	.share-links {
		margin-bottom: 40px;
	}
}
