/*------------------------------------------------------------------
[Dynamic styles for Latest News widget]
[Table of contents]

1. Shared styles
2. Rounded style
3. Text style
4. Footer colors
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.wproto_news_widget {
	ul, ul li {
		margin: 0;
		padding: 0;
	}
	ul li:before {
		display: none;
	}
	ul li {
		position: relative;
		margin-bottom: 30px;
		min-height: 80px;
		.element-content {
			padding-left: 100px;
		}
	}
	ul li.without-thumb {
		.element-content {
			padding-left: 0;
		}
		min-height: 1px;
	}
	.thumb {
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;
		width: 80px;
		height: 80px;
		img {
			display: block;
		}
	}
	.thumb:before {
		content: '';
		position: absolute;
		z-index: 2;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.75);
		opacity: 0;
		transition: all 0.4s;
	}
	li:hover .thumb:before {
		opacity: 1;
	}
	.button {
		margin-top: 34px;
	}
	.author {
		color: @color_accent_blue;
		@text_font_size: @primary_font_size - 4;
		font-size: ~'@{text_font_size}px';
		line-height: 1.4em;
	}
	.title-text {
		color: @color_text_darken;
		font-weight: bold;
		margin-bottom: 6px;
		transition: all 0.3s;
	}
	.time {
		margin-bottom: 4px;
		color: @color_text_lighten;
		font-family: @secondary_font_family;
		font-weight: bold;
		@text_font_size: @primary_font_size - 4;
		font-size: ~'@{text_font_size}px';
		line-height: 1.4em;
	}
	li:hover .title-text {
		color: @primary_font_color;
	}
}
body.rtl .wproto_news_widget {
	ul li {
		.element-content {
			padding-right: 100px;
			padding-left: 0;
		}
	}
	ul li.without-thumb {
		.element-content {
			padding-right: 0;
		}
	}
	.thumb {
		right: 0;
		left: auto;
	}
}
/*------------------------------------------------------------------
	2. Rounded style
-------------------------------------------------------------------*/
.wproto_news_widget .style-rounded {
	.thumb img, .thumb:before {
		border-radius: 5px;
	}
	.thumb:before {
		background: rgba(255,255,255,0.7);
	}
}
/*------------------------------------------------------------------
	3. Text style
-------------------------------------------------------------------*/
.wproto_news_widget .style-text {
	ul li {
		padding-bottom: 22px;
		margin-bottom: 22px;
		.element-content {
			padding-left: 0;
			padding-right: 0;
		}
	}
	ul li:last-of-type {
		margin-bottom: 0;
	}
	ul li:after {
		content: '';
		border-bottom: 2px solid @color_hr_border;
		width: 60px;
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.author, .time {
		display: inline-block;
		font-family: @primary_font_family;
		font-weight: normal;
		@text_font_size: @primary_font_size - 4;
		font-size: ~'@{text_font_size}px';
		line-height: 1.4em;
	}
	.author {
		margin-right: 30px;
	}
}
/*------------------------------------------------------------------
	4. Footer colors
-------------------------------------------------------------------*/
#footer-widgets .wproto_news_widget {
	.author {
		color: @footer_accent_color;
	}
	.title-text {
		color: @footer_text_color;
	}
	.time {
		color: @footer_headers_color;
	}
	li:hover .title-text {
		color: @footer_accent_color;
	}
	.style-rounded {
		.thumb:before {
			background: @footer_img_overlay_color;
		}
	}
	.style-text {
		ul li:after {
			border-color: @footer_borders_color;
		}
	}
}
