/*------------------------------------------------------------------
[SINGLE.CSS - Static styles for Single Portfolio Post]
-------------------------------------------------------------------*/

/**
	Content container
**/
.single-portfolio-post-container {
	margin-bottom: 60px;
	.post-thumbnail {
		img {
			display: block;
		}
	}
	.mobile-thumb {
		display: none;
		margin-bottom: 34px;
		img {
			display: block;
		}
	}
}

@media screen and (max-width: 992px) {
	.single-portfolio-post-container {
		.mobile-thumb {
			display: block;
		}
	}
}

.single-portfolio-post-container.layout-style_6 {
	.portfolio-details {
		margin-top: 14px;
	}
}

.single-portfolio-post-container.content-align-centered {
	text-align: center;
}

.single-portfolio-post-container .shortcode-images-carousel2,
.single-portfolio-post-container .shortcode-images-carousel {
	margin-bottom: 90px;
}

/**
	Project details
**/
.portfolio-details {
	margin-bottom: 16px;
	display: table;
	dl {
		display: table-row;
	}
	dt, dd {
		display: table-cell;
		padding-bottom: 18px;
	}
	dt {
		font-weight: bold;
		text-align: left;
		padding-right: 40px;
		text-transform: uppercase;
	}
	dd {
		text-align: left;
	}
	a {
		text-decoration: none;
	}
	i.fa {
		margin-right: 7px;
	}
}

body.rtl .portfolio-details {
	dt {
		padding-left: 40px;
		padding-right: 0;
	}
	dd, dt {
		text-align: right;
	}
	i.fa {
		margin-right: 0;
		margin-left: 7px;
	}
}

.single-portfolio-post-container.content-align-centered {
	.portfolio-details {
		margin: 0 auto 34px auto;
	}
}

.single-portfolio-post-container.layout-style_8 .post-media {
	margin-top: 90px;
}

/**
	Post likes
**/
#post-likes {
	a {
		text-decoration: none;
		display: inline-block;
		padding-left: 22px;
		position: relative;
	}
	a:before, a:after {
		content: "";
		background-repeat: no-repeat;
		background-position: left center;
		background-size: 16px auto;
		-webkit-transform-origin: center center;
		-moz-transform-origin: center center;
		-ms-transform-origin: center center;
		transform-origin: center center;
	}
	a:after {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0;
		top: 2px;
		z-index: 1;
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
		opacity: 0;
		-webkit-transition: none;
		-moz-transition: none;
		transition: none;
	}
	a:before {
		position: absolute;
		width: 16px;
		left: 0;
		top: 2px;
		height: 16px;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	a.activated:after, a:hover:after {
		-webkit-animation: scaleFade 0.5s forwards;
		-moz-animation: scaleFade 0.5s forwards;
		animation: scaleFade 0.5s forwards;
	}
}

@-webkit-keyframes scaleFade {
	30% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(2);
	}
}

@-moz-keyframes scaleFade {
	30% {
		opacity: 1;
		-moz-transform: scale(1);
	}
	100% {
		opacity: 0;
		-moz-transform: scale(2);
	}
}

@keyframes scaleFade {
	30% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(2);
	}
}

body.rtl #post-likes {
	a {
		padding-left: 0;
		padding-right: 22px;
	}
	a:before, a:after {
		background-position: right center;
		left: auto;
		right: 0;
	}
}

/**
	Single portfolio gallery
**/
.portfolio-single-gallery {
	margin-bottom: 34px;
	figure {
		cursor: pointer;
	}
}

.single-portfolio-images {
	figure {
		margin-bottom: 40px;
	}
	figure {
		position: relative;
		img {
			display: block;
		}
	}
	.caption {
		position: absolute;
		z-index: 2;
		padding: 40px;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: 0;
		font-size: 16px;
		line-height: 22px;
		transition: all .3s;
		display: block;
		opacity: 0;
		font-weight: 700;
		background-size: 25px 25px;
		background-position: right 20px bottom 30px;
		background-repeat: no-repeat;
		cursor: pointer;
	}
	figure:hover {
		.caption {
			opacity: .7;
			transition: all .3s;
			background-position: right 30px bottom 30px;
		}
	}
	figure:hover:before {
		opacity: 1;
	}

}

body.rtl .single-portfolio-images {
	.caption {
		background-position: left 20px bottom 30px;
	}
	figure:hover .caption {
		background-position: left 30px bottom 30px;
	}
}

/**
	Single related / similar posts
**/
.similar-posts-wrapper {
	margin-bottom: 34px;
	figure {
		position: relative;
		max-width: 370px;
		img {
			display: block;
		}
	}
	.caption {
		position: absolute;
		z-index: 2;
		padding: 40px;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: 0;
		font-size: 16px;
		line-height: 22px;
		transition: all .3s;
		display: block;
		opacity: 0;
		font-weight: 700;
		background-size: 25px 25px;
		background-position: right 20px bottom 30px;
		background-repeat: no-repeat;
		cursor: pointer;
	}
	.item:hover {
		.caption {
			opacity: .7;
			transition: all .3s;
			background-position: right 30px bottom 30px;
		}
		figure:before {
			opacity: 1;
		}
	}
	.swiper-pagination {
		left: 0;
		right: 0;
		padding: 25px 0;
	}
	.shortcode-images-carousel {
		margin-bottom: 90px;
	}
}
body.rtl .similar-posts-wrapper {
	.caption {
		background-position: left 20px bottom 30px;
	}
	.item:hover .caption {
		background-position: left 30px bottom 30px;
	}
}
.similar-posts-wrapper.content-align-centered {
	text-align: center;
}
.content-align-centered {
	figcaption.caption {
		text-align: left;
	}
}
body.rtl .content-align-centered {
	figcaption.caption {
		text-align: right;
	}
}
.similar-posts-wrapper.style-3cols_grid,
.single-portfolio-post-container #content {
	.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
}
@media screen and (max-width: 992px) {
	.similar-posts-wrapper.style-3cols_grid figure {
		margin-bottom: 32px;
	}
}

.single-portfolio-post-container.layout-style_1 .single-post-categories,
.single-portfolio-post-container.layout-style_2 .single-post-categories,
.single-portfolio-post-container.layout-style_10 .single-post-categories,
.single-portfolio-post-container.layout-style_11 .single-post-categories {
	margin-bottom: 30px;
}

.single-portfolio-post-container.layout-style_1 .single-post-categories a,
.single-portfolio-post-container.layout-style_2 .single-post-categories a,
.single-portfolio-post-container.layout-style_10 .single-post-categories a,
.single-portfolio-post-container.layout-style_11 .single-post-categories a {
	display: inline-block;
	margin: 0 10px 10px 0;
	text-decoration: none;
	padding: 0 45px;
	transition: all 0.3s;
}

.single-portfolio-post-container.layout-style_1 .portfolio-details dl,
.single-portfolio-post-container.layout-style_2 .portfolio-details dl,
.single-portfolio-post-container.layout-style_10 .portfolio-details dl,
.single-portfolio-post-container.layout-style_11 .portfolio-details dl {
	display: inline-block;
	margin-right: 40px;
	margin-bottom: 0;
}

.single-portfolio-post-container.layout-style_1 .portfolio-details dt,
.single-portfolio-post-container.layout-style_2 .portfolio-details dt,
.single-portfolio-post-container.layout-style_10 .portfolio-details dt,
.single-portfolio-post-container.layout-style_11 .portfolio-details dt {
	margin-right: 20px;
}

.single-portfolio-post-container.layout-style_1 .portfolio-details,
.single-portfolio-post-container.layout-style_2 .portfolio-details,
.single-portfolio-post-container.layout-style_10 .portfolio-details,
.single-portfolio-post-container.layout-style_11 .portfolio-details {
	dt, dd {
		padding-bottom: 0;
	}
}

.single-portfolio-post-container.layout-style_1 #post-likes,
.single-portfolio-post-container.layout-style_2 #post-likes,
.single-portfolio-post-container.layout-style_10 #post-likes,
.single-portfolio-post-container.layout-style_11 #post-likes {
	text-align: center;
	padding-top: 25px;
}

.single-portfolio-post-container.layout-style_1 #post-likes a,
.single-portfolio-post-container.layout-style_2 #post-likes a,
.single-portfolio-post-container.layout-style_10 #post-likes a,
.single-portfolio-post-container.layout-style_11 #post-likes a {
	text-decoration: none;
	display: inline-block;
	padding: 32px 0 0 0;
	position: relative;
}

.single-portfolio-post-container.layout-style_1 #post-likes a:before,
.single-portfolio-post-container.layout-style_2 #post-likes a:before,
.single-portfolio-post-container.layout-style_10 #post-likes a:before,
.single-portfolio-post-container.layout-style_11 #post-likes a:before,
.single-portfolio-post-container.layout-style_1 #post-likes a:after,
.single-portfolio-post-container.layout-style_2 #post-likes a:after,
.single-portfolio-post-container.layout-style_10 #post-likes a:after,
.single-portfolio-post-container.layout-style_11 #post-likes a:after {
	content: "";
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 30px auto;
}

.single-portfolio-post-container.layout-style_1 #post-likes a:after,
.single-portfolio-post-container.layout-style_2 #post-likes a:after,
.single-portfolio-post-container.layout-style_10 #post-likes a:after,
.single-portfolio-post-container.layout-style_11 #post-likes a:after {
	position: absolute;
	width: 100%;
	height: 28px;
	left: 0;
	top: 0;
	z-index: 1;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	opacity: 0;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.single-portfolio-post-container.layout-style_1 #post-likes a:before,
.single-portfolio-post-container.layout-style_2 #post-likes a:before,
.single-portfolio-post-container.layout-style_10 #post-likes a:before,
.single-portfolio-post-container.layout-style_11 #post-likes a:before {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	height: 28px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}
.single-portfolio-post-container.layout-style_1 #post-likes a.activated:after,
.single-portfolio-post-container.layout-style_2 #post-likes a.activated:after,
.single-portfolio-post-container.layout-style_1 #post-likes a:hover:after,
.single-portfolio-post-container.layout-style_2 #post-likes a:hover:after,
.single-portfolio-post-container.layout-style_10 #post-likes a:hover:after,
.single-portfolio-post-container.layout-style_10 #post-likes a.activated:after,
.single-portfolio-post-container.layout-style_11 #post-likes a:hover:after,
.single-portfolio-post-container.layout-style_11 #post-likes a.activated:after {
	-webkit-animation: scaleFade 0.5s forwards;
	-moz-animation: scaleFade 0.5s forwards;
	animation: scaleFade 0.5s forwards;
}

body.rtl .single-portfolio-post-container.layout-style_1,
body.rtl .single-portfolio-post-container.layout-style_2,
body.rtl .single-portfolio-post-container.layout-style_10,
body.rtl .single-portfolio-post-container.layout-style_11 {
	.single-post-categories {
		a {
			margin: 0 0 10px 10px;
		}
	}
	.portfolio-details {
		dl {
			margin-left: 40px;
			margin-right: 0;
		}
		dt {
			margin-right: 0;
			margin-left: 20px;
		}
	}
}

.single-portfolio-post-container.layout-style_6 {
	.shortcode-images-carousel2 {
		margin-top: 90px;
	}
}

.single-portfolio-post-container.layout-style_7 {
	background-size: 48% auto;
	background-repeat: no-repeat;
	.col-media {
		visibility: hidden;
	}
}

body.rtl .single-portfolio-post-container.layout-style_7 {
	background-position: right top;
	.col-media {
		float: right;
	}
}

@media screen and (max-width: 992px) {
	.single-portfolio-post-container.layout-style_7 {
		background: none !important;
		.col-media {
			visibility: visible;
		}
	}
}

.single-portfolio-post-container.layout-style_8 {
	.post-thumbnail {
		margin-bottom: 0;
	}
}

body.rtl .single-portfolio-post-container.layout-style_8 {
	.content-wrapper {
		.col-md-8 {
			float: right;
		}
		.col-md-1 {
			float: right;
		}
		.col-md-3 {
			float: left;
		}
	}
}

.single-portfolio-post-container.layout-style_9 {
	.portfolio-details {
		display: inline-block;
		dl, dt, dd {
			display: block;
			padding: 0;
			margin: 0;
		}
		dl {
			padding-bottom: 18px;
			margin-bottom: 18px;
		}
		dt {
			display: none;
		}
	}
	.post-thumbnail {
		margin-bottom: 125px;
	}
	.shortcode-images-carousel {
		margin-bottom: 175px;
	}
}

body.rtl .single-portfolio-post-container.layout-style_9 {
	.content-wrapper {
		.col-md-4 {
			float: right;
		}
		.col-md-8 {
			float: left;
		}
	}
}

.single-portfolio-post-container.layout-style_10 {
	.swiper-pagination {
		display: none;
	}
	.shortcode-images-carousel2 {
		margin-bottom: 34px;
	}
}

.single-portfolio-post-container.layout-style_11 .portfolio-single-gallery {
	margin-top: 30px;
}

.single-portfolio-post-container.layout-style_13 {
	.post-header-media {
		text-align: center;
		img {
			display: block;
			margin: 0 auto;
		}
	}
}
