/*------------------------------------------------------------------
[ASIDE.CSS - Sidebar styles]
[Table of contents]

1. Sidebar layout, shared styles
2. Widgets
	2.1 Calendar widget
	2.2 Dropdowns
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	1. Sidebar layout, shared styles
-------------------------------------------------------------------*/
body.sidebar-left #content {
  float: right;
}
body.sidebar-left #sidebar {
  float: left;
}
aside table,
.footer-widgets table {
  width: 100%;
}
aside table td,
.footer-widgets table td,
aside table th,
.footer-widgets table th {
  padding: 5px;
}
aside table caption,
.footer-widgets table caption {
  padding: 8px;
}
@media screen and (max-width: 992px) {
  aside {
    margin-top: 70px;
  }
}
/*------------------------------------------------------------------
	2. Widgets
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	2.1 Calendar widget
-------------------------------------------------------------------*/
.widget_calendar table,
.widget_calendar th {
  text-align: center;
}
/*------------------------------------------------------------------
	2.2 Dropdowns
-------------------------------------------------------------------*/
.widget_archive label,
.widget_categories label {
  display: none;
}
