/*------------------------------------------------------------------
[Dynamic styles for Latest News widget]
[Table of contents]

1. Shared styles
2. Rounded style
3. Text style
4. Footer colors
-------------------------------------------------------------------*/
/** preloader colors **/
/** layout **/
/** base typography **/
/** links colors **/
/** boxes **/
/** content elements **/
/** dropcaps **/
/** accent colors **/
/** gradients **/
/** borders and backgrounds **/
/** buttons **/
/** forms **/
/** top bar **/
/** menu styles **/
/** submenu styles **/
/** second menu **/
/** second menu **/
/** breadcrumbs **/
/** header **/
/** header text color **/
/** menu container **/
/** footer **/
/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.wproto_news_widget ul,
.wproto_news_widget ul li {
  margin: 0;
  padding: 0;
}
.wproto_news_widget ul li:before {
  display: none;
}
.wproto_news_widget ul li {
  position: relative;
  margin-bottom: 30px;
  min-height: 80px;
}
.wproto_news_widget ul li .element-content {
  padding-left: 100px;
}
.wproto_news_widget ul li.without-thumb {
  min-height: 1px;
}
.wproto_news_widget ul li.without-thumb .element-content {
  padding-left: 0;
}
.wproto_news_widget .thumb {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 80px;
  height: 80px;
}
.wproto_news_widget .thumb img {
  display: block;
}
.wproto_news_widget .thumb:before {
  content: '';
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition: all 0.4s;
}
.wproto_news_widget li:hover .thumb:before {
  opacity: 1;
}
.wproto_news_widget .button {
  margin-top: 34px;
}
.wproto_news_widget .author {
  color: #0081ff;
  font-size: 14px;
  line-height: 1.4em;
}
.wproto_news_widget .title-text {
  color: #252525;
  font-weight: bold;
  margin-bottom: 6px;
  transition: all 0.3s;
}
.wproto_news_widget .time {
  margin-bottom: 4px;
  color: #8799a3;
  font-family: Raleway;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4em;
}
.wproto_news_widget li:hover .title-text {
  color: #636363;
}
body.rtl .wproto_news_widget ul li .element-content {
  padding-right: 100px;
  padding-left: 0;
}
body.rtl .wproto_news_widget ul li.without-thumb .element-content {
  padding-right: 0;
}
body.rtl .wproto_news_widget .thumb {
  right: 0;
  left: auto;
}
/*------------------------------------------------------------------
	2. Rounded style
-------------------------------------------------------------------*/
.wproto_news_widget .style-rounded .thumb img,
.wproto_news_widget .style-rounded .thumb:before {
  border-radius: 5px;
}
.wproto_news_widget .style-rounded .thumb:before {
  background: rgba(255, 255, 255, 0.7);
}
/*------------------------------------------------------------------
	3. Text style
-------------------------------------------------------------------*/
.wproto_news_widget .style-text ul li {
  padding-bottom: 22px;
  margin-bottom: 22px;
}
.wproto_news_widget .style-text ul li .element-content {
  padding-left: 0;
  padding-right: 0;
}
.wproto_news_widget .style-text ul li:last-of-type {
  margin-bottom: 0;
}
.wproto_news_widget .style-text ul li:after {
  content: '';
  border-bottom: 2px solid #f3f4f6;
  width: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.wproto_news_widget .style-text .author,
.wproto_news_widget .style-text .time {
  display: inline-block;
  font-family: Sarala;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4em;
}
.wproto_news_widget .style-text .author {
  margin-right: 30px;
}
/*------------------------------------------------------------------
	4. Footer colors
-------------------------------------------------------------------*/
#footer-widgets .wproto_news_widget .author {
  color: #0081ff;
}
#footer-widgets .wproto_news_widget .title-text {
  color: #464646;
}
#footer-widgets .wproto_news_widget .time {
  color: #ffffff;
}
#footer-widgets .wproto_news_widget li:hover .title-text {
  color: #0081ff;
}
#footer-widgets .wproto_news_widget .style-rounded .thumb:before {
  background: rgba(0,0,0,0.1);
}
#footer-widgets .wproto_news_widget .style-text ul li:after {
  border-color: rgba(0,0,0,0);
}
