/*------------------------------------------------------------------
[BENEFITS.CSS - Benefits shortcode static styles]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.shortcode-benefits {
	.icon svg {
		width: 50px;
		height: 50px;
	}
	.icon i {
		font-size: 50px;
	}
	a {
		text-decoration: none;
	}
	h4 {
		margin-bottom: 16px;
		transition: all 0.3s;
	}
	.item-inside {
		position: relative;
	}
	.item {
		margin-bottom: 70px;
	}
	.benefit-text {
		padding-left: 80px;
	}
	.no-icon .benefit-text {
		padding-left: 0;
	}
	.icon {
		position: absolute;
		left: 0;
		top: 5px;
	}
	.button {
		margin-top: 20px;
	}
}
.shortcode-benefits.with-borders {
	.item {
		padding-right: 35px;
		padding-left: 35px;
	}
	.item:after {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 1px;
	}
}
@media screen and (max-width: 992px) {
	.shortcode-benefits.with-borders {
		.item:after {
			display: none;
		}
	}
}
.shortcode-benefits.with-borders.cols-1 {
	.item:after {
		display: none;
	}
}
.shortcode-benefits.with-borders.cols-2 {
	.item:nth-child(2n):after {
		display: none;
	}
}
.shortcode-benefits.with-borders.cols-3 {
	.item:nth-child(3n):after {
		display: none;
	}
}
.shortcode-benefits.with-borders.cols-4 {
	.item:nth-child(4n):after {
		display: none;
	}
}
body.rtl .shortcode-benefits {
	.benefit-text {
		padding-right: 80px;
		padding-left: 0;
	}
	.no-icon .benefit-text {
		padding-right: 0;
	}
	.icon {
		left: auto;
		right: 0;
	}
}
@media screen and (max-width: 767px) {
	.shortcode-benefits {
		.icon svg {
			width: 35px;
		}
		.icon i {
			font-size: 35px;
		}
		.benefit-text {
			padding-left: 50px;
		}
		.no-icon .benefit-text {
			padding-left: 0;
		}
	}
	body.rtl .shortcode-benefits {
		.benefit-text {
			padding-right: 50px;
		}
		.no-icon .benefit-text {
			padding-right: 0;
		}
	}
}
.shortcode-benefits.icon-position-top {
	.benefit-text {
		padding-left: 0;
		padding-right: 0;
		padding-top: 85px;
	}
	.icon {
		top: 0;
	}
	.icon svg {
		width: 50px;
	}
	.icon i {
		font-size: 50px;
	}
}
body.rtl .shortcode-benefits.icon-position-top {
	.benefit-text {
		padding-right: 0;
	}
}
.shortcode-benefits.icon-position-center,
body.rtl .shortcode-benefits.icon-position-center {
	.item {
		text-align: center;
	}
	.benefit-text {
		padding-left: 0;
		padding-right: 0;
		padding-top: 85px;
	}
	.icon {
		left: 0;
		right: 0;
		img, svg {
			display: inline-block;
		}
	}
}
@media screen and (max-width: 767px) {
	.shortcode-benefits.icon-position-center {
		.icon svg {
			width: 50px;
		}
		.icon i {
			font-size: 50px;
		}
	}
}
