/*------------------------------------------------------------------
[BENEFITS_MODERN_VARIABLE.CSS - Benefits shortcode variable styles]
[Table of contents]

1. Shared styles
2. White styles
3. Colorful styles
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.shortcode-benefits-modern {
	h4 {
		@text_font_size: @primary_font_size + 2;
		font-size: ~'@{text_font_size}px';
		line-height: 1.4em;
	}
}

/*------------------------------------------------------------------
	2. White styles
-------------------------------------------------------------------*/
.shortcode-benefits-modern.style-white {
	.icon {
		i {
			color: @color_accent_blue;
		}
		svg {
			path, rect, polygon, circle {
				fill: @color_accent_blue;
			}
		}
	}
	.item:hover h4 {
		color: @color_accent_blue;
	}
	.line {
		background: rgba( red( @color_accent_light_grey ), green( @color_accent_light_grey ), blue( @color_accent_light_grey ), 0.7 );
	}
	.btn {
		@color_escaped: escape( ~'@{color_accent_grey}' );
		background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%22284.935px%22%20height%3D%22284.936px%22%20viewBox%3D%220%200%20284.935%20284.936%22%20style%3D%22enable-background%3Anew%200%200%20284.935%20284.936%3B%22%0A%09%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M222.701%2C135.9L89.652%2C2.857C87.748%2C0.955%2C85.557%2C0%2C83.084%2C0c-2.474%2C0-4.664%2C0.955-6.567%2C2.857L62.244%2C17.133%0A%09%09c-1.906%2C1.903-2.855%2C4.089-2.855%2C6.567c0%2C2.478%2C0.949%2C4.664%2C2.855%2C6.567l112.204%2C112.204L62.244%2C254.677%0A%09%09c-1.906%2C1.903-2.855%2C4.093-2.855%2C6.564c0%2C2.477%2C0.949%2C4.667%2C2.855%2C6.57l14.274%2C14.271c1.903%2C1.905%2C4.093%2C2.854%2C6.567%2C2.854%0A%09%09c2.473%2C0%2C4.663-0.951%2C6.567-2.854l133.042-133.044c1.902-1.902%2C2.854-4.093%2C2.854-6.567S224.603%2C137.807%2C222.701%2C135.9z%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E")';
	}
	.btn:hover {
		@color_escaped: escape( ~'@{color_accent_blue}' );
		background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%22284.935px%22%20height%3D%22284.936px%22%20viewBox%3D%220%200%20284.935%20284.936%22%20style%3D%22enable-background%3Anew%200%200%20284.935%20284.936%3B%22%0A%09%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M222.701%2C135.9L89.652%2C2.857C87.748%2C0.955%2C85.557%2C0%2C83.084%2C0c-2.474%2C0-4.664%2C0.955-6.567%2C2.857L62.244%2C17.133%0A%09%09c-1.906%2C1.903-2.855%2C4.089-2.855%2C6.567c0%2C2.478%2C0.949%2C4.664%2C2.855%2C6.567l112.204%2C112.204L62.244%2C254.677%0A%09%09c-1.906%2C1.903-2.855%2C4.093-2.855%2C6.564c0%2C2.477%2C0.949%2C4.667%2C2.855%2C6.57l14.274%2C14.271c1.903%2C1.905%2C4.093%2C2.854%2C6.567%2C2.854%0A%09%09c2.473%2C0%2C4.663-0.951%2C6.567-2.854l133.042-133.044c1.902-1.902%2C2.854-4.093%2C2.854-6.567S224.603%2C137.807%2C222.701%2C135.9z%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E")';
	}
}

/*------------------------------------------------------------------
	3. Colorful styles
-------------------------------------------------------------------*/
.shortcode-benefits-modern.style-colorful {
	h4, .desc, a, a:hover {
		color: #fff;
	}
	.icon {
		i {
			color: #fff;
		}
		svg {
			path, rect, polygon, circle {
				fill: #fff;
			}
		}
	}
	.line {
		background: rgba(255,255,255,0.1);
	}
	.btn {
		@color_escaped: escape( ~'#ffffff' );
		background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%22284.935px%22%20height%3D%22284.936px%22%20viewBox%3D%220%200%20284.935%20284.936%22%20style%3D%22enable-background%3Anew%200%200%20284.935%20284.936%3B%22%0A%09%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M222.701%2C135.9L89.652%2C2.857C87.748%2C0.955%2C85.557%2C0%2C83.084%2C0c-2.474%2C0-4.664%2C0.955-6.567%2C2.857L62.244%2C17.133%0A%09%09c-1.906%2C1.903-2.855%2C4.089-2.855%2C6.567c0%2C2.478%2C0.949%2C4.664%2C2.855%2C6.567l112.204%2C112.204L62.244%2C254.677%0A%09%09c-1.906%2C1.903-2.855%2C4.093-2.855%2C6.564c0%2C2.477%2C0.949%2C4.667%2C2.855%2C6.57l14.274%2C14.271c1.903%2C1.905%2C4.093%2C2.854%2C6.567%2C2.854%0A%09%09c2.473%2C0%2C4.663-0.951%2C6.567-2.854l133.042-133.044c1.902-1.902%2C2.854-4.093%2C2.854-6.567S224.603%2C137.807%2C222.701%2C135.9z%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E")';
	}
}
