/*------------------------------------------------------------------
[BENEFITS_VARIABLE.CSS - Benefits shortcode variable styles]
[Table of contents]

1. Shared styles
2. Colorful styles
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.shortcode-benefits {
	.icon {
		color: @color_accent_blue;
	}
	svg {
		path, rect, polygon, circle {
			fill: @color_accent_blue;
		}
	}
	h4 {
		color: @h4_font_color;
		@text_font_size: @primary_font_size + 2;
		font-size: ~'@{text_font_size}px';
		line-height: 1.4em;
	}
	.desc {
		color: @primary_font_color;
	}
	.item:hover {
		h4 {
			color: @color_accent_grey;
		}
		.icon {
			color: @color_accent_grey;
		}
		svg {
			path, rect, polygon, circle {
				fill: @color_accent_grey;
			}
		}
	}
}
.shortcode-benefits.with-borders {
	.item:after {
		background: darken( @color_hr_border, 5% );
	}
}
/*------------------------------------------------------------------
	2. Colorful styles
-------------------------------------------------------------------*/
.shortcode-benefits.style-colorful {
	h4, .item:hover h4, .desc {
		color: #fff;
	}
	.item:hover {
		h4 {
			color: #fff;
		}
		.icon {
			color: #fff;
		}
		svg {
			path, rect, polygon, circle {
				fill: #fff;
			}
		}
	}
}
.shortcode-benefits.style-colorful.items-accent-blue {
	.icon {
		color: @color_accent_blue;
	}
	svg {
		path, rect, polygon, circle {
			fill: @color_accent_blue;
		}
	}
}
.shortcode-benefits.style-colorful.items-accent-black {
	.icon {
		color: @color_accent_black;
	}
	svg {
		path, rect, polygon, circle {
			fill: @color_accent_black;
		}
	}
}
.shortcode-benefits.style-colorful.items-accent-grey {
	.icon {
		color: @color_accent_grey;
	}
	svg {
		path, rect, polygon, circle {
			fill: @color_accent_grey;
		}
	}
}
.shortcode-benefits.style-colorful.items-accent-light_grey {
	.icon {
		color: @color_accent_light_grey;
	}
	svg {
		path, rect, polygon, circle {
			fill: @color_accent_light_grey;
		}
	}
}
.shortcode-benefits.style-colorful.items-accent-red {
	.icon {
		color: @color_accent_red;
	}
	svg {
		path, rect, polygon, circle {
			fill: @color_accent_red;
		}
	}
}
.shortcode-benefits.style-colorful.items-accent-orange {
	.icon {
		color: @color_accent_orange;
	}
	svg {
		path, rect, polygon, circle {
			fill: @color_accent_orange;
		}
	}
}
.shortcode-benefits.style-colorful.items-accent-green {
	.icon {
		color: @color_accent_green;
	}
	svg {
		path, rect, polygon, circle {
			fill: @color_accent_green;
		}
	}
}
.shortcode-benefits.style-colorful.items-accent-turquoise {
	.icon {
		color: @color_accent_turquoise;
	}
	svg {
		path, rect, polygon, circle {
			fill: @color_accent_turquoise;
		}
	}
}
.shortcode-benefits.style-colorful.items-accent-yellow {
	.icon {
		color: @color_accent_yellow;
	}
	svg {
		path, rect, polygon, circle {
			fill: @color_accent_yellow;
		}
	}
}
.shortcode-benefits.style-colorful.items-accent-purple {
	.icon {
		color: @color_accent_purple;
	}
	svg {
		path, rect, polygon, circle {
			fill: @color_accent_purple;
		}
	}
}
.shortcode-benefits.style-colorful.items-accent-dark_purple {
	.icon {
		color: @color_accent_dark_purple;
	}
	svg {
		path, rect, polygon, circle {
			fill: @color_accent_dark_purple;
		}
	}
}
