/*------------------------------------------------------------------
[BLOG_SCROLL_POSTS.CSS - Scroll posts block static styles]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.shortcode-blog-scroll-posts {
	padding: 20px;
	box-sizing: border-box;
	.item {
		padding: 25px 20px;
		position: relative;
	}
	.item:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 20px;
		width: 60px;
		height: 2px;
		opacity: 0.5;
	}
	h4, .post-excerpt {
		margin-bottom: 14px;
	}
	a {
		transition: all 0.3s;
		text-decoration: none;
	}
	.author {
		margin-right: 25px;
	}
}

body.rtl .shortcode-blog-scroll-posts {
	.item:after {
		left: auto;
		right: 20px;
	}
	.author {
		margin-right: 0;
	}
	.date {
		margin-left: 25px;
	}
}
