/*------------------------------------------------------------------
[BLOG_2COLS.CSS - Blog 2 cols list shortcode variable styles]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.shortcode-blog-2cols {
	article {
		border-bottom: 2px solid @color_hr_border;
	}
	.post-media {
		img, iframe, .overlay {
			border-radius: ~'@{content_elements_radius}px';
		}
	}
	article.format-quote {
		background-color: @color_accent_blue;
		.post-date {
			color: @color_accent_inner;
		}
		blockquote {
			border-radius: ~'@{content_elements_radius}px';
		}
	}
	article.format-link {
		background-color: @color_accent_grey;
		color: @color_accent_inner;
		.post-date, .title, .title a {
			color: @color_accent_inner;
		}
		.excerpt {
			color: @color_accent_light_grey;
			font-size: ~'@{small_font_size}px';
			line-height: ~'@{small_font_line_height}px';
		}
	}
	.post-date {
		font-family: @secondary_font_family;
		color: @color_accent_grey;
		font-size: ~'@{smaller_font_size}px';
		line-height: ~'@{smaller_font_line_height}px';
	}
	h2 {
		font-size: ~'@{h6_font_size}px';
		line-height: ~'@{h6_font_line_height}px';
		a {
			color: @color_text_darken;
		}
		a:hover {
			color: @color_text_lighten;
		}
	}
	.post-categories, .post-author, .post-likes, .post-comments {
		font-size: ~'@{small_font_size}px';
		line-height: ~'@{small_font_line_height}px';
		color: @color_text_lighten;
	}
	.swiper-pagination-bullet {
		background-color: @color_accent_grey;
	}
	.swiper-pagination-bullet-active {
		background-color: @color_accent_blue;
	}
	.post-comments {
		a {
			font-size: ~'@{small_font_size}px';
			line-height: ~'@{small_font_line_height}px';
			color: @primary_font_color;
		}
		a:hover {
			color: @color_accent_blue;
		}
		.icon-comments {
			line-height: ~'@{small_font_line_height}px';
			@color_escaped: escape( ~'@{color_accent_grey}' );
			background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%2064%2064%22%20style%3D%22enable-background%3Anew%200%200%2064%2064%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cg%3E%0A%09%09%3Cg%3E%0A%09%09%09%3Cg%3E%0A%09%09%09%09%3Cpath%20style%3D%22stroke%3A@{color_escaped}%3Bstroke-width%3A4%3Bstroke-miterlimit%3A10%3B%22%20d%3D%22M21%2C45.815%22%2F%3E%0A%09%09%09%3C%2Fg%3E%0A%09%09%3C%2Fg%3E%0A%09%09%3Cg%3E%0A%09%09%09%3Cg%3E%0A%09%09%09%09%3Cpolygon%20fill%3D%22@{color_escaped}%22%20points%3D%2219%2C61.185%2019%2C47.815%200%2C47.815%200%2C2.815%2064%2C2.815%2064%2C47.815%2046.667%2C47.815%2046.667%2C43.815%2060%2C43.815%2060%2C6.815%20%0A%09%09%09%09%094%2C6.815%204%2C43.815%2023%2C43.815%2023%2C54.446%2042.042%2C44.06%2043.958%2C47.571%22%2F%3E%0A%09%09%09%3C%2Fg%3E%0A%09%09%3C%2Fg%3E%0A%09%09%3Cg%3E%0A%09%09%09%3Cg%3E%0A%09%09%09%09%3Crect%20fill%3D%22@{color_escaped}%22%20x%3D%2211%22%20y%3D%2214.815%22%20width%3D%2242%22%20height%3D%224%22%2F%3E%0A%09%09%09%3C%2Fg%3E%0A%09%09%3C%2Fg%3E%0A%09%09%3Cg%3E%0A%09%09%09%3Cg%3E%0A%09%09%09%09%3Crect%20fill%3D%22@{color_escaped}%22%20x%3D%2246%22%20y%3D%2223.815%22%20width%3D%227%22%20height%3D%224%22%2F%3E%0A%09%09%09%3C%2Fg%3E%0A%09%09%3C%2Fg%3E%0A%09%09%3Cg%3E%0A%09%09%09%3Cg%3E%0A%09%09%09%09%3Crect%20fill%3D%22@{color_escaped}%22%20x%3D%2234%22%20y%3D%2223.815%22%20width%3D%2210%22%20height%3D%224%22%2F%3E%0A%09%09%09%3C%2Fg%3E%0A%09%09%3C%2Fg%3E%0A%09%09%3Cg%3E%0A%09%09%09%3Cg%3E%0A%09%09%09%09%3Crect%20fill%3D%22@{color_escaped}%22%20x%3D%2222%22%20y%3D%2223.815%22%20width%3D%2210%22%20height%3D%224%22%2F%3E%0A%09%09%09%3C%2Fg%3E%0A%09%09%3C%2Fg%3E%0A%09%09%3Cg%3E%0A%09%09%09%3Cg%3E%0A%09%09%09%09%3Crect%20fill%3D%22@{color_escaped}%22%20x%3D%2211%22%20y%3D%2223.815%22%20width%3D%229%22%20height%3D%224%22%2F%3E%0A%09%09%09%3C%2Fg%3E%0A%09%09%3C%2Fg%3E%0A%09%09%3Cg%3E%0A%09%09%09%3Cg%3E%0A%09%09%09%09%3Crect%20fill%3D%22@{color_escaped}%22%20x%3D%2226%22%20y%3D%2232.815%22%20width%3D%2218%22%20height%3D%224%22%2F%3E%0A%09%09%09%3C%2Fg%3E%0A%09%09%3C%2Fg%3E%0A%09%09%3Cg%3E%0A%09%09%09%3Cg%3E%0A%09%09%09%09%3Crect%20fill%3D%22@{color_escaped}%22%20x%3D%2211%22%20y%3D%2232.815%22%20width%3D%2213%22%20height%3D%224%22%2F%3E%0A%09%09%09%3C%2Fg%3E%0A%09%09%3C%2Fg%3E%0A%09%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A")';
		}
	}
	.post-likes {
		.like-post {
			font-size: ~'@{small_font_size}px';
			line-height: ~'@{small_font_line_height}px';
			color: @primary_font_color;
		}
		.like-post:hover {
			color: @color_accent_blue;
		}
		a:before {
			@color_escaped: escape( ~'@{color_accent_grey}' );
			background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%20511.626%20511.626%22%20style%3D%22enable-background%3Anew%200%200%20511.626%20511.626%3B%22%0A%09%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M475.366%2C71.949c-24.175-23.606-57.575-35.404-100.215-35.404c-11.8%2C0-23.843%2C2.046-36.117%2C6.136%0A%09%09c-12.279%2C4.093-23.702%2C9.615-34.256%2C16.562c-10.568%2C6.945-19.65%2C13.467-27.269%2C19.556c-7.61%2C6.091-14.845%2C12.564-21.696%2C19.414%0A%09%09c-6.854-6.85-14.087-13.323-21.698-19.414c-7.616-6.089-16.702-12.607-27.268-19.556c-10.564-6.95-21.985-12.468-34.261-16.562%0A%09%09c-12.275-4.089-24.316-6.136-36.116-6.136c-42.637%2C0-76.039%2C11.801-100.211%2C35.404C12.087%2C95.55%2C0%2C128.286%2C0%2C170.16%0A%09%09c0%2C12.753%2C2.24%2C25.891%2C6.711%2C39.398c4.471%2C13.514%2C9.566%2C25.031%2C15.275%2C34.546c5.708%2C9.514%2C12.181%2C18.792%2C19.414%2C27.834%0A%09%09c7.233%2C9.041%2C12.519%2C15.272%2C15.846%2C18.698c3.33%2C3.426%2C5.948%2C5.903%2C7.851%2C7.427L243.25%2C469.938%0A%09%09c3.427%2C3.426%2C7.614%2C5.144%2C12.562%2C5.144s9.138-1.718%2C12.563-5.144l177.87-171.31c43.588-43.58%2C65.38-86.406%2C65.38-128.472%0A%09%09C511.626%2C128.279%2C499.54%2C95.546%2C475.366%2C71.949z%20M421.405%2C271.795L255.813%2C431.391L89.938%2C271.507%0A%09%09C54.344%2C235.922%2C36.55%2C202.133%2C36.55%2C170.156c0-15.415%2C2.046-29.026%2C6.136-40.824c4.093-11.8%2C9.327-21.177%2C15.703-28.124%0A%09%09c6.377-6.949%2C14.132-12.607%2C23.268-16.988c9.141-4.377%2C18.086-7.328%2C26.84-8.85c8.754-1.52%2C18.079-2.281%2C27.978-2.281%0A%09%09c9.896%2C0%2C20.557%2C2.424%2C31.977%2C7.279c11.418%2C4.853%2C21.934%2C10.944%2C31.545%2C18.271c9.613%2C7.332%2C17.845%2C14.183%2C24.7%2C20.557%0A%09%09c6.851%2C6.38%2C12.559%2C12.229%2C17.128%2C17.559c3.424%2C4.189%2C8.091%2C6.283%2C13.989%2C6.283c5.9%2C0%2C10.562-2.094%2C13.99-6.283%0A%09%09c4.568-5.33%2C10.28-11.182%2C17.131-17.559c6.852-6.374%2C15.085-13.222%2C24.694-20.557c9.613-7.327%2C20.129-13.418%2C31.553-18.271%0A%09%09c11.416-4.854%2C22.08-7.279%2C31.977-7.279s19.219%2C0.761%2C27.977%2C2.281c8.757%2C1.521%2C17.702%2C4.473%2C26.84%2C8.85%0A%09%09c9.137%2C4.38%2C16.892%2C10.042%2C23.267%2C16.988c6.376%2C6.947%2C11.612%2C16.324%2C15.705%2C28.124c4.086%2C11.798%2C6.132%2C25.409%2C6.132%2C40.824%0A%09%09C475.078%2C202.133%2C457.19%2C236.016%2C421.405%2C271.795z%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A")';
		}
		a:after, a.clicked:before {
			@color_escaped: escape( ~'@{color_accent_red}' );
			background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%20511.626%20511.627%22%20style%3D%22enable-background%3Anew%200%200%20511.626%20511.627%3B%22%0A%09%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M475.366%2C71.951c-24.175-23.606-57.575-35.404-100.215-35.404c-11.8%2C0-23.843%2C2.046-36.117%2C6.136%0A%09%09c-12.279%2C4.093-23.702%2C9.615-34.256%2C16.562c-10.568%2C6.945-19.65%2C13.467-27.269%2C19.556c-7.61%2C6.091-14.845%2C12.564-21.696%2C19.414%0A%09%09c-6.854-6.85-14.087-13.323-21.698-19.414c-7.616-6.089-16.702-12.607-27.268-19.556c-10.564-6.95-21.985-12.468-34.261-16.562%0A%09%09c-12.275-4.089-24.316-6.136-36.116-6.136c-42.637%2C0-76.039%2C11.801-100.211%2C35.404C12.087%2C95.552%2C0%2C128.288%2C0%2C170.162%0A%09%09c0%2C12.753%2C2.24%2C25.889%2C6.711%2C39.398c4.471%2C13.514%2C9.566%2C25.031%2C15.275%2C34.546c5.708%2C9.514%2C12.181%2C18.796%2C19.414%2C27.837%0A%09%09c7.233%2C9.042%2C12.519%2C15.27%2C15.846%2C18.699c3.33%2C3.422%2C5.948%2C5.899%2C7.851%2C7.419L243.25%2C469.937c3.427%2C3.429%2C7.614%2C5.144%2C12.562%2C5.144%0A%09%09s9.138-1.715%2C12.563-5.137l177.87-171.307c43.588-43.583%2C65.38-86.41%2C65.38-128.475C511.626%2C128.288%2C499.537%2C95.552%2C475.366%2C71.951%0A%09%09z%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A")';
		}
	}
}

@media screen and (max-width: 992px) {
	.shortcode-blog {
		h2 {
			font-size: ~'@{h6_font_size_mobile}px';
			line-height: ~'@{h6_font_line_height_mobile}px';
		}
	}
}
