/*------------------------------------------------------------------
[BLOG_MINIMAL.CSS - Blog minimal shortcode static styles]
[Table of contents]

1. Shared styles
2. Hover style
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.shortcode-blog-minimal {
	margin-bottom: 60px;
	transition: opacity 0.3s;
	.post-date {
		font-weight: bold;
	}
	a {
		text-decoration: none;
		transition: all 0.3s;
	}
	h2 {
		margin-bottom: 24px;
	}
	.post-excerpt {
		blockquote {
			padding: 0;
			margin: 0;
			background: none !important;
			p {
				margin: 0;
			}
			cite {
				display: block;
				padding-top: 20px;
			}
		}
	}
	article .row {
		padding-bottom: 55px;
		margin-bottom: 55px;
	}
	dl.post-data {
		margin: 0;
		padding: 0;
		dt {
			float: left;
			margin: 0 7px 10px 0;
		}
		dd {
			margin: 0 0 10px 0;
		}
	}
	.pagination.style-numeric {
		box-shadow: none;
		.next, .prev {
			text-indent: -5555em;
			border: 0;
			padding: 0;
			width: 25px;
		}
		.prev {
			background-position: left center;
		}
		.next {
			background-position: right center;
		}
		.current {
			background: transparent;
			box-shadow: none;
		}
	}
}

@media screen and (max-width: 992px) {
	.shortcode-blog-minimal .col {
		margin-bottom: 18px;
	}
	.shortcode-blog-minimal .col:last-of-type {
		margin-bottom: 0;
	}
	.shortcode-blog-minimal .format-link .post-excerpt {
		word-break: break-all;
	}
}

.shortcode-blog-minimal.loading {
	opacity: 0.5;
}

body.rtl .shortcode-blog-minimal {
	dl.post-data {
		dt {
			float: right;
			margin: 0 0 10px 7px;
		}
	}
	.pagination.style-numeric {
		.prev {
			background-position: right center;
		}
		.next {
			background-position: left center;
		}
	}
}

/*------------------------------------------------------------------
	2. Hover style
-------------------------------------------------------------------*/
.shortcode-blog-minimal.style-thumbs_bg {
	article {
		.row {
			padding: 125px 0;
			margin-bottom: 0;
		}
	}
	article.has-media {
		position: relative;
		background-position: center center;
		background-size: cover;
		.container {
			position: relative;
			z-index: 3;
		}
		.video-bg {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;
		}
		.overlay {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 2;
			transition: all 0.3s;
		}
		.row {
			border: none;
		}
	}
}

@media screen and (max-width: 992px) {
	.shortcode-blog-minimal.style-thumbs_bg {
		article .row {
			padding: 75px 0;
		}
	}
}
