/*------------------------------------------------------------------
[CONTACT_INFO.CSS - Contact information shortcode static styles]
[Table of contents]

1. Iconic style
2. Boxed style
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Iconic style
-------------------------------------------------------------------*/
.contact-info.style-iconic {
	margin-bottom: 34px;
	.content-row {
		display: table;
		margin-bottom: 30px;
	}
	.icon {
		width: 90px;
		text-align: center;
	}
	.text {
		padding-right: 15px;
	}
	.icon, .text-container {
		display: table-cell;
		vertical-align: middle;
	}
	svg {
		width: 40px;
		display: inline-block;
	}
	a {
		text-decoration: none;
	}
}
.ie11, .ie10 {
	.contact-info.style-iconic svg {
		height: 40px;
	}
}

/*------------------------------------------------------------------
	2. Boxed style
-------------------------------------------------------------------*/
.contact-info.style-grid {
	dl dt {
		float: left;
		margin-right: 5px;
		font-weight: normal;
	}
	dl dd {
		margin-bottom: 5px;
	}
	a {
		text-decoration: none;
	}
	h4 {
		margin-bottom: 14px;
		transition: color 0.3s;
	}
	.inside {
		transition: all 0.3s;
		padding: 30px 40px;
	}
}
