
.shortcode-presentation {
	position: relative;
	transition: .5s height ease-in-out;
	.row {
		display: table;
		width: 100%;
		margin: 0;
	}
	.col {
		display: table-cell;
		vertical-align: middle;
		float: none;
	}
	.col-text {
		padding: 115px 140px;
	}
	.swiper-pagination {
		position: absolute;
		right: 50px;
		top: 50%;
		transform: translate3d(0,-50%,0);
		.swiper-pagination-bullet {
			display: block;
			margin: 7px 0;
		}
	}
	.col-thumb {
		position: relative;
		a {
			position: absolute;
			background-size: 60px auto;
			background-position: center center;
			background-repeat: no-repeat;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		.overlay {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			transition: opacity 0.3s;
			opacity: 0.7;
		}
	}
	.col-thumb:hover {
		.overlay {
			opacity: 0.6;
		}
	}
}

@media screen and (max-width: 1199px) {
	.shortcode-presentation {
		.row, .col {
			display: block;
			width: 100%;
		}
		.col-thumb {
			height: 300px;
		}
		.swiper-pagination {
			top: 150px;
			right: 15px;
		}
	}
}

@media screen and (max-width: 767px) {
	.shortcode-presentation {
		.col-text {
			padding: 50px;
		}
	}
}
