/*------------------------------------------------------------------
[TABLE_VARIABLE.CSS - Table / Pricing Tables shortcode, variable styles]
[Table of contents]

1. Simple tables
	1.1 Simple table, style 2
	1.2 Simple table, style 3
	1.3 Simple table, style 4
	1.4 Simple table, style 5
2. Pricing tables
	2.1 Pricing table style 1
	2.2 Pricing table style 2
	2.3 Pricing table style 3
	2.4 Pricing table style 4
	2.5 Pricing table style 5
	2.6 Pricing table style 6
	2.7 Pricing table style 7
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Simple tables
-------------------------------------------------------------------*/
.fw-table table thead {
	font-family: @secondary_font_family;
}
/*------------------------------------------------------------------
	1.1 Simple table, style 2
-------------------------------------------------------------------*/
.fw-table.style-2 {
	table thead {
		background-color: lighten( @color_accent_light_grey, 5%);
		th {
			color: @color_accent_black;
			border-color: lighten( @color_accent_light_grey, 5% );
			font-size: ~'@{primary_font_size}px';
		}
	}
	table, tr td, th {
		border-bottom: 2px solid @color_hr_border;
	}
	tr:nth-child(even) td, tbody tr:nth-child(even) th {
		background-color: transparent;
	}
	table tbody tr:hover td, table tbody tr:hover th {
		color: @color_accent_black;
		border-color: lighten( @color_accent_light_grey, 5% );
	}
	table tbody tr:hover td, table tbody tr:hover th {
		box-shadow: ~'0px 5px 30px 0px @{color_accent_light_grey_shadow}';
	}
}
/*------------------------------------------------------------------
	1.2 Simple table, style 3
-------------------------------------------------------------------*/
.fw-table.style-3 {
	table thead {
		background-color: @color_accent_blue;
		th {
			color: @color_accent_inner;
			border-color: lighten( @color_accent_blue, 5% );
			font-size: ~'@{primary_font_size}px';
		}
	}
	table, tr td, th {
		border: 1px solid @color_hr_border;
	}
	tr:nth-child(even) td, tbody tr:nth-child(even) th {
		background-color: transparent;
	}
	table tbody tr:hover td, table tbody tr:hover th {
		background-color: @color_accent_grey;
		color: @color_accent_inner;
		border-color: lighten( @color_accent_grey, 5% );
	}
	table tbody tr:hover td, table tbody tr:hover th {
		box-shadow: ~'0px 5px 30px 0px @{color_accent_grey_shadow}';
	}
}
/*------------------------------------------------------------------
	1.3 Simple table, style 4
-------------------------------------------------------------------*/
.fw-table.style-4 {
	table thead {
		background-color: transparent;
		th {
			font-size: ~'@{primary_font_size}px';
		}
	}
	table, tr td, th {
		border: 1px solid @color_hr_border;
	}
	tr:nth-child(even) td, tbody tr:nth-child(even) th {
		background-color: transparent;
	}
	table tbody tr:hover td, table tbody tr:hover th {
		color: @color_accent_black;
	}
	table tbody tr:hover td, table tbody tr:hover th {
		box-shadow: ~'0px 5px 30px 0px @{color_accent_light_grey_shadow}';
	}
}
/*------------------------------------------------------------------
	1.4 Simple table, style 5
-------------------------------------------------------------------*/
.fw-table.style-5 {
	table thead {
		background-color: @color_accent_black;
		th {
			color: @color_accent_inner;
			border-color: lighten( @color_accent_black, 5% );
			font-size: ~'@{primary_font_size}px';
		}
	}
	table, tr td, th {
		border: 1px solid @color_hr_border;
	}
	tr:nth-child(even) td, tbody tr:nth-child(even) th {
		background-color: transparent;
	}
	table tbody tr:hover td, table tbody tr:hover th {
		background-color: @color_accent_blue;
		color: @color_accent_inner;
		border-color: lighten( @color_accent_blue, 5% );
	}
	table tbody tr:hover td, table tbody tr:hover th {
		box-shadow: ~'0px 5px 30px 0px @{color_accent_blue_shadow}';
	}
}
/*------------------------------------------------------------------
	2. Pricing tables
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	2.1 Pricing table style 1
-------------------------------------------------------------------*/
.fw-pricing.style-1 {
	.fw-heading-row {
		font-family: @h5_font_family;
		font-size: ~'@{h5_font_size}px';
		color: @color_text_darken;
	}
	.fw-term-row {
		color: @color_text_lighten;
	}
	.highlight-col .fw-heading-row {
		color: @color_accent_blue;
	}
	.fw-pricing-row {

		@fw_pricing_1_price_size: @h5_font_size + 12;

		color: @color_text_darken;
		font-family: @secondary_font_family;
		font-size: ~'@{fw_pricing_1_price_size}px';
	}
	.fw-default-row {
		font-size: ~'@{smaller_font_size}px';
		line-height: ~'@{smaller_font_line_height}px';
		line-height: ~'@{smaller_font_line_height}px';
	}
	.highlight-col, .default-col:hover {
		background-color: @color_bg_white;
		border-radius: @box_radius_top_left @box_radius_top_right @box_radius_bottom_right @box_radius_bottom_left;
		box-shadow: ~'@{box_shadow_h_length}px @{box_shadow_v_length}px @{box_shadow_blur_radius}px 0px @{box_shadow_color}';
	}
	.default-col:hover {
		background-color: rgba( red( @color_bg_alt), green(@color_bg_alt), blue(@color_bg_alt), 0.5 );
	}
}
/*------------------------------------------------------------------
	2.2 Pricing table style 2
-------------------------------------------------------------------*/
.fw-pricing.style-2 {
	color: @color_accent_inner;
	.default-col .fw-package {
		background-color: @color_accent_grey;
	}
	.highlight-col .fw-package {
		background-color: @color_accent_blue;
	}
	.fw-heading-row {
		font-family: @h5_font_family;
		background-color: lighten( @color_accent_grey, 7% );
		box-shadow: 0 14px 60px -14px rgba(0,0,0,0.1);
	}
	.highlight-col .fw-heading-row {
		background-color: lighten( @color_accent_blue, 7% );
		box-shadow: 0 14px 60px -14px rgba(0,0,0,0.1);
	}
	.fw-pricing-row {
		@fw_pricing_2_price_size: @h5_font_size + 12;
		font-family: @secondary_font_family;
		font-size: ~'@{fw_pricing_2_price_size}px';
		small {
			font-size: ~'@{small_font_size}px';
			font-family: @primary_font_family;
		}
	}
	.fw-default-row {
		font-size: ~'@{smaller_font_size}px';
		line-height: ~'@{smaller_font_line_height}px';
		font-family: @primary_font_family;
	}
	.highlight-col .fw-package {
		box-shadow: ~'0px 10px 50px 0px @{color_accent_blue_shadow}';
	}
	.default-col .fw-package {
		box-shadow: ~'0px 10px 50px 0px @{color_accent_black_shadow}';
	}
}
/*------------------------------------------------------------------
	2.3 Pricing table style 3
-------------------------------------------------------------------*/
.fw-pricing.style-3 {
	.default-col, .highlight-col {
		background-color: @color_bg_white;
	}
	.highlight-col {
		box-shadow: ~'@{box_shadow_h_length}px @{box_shadow_v_length}px @{box_shadow_blur_radius}px 0px @{color_accent_blue_shadow}';
		border: 5px solid @color_accent_blue;
	}
	.fw-heading-row {
		font-family: @h5_font_family;
		font-size: ~'@{h5_font_size}px';
		color: @color_text_darken;
	}
	.highlight-col .fw-heading-row, .desc-col .fw-heading-row {
		color: @color_accent_blue;
	}
	.fw-term-row {
		color: @color_text_lighten;
	}
	.fw-pricing-row {
		@fw_pricing_3_price_size: @h5_font_size + 12;
		color: @color_text_lighten;
		font-family: @secondary_font_family;
		font-size: ~'@{fw_pricing_3_price_size}px';
	}
	.fw-default-row {
		font-size: ~'@{smaller_font_size}px';
		line-height: ~'@{smaller_font_line_height}px';
		font-family: @primary_font_family;
	}
	.desc-col {
		background-color: rgba( red(@color_accent_light_grey),green(@color_accent_light_grey),blue(@color_accent_light_grey),0.5);
		box-shadow: inset -30px 0px 30px -30px rgba(0,0,0,0.1);
	}
}
/*------------------------------------------------------------------
	2.4 Pricing table style 4
-------------------------------------------------------------------*/
.fw-pricing.style-4 {
	.default-col {
		background-color: @color_bg_white;
	}
	.highlight-col {
		background-color: @color_accent_black;
		border-radius: @box_radius_top_left @box_radius_top_right @box_radius_bottom_right @box_radius_bottom_left;
		box-shadow: ~'0px 20px 40px 0px @{color_accent_black_shadow}';
	}
	.custom-icon {
		background-color: @color_bg_white;
		box-shadow: ~'0px 10px 50px 0px @{color_accent_grey_shadow}';
		i {
			color: @color_text_lighten;
		}
		svg {
			path, rect, polygon {
				fill: @color_text_lighten;
			}
		}
	}
	.highlight-col .custom-icon {
		box-shadow: ~'0px 10px 50px 0px @{color_accent_black_shadow}';
		background-color: @color_accent_blue;
		i {
			color: @color_accent_inner;
		}
		svg {
			path, rect, polygon {
				fill: @color_accent_inner;
			}
		}
	}
	.fw-pricing-row {
		span {
			color: @color_accent_blue;
			@fw_pricing_4_price_size: @h5_font_size + 12;
			color: @color_accent_blue;
			font-family: @secondary_font_family;
			font-size: ~'@{fw_pricing_4_price_size}px';
		}
		small {
			font-size: ~'@{small_font_size}px';
			font-family: @primary_font_family;
			color: @color_text_lighten;
		}
	}
	.fw-heading-row {
		background-color: darken( @color_bg_alt, 5% );
		color: @color_text_darken;
		font-size: ~'@{smaller_font_size}px';
		line-height: ~'@{smaller_font_line_height}px';
		font-family: @secondary_font_family;
		box-shadow: inset -30px 0px 30px -30px rgba(0,0,0,0.1);
	}
	.highlight-col {
		color: @color_accent_inner;
		.fw-pricing-row span {
			color: @color_accent_inner;
		}
		.fw-pricing-row small {
			color: @color_accent_grey;
		}
		.fw-heading-row {
			background-color: darken( @color_accent_black, 5% );
			color: @color_accent_inner;
		}
	}
	.fw-default-row {
		font-size: ~'@{smaller_font_size}px';
		line-height: ~'@{smaller_font_line_height}px';
	}
	.default-col {
		box-shadow: inset -30px 0px 30px -30px rgba(0,0,0,0.1);
	}
	.default-col:hover .custom-icon {
		box-shadow: ~'0px 10px 50px 0px @{color_accent_black_shadow}';
		background-color: @color_accent_blue;
		i {
			color: @color_accent_inner;
		}
		svg {
			path, rect, polygon {
				fill: @color_accent_inner;
			}
		}
	}
}
/*------------------------------------------------------------------
	2.5 Pricing table style 5
-------------------------------------------------------------------*/
.fw-pricing.style-5 {
	.default-col .fw-package {
		background-color: @color_bg_white;
		border: 3px solid @color_accent_light_grey;
	}
	.highlight-col .fw-package {
		background-color: @color_bg_alt;
		border: 3px solid @color_bg_alt;
		box-shadow: ~'@{box_shadow_h_length}px @{box_shadow_v_length}px @{box_shadow_blur_radius}px 0px @{color_accent_light_grey}';
		.fw-heading-row {
			color: @color_accent_blue;
		}
	}
	.default-col:hover .fw-package,
	.highlight-col:hover .fw-package {
		border-color: @color_accent_blue;
	}
	.fw-heading-row, .fw-pricing-row span {
		font-family: @h2_font_family;
		font-size: ~'@{h2_font_size}px';
		color: @color_accent_grey;
	}
	.fw-pricing-row {
		span {
			color: @color_text_darken;
		}
		small {
			color: @color_text_lighten;
		}
	}
	.fw-term-row, .fw-default-row {
		font-size: ~'@{smaller_font_size}px';
		line-height: ~'@{smaller_font_line_height}px';
	}
	.fw-default-row {
		color: @color_text_darken;
	}
	.highlight-col {
		.fw-heading-row {
			color: @color_accent_blue;
		}
	}
}
/*------------------------------------------------------------------
	2.6 Pricing table style 6
-------------------------------------------------------------------*/
.fw-pricing.style-6 {
	color: lighten( @color_accent_black, 30% );
	font-size: ~'@{smaller_font_size}px';
	line-height: ~'@{smaller_font_line_height}px';
	.fw-pricing-row span {
		font-family: @secondary_font_family;
	}
	.fw-pricing-row {
		span, small {
			color: @color_accent_grey;
		}
	}
	.default-col .fw-package {
		background-color: lighten( @color_accent_black, 1% );
	}
	.fw-heading-row {
		font-family: @h5_font_family;
		font-size: ~'@{h5_font_size}px';
	}
	.default-col .fw-package, .highlight-col .fw-package {
		box-shadow: ~'0px 0px 50px 0px rgba(0,0,0,0.5)';
	}
	.fw-default-row:nth-child(even) {
		background-color: lighten( @color_accent_black, 5% );
	}
	.highlight-col {
		.fw-package {
			background-color: @color_accent_blue;
			color: @color_accent_inner;
		}
		.fw-pricing-row span, .fw-pricing-row small {
			color: @color_accent_inner;
		}
		.fw-default-row:nth-child(even) {
			background-color: darken( @color_accent_blue, 4% );
		}
	}
	.default-col:hover {
		.fw-pricing-row span, .fw-pricing-row small, .fw-heading-row {
			color: @color_accent_inner;
		}
	}
}

/*------------------------------------------------------------------
	2.7 Pricing table style 7
-------------------------------------------------------------------*/
.fw-pricing.style-7 {
	.default-col, .highlight-col {
		background-color: @color_bg_white;
	}
	.default-col {
		box-shadow: ~'@{box_shadow_h_length}px @{box_shadow_v_length}px @{box_shadow_blur_radius}px 0px @{color_accent_grey_shadow}';
	}
	.highlight-col {
		box-shadow: ~'@{box_shadow_h_length}px @{box_shadow_v_length}px @{box_shadow_blur_radius}px 0px @{color_accent_blue_shadow}';
		border: 5px solid @color_accent_blue;
	}
	.default-col:hover {
		box-shadow: ~'@{box_shadow_h_length}px @{box_shadow_v_length}px @{box_shadow_blur_radius}px 0px @{color_accent_blue_shadow}';
	}
	.fw-heading-row {
		font-family: @h2_font_family;
		font-size: ~'@{h2_font_size}px';
		color: @color_accent_grey;
		line-height: 1em;
	}
	.highlight-col .fw-heading-row {
		color: @color_text_darken;
	}
	.fw-term-row {
		color: @color_text_lighten;
	}
	.fw-pricing-row {
		font-family: @secondary_font_family;
		color: @color_accent_blue;
		line-height: 1em;
	}
	.fw-default-row {
		font-size: ~'@{smaller_font_size}px';
		line-height: ~'@{smaller_font_line_height}px';
		font-family: @primary_font_family;
		color: @color_text_darken;
	}
	.fw-icon-row {
		i {
			color: @color_text_lighten;
		}
		svg {
			path, rect, polygon {
				fill: @color_text_lighten;
			}
		}
	}
	.highlight-col .fw-icon-row, .default-col:hover .fw-icon-row {
		i {
			color: @color_accent_blue;
		}
		svg {
			path, rect, polygon {
				fill: @color_accent_blue;
			}
		}
	}
}
