/*------------------------------------------------------------------
[TABS_ICONIC.CSS - Iconic Tabs shortcode static styles]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.theme-iconic-tabs {
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 24px;
	}
	nav a {
		display: inline-block;
		margin: 0 100px 90px 50px;
		text-decoration: none;
		position: relative;
		z-index: 2;
	}
	nav {
		position: relative;
	}
	nav:after {
		content: '';
		opacity: 0.3;
		height: 6px;
		left: 0;
		right: 0;
		top: 46px;
		margin-top: -3px;
		border-radius: 3px;
		position: absolute;
		z-index: 1;
	}
	nav a:last-of-type {
		margin-right: 0;
	}
	.tab-icon {
		display: block;
		width: 90px;
		height: 90px;
		margin: 0 auto 20px auto;
		border-radius: 100%;
		line-height: 90px;
		text-align: center;
		transition: all 0.3s;
	}
	.tab-icon i, .tab-icon svg {
		display: inline-block;
		vertical-align: middle;
		line-height: 100%;
	}
	.tab-icon i {
		font-size: 50px;
	}
	.tab-icon svg {
		width: 40px;
	}
	.tab-content-wrapper {
		display: table;
	}
	.tab-content-wrapper > div {
		display: table-cell;
		vertical-align: top;
	}
	.tab-content-text {
		padding: 10px 40px;
	}
	.tab-content-image img {
		display: block;
	}
}
body.rtl .theme-iconic-tabs {
	nav a {
		margin: 0 50px 90px 100px;
	}

	nav a:first-of-type {
		margin-left: 100px;
	}
	nav a:last-of-type {
		margin-left: 0;
	}
}
.theme-iconic-tabs.mobile {
	nav {
		clear: both;
	}
	nav a {
		margin: 0 0 20px 0;
		float: left;
		text-align: left;
		position: relative;
		z-index: 2;
		width: 50%;
	}
	nav a:after {
		content: '';
		opacity: 0.3;
		height: 6px;
		left: 0;
		right: 0;
		top: 35px;
		margin-top: -3px;
		border-radius: 3px;
		position: absolute;
		z-index: -1;
		transition: all 0.3s;
	}
	nav:after {
		display: none;
	}
	.tab-icon {
		display: inline-block;
		margin: 0 20px;
	}
	.tab-content-wrapper, .tab-content-text, .tab-content-image {
		display: block;
		width: 100% !important;
	}
	.tab-content-image {
		margin-bottom: 20px;
	}
	.tab-content-text {
		padding-left: 0;
		padding-right: 0;
	}
	.tab-icon {
		width: 70px;
		height: 70px;
		line-height: 70px;
	}
	.tab-icon i {
		font-size: 40px;
	}
	.tab-icon svg {
		width: 35px;
	}
	nav .title {
		display: inline-block;
		padding: 3px 5px;
	}
	.tabs {
		clear: both;
	}
}
body.rtl .theme-iconic-tabs.mobile {
	nav a {
		text-align: right;
		float: right;
		margin: 0 0 20px 0;
	}
}
@media screen and (max-width: 767px) {
	.theme-iconic-tabs, .theme-iconic-tabs.mobile, body.rtl .theme-iconic-tabs.mobile, body.rtl .theme-iconic-tabs {
		nav a {
			text-align: center;
			width: 100%;
		}
		nav {
			.tab-icon, .title {
				display: block;
				margin: 0 auto;
			}
			.tab-icon {
				margin-bottom: 20px;
			}
		}
	}
}

.tab_content:before {
	display: none !important;
}
