.wplab-albedo-setup-content p, .wplab-albedo-setup-content table {
	font-size: 16px;
	line-height: 24px;
	color: #666
}
html {
	height: auto;
}
body {
	margin: 7% auto;
	box-shadow: none;
	background: #f1f1f1;
	padding: 0
}

#theme-logo {
	border: 0;
	margin: 0 0 40px;
	padding: 0;
	text-align: center;
	a {
		display: inline-block;
	}
	img {
		max-width: 50%;
	}
}

.wplab-albedo-setup-content {
	box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
	padding: 24px 24px 0;
	background: #fff;
	overflow: hidden;
	zoom: 1
}

.wplab-albedo-setup-content h1, .wplab-albedo-setup-content h2, .wplab-albedo-setup-content h3,  .wplab-albedo-setup-content table {
	margin: 0 0 24px;
	border: 0;
	padding: 0;
	color: #666;
	clear: none
}
.wplab-albedo-setup-content table{
	margin:0;
}

.wplab-albedo-setup-content p {
	margin: 0 0 24px
}

.wplab-albedo-setup-content a {
	color: #0091cd
}

.wplab-albedo-setup-content a:focus, .wplab-albedo-setup-content a:hover {
	color: #111
}

.wplab-albedo-setup-content .form-table th {
	width: 35%;
	vertical-align: top;
	font-weight: 400
}

.wplab-albedo-setup-content .form-table td {
	vertical-align: top
}

.wplab-albedo-setup-content .form-table td input, .wplab-albedo-setup-content .form-table td select {
	width: 100%;
	box-sizing: border-box
}

.wplab-albedo-setup-content .form-table td input[size] {
	width: auto
}

.wplab-albedo-setup-content .form-table td .description {
	line-height: 1.5em;
	display: block;
	margin-top: .25em;
	color: #999;
	font-style: italic
}

.wplab-albedo-setup-content .form-table td .input-checkbox, .wplab-albedo-setup-content .form-table td .input-radio {
	width: auto;
	box-sizing: inherit;
	padding: inherit;
	margin: 0 .5em 0 0;
	box-shadow: none
}

.wplab-albedo-setup-content .form-table .section_title td {
	padding: 0
}

.wplab-albedo-setup-content .form-table .section_title td h2, .wplab-albedo-setup-content .form-table .section_title td p {
	margin: 12px 0 0
}

.wplab-albedo-setup-content .form-table td, .wplab-albedo-setup-content .form-table th {
	padding: 12px 0;
	margin: 0;
	border: 0
}

.wplab-albedo-setup-content .form-table td:first-child, .wplab-albedo-setup-content .form-table th:first-child {
	padding-right: 1em
}

.wplab-albedo-setup-content .form-table table.tax-rates {
	width: 100%;
	font-size: .92em
}

.wplab-albedo-setup-content .form-table table.tax-rates th {
	padding: 0;
	text-align: center;
	width: auto;
	vertical-align: middle
}

.wplab-albedo-setup-content .form-table table.tax-rates td {
	border: 1px solid #eee;
	padding: 6px;
	text-align: center;
	vertical-align: middle
}

.wplab-albedo-setup-content .form-table table.tax-rates td input {
	outline: 0;
	border: 0;
	padding: 0;
	box-shadow: none;
	text-align: center
}

.wplab-albedo-setup-content .form-table table.tax-rates td.sort {
	cursor: move;
	color: #ccc
}

.wplab-albedo-setup-content .form-table table.tax-rates td.sort:before {
	content: "\f333";
	font-family: dashicons
}

.wplab-albedo-setup-content .form-table table.tax-rates .add {
	padding: 1em 0 0 1em;
	line-height: 1em;
	font-size: 1em;
	width: 0;
	margin: 6px 0 0;
	height: 0;
	overflow: hidden;
	position: relative;
	display: inline-block
}

.wplab-albedo-setup-content .form-table table.tax-rates .add:before {
	content: "\f502";
	font-family: dashicons;
	position: absolute;
	left: 0;
	top: 0
}

.wplab-albedo-setup-content .form-table table.tax-rates .remove {
	padding: 1em 0 0 1em;
	line-height: 1em;
	font-size: 1em;
	width: 0;
	margin: 0;
	height: 0;
	overflow: hidden;
	position: relative;
	display: inline-block
}

.wplab-albedo-setup-content .form-table table.tax-rates .remove:before {
	content: "\f182";
	font-family: dashicons;
	position: absolute;
	left: 0;
	top: 0
}

.wplab-albedo-setup-content .wplab-albedo-plugins {
	width: 100%;
	border-top: 1px solid #eee
}

.wplab-albedo-setup-content .wplab-albedo-plugins thead th {
	display: none
}

.wplab-albedo-setup-content .wplab-albedo-plugins .plugin-name {
	width: 30%;
	font-weight: 700
}

.wplab-albedo-setup-content .wplab-albedo-plugins td, .wplab-albedo-setup-content .wplab-albedo-plugins th {
	padding: 14px 0;
	border-bottom: 1px solid #eee
}

.wplab-albedo-setup-content .wplab-albedo-plugins td:first-child, .wplab-albedo-setup-content .wplab-albedo-plugins th:first-child {
	padding-right: 9px
}

.wplab-albedo-setup-content .wplab-albedo-plugins th {
	padding-top: 0
}

.wplab-albedo-setup-content .wplab-albedo-plugins .page-options p {
	color: #777;
	margin: 6px 0 0 24px;
	line-height: 1.75em
}

.wplab-albedo-setup-content .wplab-albedo-plugins .page-options p input {
	vertical-align: middle;
	margin: 1px 0 0;
	height: 1.75em;
	width: 1.75em;
	line-height: 1.75em
}

.wplab-albedo-setup-content .wplab-albedo-plugins .page-options p label {
	line-height: 1
}

@media screen and (max-width: 782px) {
	.wplab-albedo-setup-content .form-table tbody th {
		width: auto
	}
}

.wplab-albedo-setup-content .twitter-share-button {
	float: right
}

.wplab-albedo-setup-content .wplab-albedo-next-steps {
	overflow: hidden;
	margin: 0 0 24px
}

.wplab-albedo-setup-content .wplab-albedo-next-steps h2 {
	margin-bottom: 12px
}

.wplab-albedo-setup-content .wplab-albedo-next-steps .wplab-albedo-next-steps-first {
	float: left;
	width: 50%;
	box-sizing: border-box
}

.wplab-albedo-setup-content .wplab-albedo-next-steps .wplab-albedo-next-steps-last {
	float: right;
	width: 50%;
	box-sizing: border-box
}

.wplab-albedo-setup-content .wplab-albedo-next-steps ul {
	padding: 0 2em 0 0;
	list-style: none;
	margin: 0 0 -.75em
}

.wplab-albedo-setup-content .wplab-albedo-next-steps ul li a {
	display: block;
	padding: 0 0 .75em
}

.wplab-albedo-setup-content .wplab-albedo-next-steps ul .setup-product a {
	text-align: center;
	font-size: 1em;
	padding: 1em;
	line-height: 1.75em;
	height: auto;
	margin: 0 0 .75em;
	opacity: 1;
}
.wplab-albedo-setup-content .wplab-albedo-next-steps ul .setup-product a.button-primary {
	background-color: #0091cd;
	border-color: #0091cd;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 0 rgba(0, 0, 0, .15);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 0 rgba(0, 0, 0, .15)
}

.wplab-albedo-setup-content .wplab-albedo-next-steps ul li a:before {
	color: #82878c;
	font: 400 20px/1 dashicons;
	speak: none;
	display: inline-block;
	padding: 0 10px 0 0;
	top: 1px;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
	vertical-align: top
}

.wplab-albedo-setup-content .wplab-albedo-next-steps ul .documentation a:before {
	content: "\f118"
}

.wplab-albedo-setup-content .wplab-albedo-next-steps ul .demodata a:before {
	content: "\f123"
}

.wplab-albedo-setup-content .wplab-albedo-next-steps ul .options a:before {
	content: "\f309"
}

.wplab-albedo-setup-content .wplab-albedo-next-steps ul .realcontent a:before {
	content: "\f109"
}

.wplab-albedo-setup-content .updated, .wplab-albedo-setup-content .woocommerce-language-pack, .wplab-albedo-setup-content .woocommerce-tracker {
	padding: 24px 24px 0;
	margin: 0 0 24px;
	overflow: hidden;
	background: #f5f5f5
}

.wplab-albedo-setup-content .updated p, .wplab-albedo-setup-content .woocommerce-language-pack p, .wplab-albedo-setup-content .woocommerce-tracker p {
	padding: 0;
	margin: 0 0 12px
}

.wplab-albedo-setup-content .updated p:last-child, .wplab-albedo-setup-content .woocommerce-language-pack p:last-child, .wplab-albedo-setup-content .woocommerce-tracker p:last-child {
	margin: 0 0 24px
}

.wplab-albedo-setup-steps {
	padding: 0 0 24px;
	margin: 0;
	list-style: none;
	overflow: hidden;
	color: #ccc;
	width: 100%;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex
}

.wplab-albedo-setup-steps li {
	width: 20%;
	float: left;
	padding: 0 0 .8em;
	margin: 0;
	text-align: center;
	position: relative;
	border-bottom: 4px solid #ccc;
	line-height: 1.4em;
	font-size: 16px;
}

.wplab-albedo-setup-steps li:before {
	content: "";
	border: 4px solid #ccc;
	border-radius: 100%;
	width: 4px;
	height: 4px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -6px;
	margin-bottom: -8px;
	background: #fff
}

.wplab-albedo-setup-steps li a{
	text-decoration: none;
}
.wplab-albedo-setup-steps li.active {
	border-color: #0091cd;
	color: #0091cd
}
.wplab-albedo-setup-steps li.active a{
	color: #0091cd
}

.wplab-albedo-setup-steps li.active:before {
	border-color: #0091cd
}

.wplab-albedo-setup-steps li.done {
	border-color: #0091cd;
	color: #0091cd
}
.wplab-albedo-setup-steps li.done a {
	color: #0091cd
}

.wplab-albedo-setup-steps li.done:before {
	border-color: #0091cd;
	background: #0091cd
}

.wplab-albedo .wplab-albedo-setup-actions {
	overflow: hidden
}

.wplab-albedo .wplab-albedo-setup-actions .button {
	float: right;
	font-size: 1.25em;
	padding: .5em 1em;
	line-height: 1em;
	margin-right: .5em;
	margin-bottom: 2px;
	height: auto;
	border-radius: 4px;
}

.wplab-albedo .wplab-albedo-setup-actions .button-primary {
	margin: 0;
	margin-bottom: 2px;
	float: right;
	opacity: 1;
}

.wc-return-to-dashboard {
	font-size: .85em;
	color: #b5b5b5;
	margin: 1.18em 0;
	display: block;
	text-align: center
}

.wplab_loading_button_current{
	color:#CCC !important;
	text-align: center;
}
.envato-wizard-plugins li {
	position: relative;
}
.envato-wizard-plugins li span{
	padding: 0 0 0 10px;
	font-size: 0.9em;
	color: #0091cd;
	display: inline-block;
	position: relative;
}
.envato-wizard-plugins.installing li .spinner{
	visibility: visible;
}
.envato-wizard-plugins li .spinner{
	display: inline-block;
	position: absolute;
}
.wplab-albedo-pages{
	width:100%;
}
.wplab-albedo-pages .check{
	width:35px;
}
.wplab-albedo-pages .item{
	width:90px;
}
.wplab-albedo-pages td,
.wplab-albedo-pages th{
	padding:5px;
}
.wplab-albedo-pages .status{
	display: none;
}
.wplab-albedo-pages.installing .status{
	display: table-cell;
}
.wplab-albedo-pages.installing .status span{
	display: inline-block;
	position: relative;
}
.wplab-albedo-pages.installing .description{
	display: none;
}

.wplab-albedo-pages.installing .spinner{
	visibility: visible;
}
.wplab-albedo-pages  .spinner{
	display: inline-block;
	position: absolute;
}

.theme-presets ul{
	list-style:none;
	margin:0px 0 15px 0;
	padding: 0;
	overflow-x:auto;
	display: block;
	white-space: nowrap;
}
.theme-presets ul li{
	list-style:none;
	display: inline-block;
	padding: 6px;
	margin:0;
	vertical-align: bottom;
}
.theme-presets ul li.current{
	background: #FE529E;
	border-radius: 5px;
}
.theme-presets ul li a{
	float:left;
	line-height:0;
}
.theme-presets ul li a img{
	width: 90px;
	height:auto;
}
table.table-wizard {
	margin-bottom: 24px;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	border-top: 2px solid #eaeaea;
	th, td {
		vertical-align: top;
		border-bottom: 2px solid #eaeaea;
		padding: 15px;
	}
	th {
		white-space: nowrap;
		padding-left: 0;
	}
	p {
		margin-bottom: 0;
	}
}
.wplab-albedo-setup-content li {
	list-style: disc;
	font-size: 16px;
	color: #0091cd;
	span {
		color: #666;
	}
}
.wplab-albedo-next-steps li {
	list-style: none;
}

.wplab-albedo-setup-content .wplab-albedo-next-steps ul {
	padding-top: 15px;
}
