/*------------------------------------------------------------------
[404_VARIABLE.CSS - Variable styles for Error 404 page]
[Table of contents]

1. Modern style
2. Simple style
3. Minimal style
4. Background style
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Modern style
-------------------------------------------------------------------*/
.page404-style-modern {
	#content {
		h1 {
			color: @color_accent_pink;
		}
		.search-form input.s {
			@color_escaped: escape( ~'@{color_accent_light_grey}' );
			background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%20515.46%20515.46%22%20style%3D%22enable-background%3Anew%200%200%20515.46%20515.46%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M491.118%2C370.018L450.48%2C329.38c12.833-29.944%2C19.249-59.887%2C19.249-94.109C469.729%2C104.803%2C364.927%2C0%2C234.458%2C0%0A%09C174.571%2C0%2C114.683%2C23.527%2C69.767%2C68.443S1.324%2C173.246%2C1.324%2C235.272c0%2C130.469%2C104.803%2C235.272%2C235.272%2C235.272%0A%09c34.221%2C0%2C66.304-6.416%2C94.109-19.249l40.638%2C40.638c14.972%2C14.972%2C36.36%2C23.527%2C55.61%2C23.527c21.388%2C0%2C44.916-8.555%2C62.026-25.666%0A%09C521.061%2C453.433%2C523.2%2C402.1%2C491.118%2C370.018L491.118%2C370.018z%20M236.597%2C427.767c-106.942%2C0-192.495-85.553-192.495-192.495%0A%09c0-51.332%2C19.249-100.525%2C55.61-136.885c36.36-36.36%2C85.553-55.61%2C136.885-55.61c106.942%2C0%2C192.495%2C85.553%2C192.495%2C192.495%0A%09S343.538%2C427.767%2C236.597%2C427.767z%20M459.035%2C457.71c-17.11%2C17.11-42.777%2C17.11-57.749%2C2.139l-32.083-32.083%0A%09c23.527-17.11%2C44.916-36.36%2C59.887-59.887l32.082%2C32.082C476.146%2C414.933%2C476.146%2C440.6%2C459.035%2C457.71z%22%2F%3E%0A%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M277.234%2C91.97c-38.499-10.694-79.137-6.416-113.358%2C12.833s-59.887%2C51.332-70.581%2C89.831%0A%09c-4.278%2C10.694%2C2.139%2C23.527%2C14.972%2C25.666c2.139%2C0%2C4.278%2C0%2C6.416%2C0c8.555%2C0%2C17.11-6.416%2C21.388-14.972%0A%09c8.555-27.805%2C25.666-49.193%2C51.332-64.165c25.666-12.833%2C53.471-17.11%2C81.275-8.555c10.694%2C4.278%2C23.527-4.278%2C25.666-14.972%0A%09C296.484%2C106.942%2C290.067%2C94.109%2C277.234%2C91.97L277.234%2C91.97z%22%2F%3E%0A%3C%2Fsvg%3E%0A")';
		}
	}
}

/*------------------------------------------------------------------
	2. Simple style
-------------------------------------------------------------------*/
.page404-style-simple {
	#content {
		h1 {
			color: @color_accent_grey;
		}
	}
}

/*------------------------------------------------------------------
	3. Minimal style
-------------------------------------------------------------------*/
.page404-style-minimal {
	#content {
		h1 {
			color: @color_accent_grey;
		}
	}
}

/*------------------------------------------------------------------
	4. Background style
-------------------------------------------------------------------*/
.page404-style-background {
	h1, h2 {
		color: #fff;
	}
	.line3 {
		color: @color_accent_light_grey;
	}
}
