/*------------------------------------------------------------------
[ASIDE_VARIABLE.CSS - Contains sidebar variable styles]
[Table of contents]

1. Boxed widget styles
2. Separator widget styles
3. Standard WP Widgets
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Boxed widget styles
-------------------------------------------------------------------*/
.aside.widgets-style-boxed {
	.widget {
		background-color: @box_bg_color;
		border: ~'@{box_border_size}px solid @{box_border_color}';
		border-radius: @box_radius_top_left @box_radius_top_right @box_radius_bottom_right @box_radius_bottom_left;
		box-shadow: ~'@{box_shadow_h_length}px @{box_shadow_v_length}px @{box_shadow_blur_radius}px 0px @{box_shadow_color}';
	}
	.widget-title {
		border-bottom: 2px solid @color_hr_border;
	}
}

/*------------------------------------------------------------------
	2. Separator widget styles
-------------------------------------------------------------------*/
.aside.widgets-style-separator {
	.widget {
		border-bottom: 2px solid @color_hr_border;
	}
}

/*------------------------------------------------------------------
	3. Standard WP Widgets
-------------------------------------------------------------------*/
.widget {
	font-size: ~'@{smaller_font_size}px';
	line-height: ~'@{smaller_font_line_height}px';
}
.widget-title {
	font-size: ~'@{h5_font_size}px';
	line-height: ~'@{h5_font_line_height}px';
}
.widget {
	a:not(.button) {
		color: @color_text_darken;
		transition: all 0.3s;
	}
	a:not(.button):hover {
		color: @color_accent_blue;
	}
	ul li:before {
		@color_escaped: escape( ~'@{color_accent_blue}' );
		background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%2024%2024%22%20style%3D%22enable-background%3Anew%200%200%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cpolygon%20fill%3D%22@{color_escaped}%22%20points%3D%226%2C11.999%2018%2C24%2018%2C0%20%09%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E")';
	}
}
.widget_calendar, .widget_rss {
	a {
		color: @color_accent_blue;
	}
}
.widget_rss {
	.rss-date {
		font-family: @secondary_font_family;
	}
}
.widget_recent_comments {
	ul li:before {
		@color_escaped: escape( ~'@{color_accent_grey}' );
		background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%20612%20612%22%20style%3D%22enable-background%3Anew%200%200%20612%20612%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cg%3E%0A%09%09%3Cg%3E%0A%09%09%09%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M153%2C229.5h306V153H153V229.5z%20M535.5%2C0h-459C34.234%2C0%2C0%2C34.234%2C0%2C76.5v344.25c0%2C42.267%2C34.234%2C76.5%2C76.5%2C76.5h248.625%0A%09%09%09%09L497.25%2C612V497.25h38.25c42.267%2C0%2C76.5-34.233%2C76.5-76.5V76.5C612%2C34.234%2C577.767%2C0%2C535.5%2C0z%20M535.5%2C382.5%0A%09%09%09%09c0%2C21.114-17.136%2C38.25-38.25%2C38.25h-76.5v57.375l-95.625-57.375H114.75c-21.114%2C0-38.25-17.136-38.25-38.25V114.75%0A%09%09%09%09c0-21.114%2C17.136-38.25%2C38.25-38.25h382.5c21.114%2C0%2C38.25%2C17.136%2C38.25%2C38.25V382.5z%20M153%2C344.25h306v-76.5H153V344.25z%22%2F%3E%0A%09%09%3C%2Fg%3E%0A%09%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A")';
	}
	a {
		color: @color_accent_grey;
	}
	a:hover {
		color: @color_accent_blue;
	}
	.comment-author-link a, .comment-author-link {
		color: @color_accent_blue;
	}
}
.widget.widget_tag_cloud {
	a {
		font-size: ~'@{small_font_size}px !important';
		border-color: @color_accent_light_grey;
		color: @color_accent_grey;
		border-radius: ~'@{small_button_radius}px';
	}
	a:hover {
		background-color: @color_accent_blue;
		color: @color_accent_inner;
		border-color: @color_accent_blue;
		box-shadow: ~'@{small_button_shadow_h_length}px @{small_button_shadow_v_length}px @{small_button_shadow_blur_radius}px 0px @{color_accent_blue_shadow}';
	}
}
@media (max-width: 767px) {
	.widget-title {
		font-size: ~'@{h5_font_size_mobile}px';
		line-height: ~'@{h5_font_line_height_mobile}px';
	}
}
.widget.widget_archive, .widget.widget_categories, .widget.widget_meta, .widget.widget_pages,
.widget.widget_recent_comments, .widget.widget_recent_entries, .widget.widget_rss, .widget.widget-wedocs {
	a {
		color: @color_text_lighten;
	}
	a:hover, .current-menu-item > a {
		color: @color_accent_blue;
	}
	.children li {
		font-size: ~'@{small_font_size}px !important';
		a {
			color: @color_text_lighten;
		}
	}
	ul .current_page_item > a {
		color: @color_accent_blue;
	}
	.widget-inside > ul > li {
		border-bottom: 2px solid @color_hr_border;
	}
}
.widget_nav_menu, .wproto_menu_two_cols_widget {
	.menu-item-has-icon, .menu-item-has-icon > a {
		font-family: inherit;
	}
	.menu-item-has-icon > a:before {
		font-family: FontAwesome;
		margin-right: 5px;
	}
}
.widget.widget_nav_menu {
	a {
		color: @color_text_lighten;
	}
	a:hover, .current-menu-item > a {
		color: @color_accent_blue;
	}
	.sub-menu li {
		font-size: ~'@{small_font_size}px';
		line-height: ~'@{small_font_line_height}px';
	}
	.menu > li {
		border-bottom: 2px solid @color_hr_border;
	}
}
