/*------------------------------------------------------------------
[MENU-CENTERED.CSS - Centered menu styles, static]
[Table of contents]

1. Styles for desktop device
2. Styles for mobiles
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	1. Styles for desktop device
-------------------------------------------------------------------*/
#header-menu-wrapper {
  position: relative;
  z-index: 898;
}
#header-menu-wrapper.responsive-mode-off {
  /** header menu items **/
}
#header-menu-wrapper.responsive-mode-off #header-menu {
  position: relative;
  transition: all 0.3s;
  /** logo styles **/
}
#header-menu-wrapper.responsive-mode-off #header-menu .menu-layout-item {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#header-menu-wrapper.responsive-mode-off #header-menu .item-logo a,
#header-menu-wrapper.responsive-mode-off #header-menu .item-logo span {
  display: block;
  text-decoration: none;
}
#header-menu-wrapper.responsive-mode-off #header-menu .item-logo .title {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}
#header-menu-wrapper.responsive-mode-off #header-menu .item-logo .tagline {
  font-size: 14px;
  line-height: 18px;
}
