/*------------------------------------------------------------------
[TOP_BAR.CSS - Top bar static styles]
[Table of contents]

1. Shared styles
2. RTL styles
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.top-bar {
	padding: 10px 0;
	position: relative;
	z-index: 900;
	a {
		text-decoration: none;
	}
	.top-bar-item {
		float: left;
		margin-right: 85px;
	}
	.top-bar-item.alignright {
		margin-right: 0;
		float: right;
		margin-left: 85px;
	}
	.elem-text-icon {
		i, img {
			margin-right: 13px;
		}
	}
	.elem-social-icons i {
		margin-right: 18px;
	}
	.elem-social-icons a:last-of-type i {
		margin-right: 0;
	}
	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	ul li {
		float: left;
		margin-right: 13px;
	}
	ul li:last-of-type {
		margin-right: 0;
	}
	ul li:before, ul li:after {
		display: none;
	}
	a, i {
		transition: all 0.3s;
	}
}

.top-bar.responsive {
	.top-bar-item, .top-bar-item.alignright {
		display: inline-block;
		float: none;
	}
}
.top-bar.responsive .top-bar-item.mobile-hidden,
.top-bar.responsive.mobile-sticky-off ~ .top-bar-sticky-space {
	display: none !important;
}

/*------------------------------------------------------------------
	2. RTL Styles
-------------------------------------------------------------------*/
body.rtl {

	.top-bar {
		.top-bar-item {
			float: right;
			margin-right: 0;
			margin-left: 85px;
		}
		.top-bar-item.alignright {
			margin-left: 0;
			float: left;
		}
		.elem-text-icon {
			i, img {
				margin-left: 13px;
				margin-right: 0;
			}
		}
		.elem-social-icons i {
			margin-right: 0;
			margin-left: 18px;
		}
		.elem-social-icons a:last-of-type i {
			margin-left: 0;
		}
		ul li {
			float: right;
			margin-right: 0;
			margin-left: 13px;
		}
		ul li:last-of-type {
			margin-left: 0;
		}
	}

	.top-bar.responsive {
		.top-bar-item, .top-bar-item.alignright {
			display: inline-block;
			float: none;
		}
		.mobile-hidden {
			display: none !important;
		}
	}

}
