/*------------------------------------------------------------------
[PREV_NEXT_POSTS_LINKS_BOXED.CSS - Static styles for pre/next posts links block]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/

.prev-next-posts-wrapper.style-links_boxed {
	padding: 75px 0;
	margin-top: 70px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 20px auto;
	.prev-post, .next-post {
		background-repeat: no-repeat;
		font-weight: bold;
		background-size: 22px auto;
	}
	.prev-post {
		float: left;
		background-position: left center;
		padding-left: 48px;
	}
	.next-post {
		float: right;
		text-align: right;
		background-position: right center;
		padding-right: 48px;
	}
	a {
		text-decoration: none;
		transition: 0.3s;
	}
}
@media screen and (max-width: 850px) {
	.prev-next-posts-wrapper.style-links_boxed {
		background-image: none !important;
		.prev-post {
			margin-bottom: 18px;
		}
		.prev-post, .next-post {
			float: none;
			text-align: left;
			background-position: left center;
		}
		.next-post {
			padding-right: 0;
			padding-left: 48px;
		}
	}
}

.prev-next-posts-wrapper.style-links_boxed {
	margin: 60px 0;
	padding: 25px 40px;
	.prev-post, .next-post {
		text-transform: uppercase;
	}
}
