/*------------------------------------------------------------------
[Dynamic styles for Minimal / Text / Contacts widget]
[Table of contents]

1. Shared styles
2. Mobile styles
-------------------------------------------------------------------*/
/** preloader colors **/
/** layout **/
/** base typography **/
/** links colors **/
/** boxes **/
/** content elements **/
/** dropcaps **/
/** accent colors **/
/** gradients **/
/** borders and backgrounds **/
/** buttons **/
/** forms **/
/** top bar **/
/** menu styles **/
/** submenu styles **/
/** second menu **/
/** second menu **/
/** breadcrumbs **/
/** header **/
/** header text color **/
/** menu container **/
/** footer **/
/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.wproto_minimal_text_contacts_widget .widget-elements {
  display: table;
  width: 100%;
}
.wproto_minimal_text_contacts_widget .widget-elements .elem {
  display: table-cell;
}
.wproto_minimal_text_contacts_widget .widget-elements .elem:last-of-type {
  text-align: right;
}
.wproto_minimal_text_contacts_widget .widget-elements i.fa {
  margin-right: 7px;
}
body.rtl .wproto_minimal_text_contacts_widget .widget-elements .elem:last-of-type {
  text-align: left;
}
body.rtl .wproto_minimal_text_contacts_widget i.fa {
  margin-right: 0;
  margin-left: 7px;
}
#footer-widgets .wproto_minimal_text_contacts_widget .phone,
#footer-widgets .wproto_minimal_text_contacts_widget .share-links a,
#footer-widgets .wproto_minimal_text_contacts_widget .mail a,
#footer-widgets .wproto_minimal_text_contacts_widget .mail {
  color: #ffffff;
}
#footer-widgets .wproto_minimal_text_contacts_widget .share-links a:hover,
#footer-widgets .wproto_minimal_text_contacts_widget .mail a:hover {
  color: #8799a3;
}
/*------------------------------------------------------------------
	2. Mobile styles
-------------------------------------------------------------------*/
@media screen and (max-width: 992px) {
  .wproto_minimal_text_contacts_widget .widget-elements,
  .wproto_minimal_text_contacts_widget .widget-elements .elem,
  .wproto_minimal_text_contacts_widget .widget-elements .elem:last-of-type {
    display: block;
    text-align: left;
  }
  .wproto_minimal_text_contacts_widget .elem {
    margin-bottom: 10px;
  }
  .wproto_minimal_text_contacts_widget .elem:last-of-type {
    margin-bottom: 0;
  }
  body.rtl .wproto_minimal_text_contacts_widget .widget-elements,
  body.rtl .wproto_minimal_text_contacts_widget .elem,
  body.rtl .wproto_minimal_text_contacts_widget .widget-elements .elem:last-of-type {
    text-align: right;
  }
}
