/*------------------------------------------------------------------
[FOOTER.CSS - Contains footer styles]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
#footer {
  position: relative;
}
#footer a {
  text-decoration: none;
  transition: all 0.3s;
}
#footer table,
#footer tr,
#footer td,
#footer thead,
#footer tfoot {
  background: transparent;
  border: 0;
}
#footer-bg-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
#bottom-bar {
  position: relative;
  z-index: 2;
}
#footer-widgets {
  padding: 85px 0 45px 0;
  position: relative;
  z-index: 10;
  font-size: 0;
}
#footer-widgets .widget {
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
}
#footer-widgets .widget ul li:before {
  top: 10px;
}
#footer-widgets .widget-title {
  margin-bottom: 22px;
}
#footer-widgets.cols-4 .widget {
  width: 25%;
}
#footer-widgets.cols-3 .widget {
  width: 33.333333%;
}
#footer-widgets.cols-2 .widget {
  width: 50%;
}
#footer-widgets.cols-1 .widget {
  width: 100%;
}
@media screen and (max-width: 992px) {
  #footer-widgets.cols-4 .widget {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  #footer-widgets.cols-4 .widget,
  #footer-widgets.cols-3 .widget {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  #footer-widgets.cols-4 .widget,
  #footer-widgets.cols-3 .widget,
  #footer-widgets.cols-2 .widget {
    width: 100%;
  }
}
#footer-widgets .widget_recent_comments ul li:before {
  top: 6px;
}
