body {
	font:11px Verdana,Arial;
	position: relative;
	border-color: #FFF;
}
ul.menu {
	list-style:none;
	margin:0;
	padding:0;
}
ul.menu * {margin:0; padding:0}
ul.menu a {display:inline-block; color:#000; text-decoration:none}
ul.menu li {position:relative; float:left; margin-right:2px} /* cambia orden de menú */
ul.menu ul {position:absolute; top:26px; left:0; background:#d1d1d1; display:none; opacity:0; list-style:none} /* mueve tabla inferior a medida que el menú se despliega */
ul.menu ul li {position:relative; border:1px solid #aaa; border-top:none; width:148px; margin:0}/* mueve tabla inferior a medida que el menú se despliega */
ul.menu ul li a {display:block; padding:3px 7px 5px; background-color:#d1d1d1}
ul.menu ul li a:hover {background-color:#c5c5c5}
ul.menu ul ul {left:148px; top:-1px}
ul.menu .menulink {border:1px solid #aaa; padding:5px 7px 7px; font-weight:bold; background:url(images/header.gif); width:134px}
ul.menu .menulink:hover, ul.menu .menuhover {background:url(images/header_over.gif)}
ul.menu .sub {background:#d1d1d1 url(images/ic_arrow_right_black.gif) 136px 6px no-repeat}
ul.menu .topline {border-top:1px solid #aaa}

.formato_boton{
cursor: pointer;
background-repeat:no-repeat;
font-size:0;
border:none;
background-color:#FFFFFF;
}

.Estilo17 {color: #FFFFFF; font-style: italic; font-weight: bold; font-size: 12px; font-family: Arial, Helvetica, sans-serif; }
.Estilo20 {color: #000000}
.Estilo6 {	font-size: large;
	font-family: Arial, Helvetica, sans-serif;
}
.Estilo7 {	color: #FFFFFF;
	font-style: italic;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.Estilo21 {font-weight: bold}
.Estilo22 {font-weight: bold}
.Estilo24 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #666666;
	font-weight: bold;
	font-style: italic;
}
.Estilo24 {	color: #FFFFFF;
	font-style: italic;
	font-weight: bold;
}
.Estilo25 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #666666;
	font-weight: bold;
	font-style: italic;
}


.cantidades{
	background-color:#FF0 !important;
	color:#00F;
	}

.clearFloat{
	clear:both;
	}
.floatLeft{
	float:left;
	}
.floatRight{
	float:right;
	}
.diez{
	width:10%;
	text-align:center;
	}
.titulo{
	background-color:#06327D;
	height:25px;
	}
.fondo{
	background-color:#FF0;
	height:40px;
	padding-top:10px;
	}
.fondo:hover{
	background-color:#FFF;
	color:#000;
	}
.texto{
	padding:5px;
	width:25%;
	}
.control {
	padding-left:10px;
	width:70%;
	}
.control input, .control_fecha input{
	border:#FF0 solid 1px;
	}	

.texto_fecha{
	width:5%;
	padding:10px;
	}
.control_fecha{
	width:10%;
	padding:10px;
	}
.control_fecha input{
	}
.control_fecha img{
	}

	
	
.texto_arriendo{
	width:5%;
	}
.control_arriendo{
	width:75%;
	text-align:left;
	padding:0px;
	}
	
.cod_arriendo{
	padding:10px;
	width:5%
	}
.cod_equipo{
	padding:10px;
	width:15%
	}
.num_gd{
	padding:10px;
	width:5%
	}
.nro_factura{
	padding:10px;
	width:10%;
	}
.cod_reclamo{
	padding:10px;
	width:5%
	}
.arrendado_desde{
	padding:10px;
	width:10%
	}
.hora_arr{
	padding:10px;
	width:5%
	}
.arrendado_hasta{
	padding:10px;
	width:10%
	}
.hora_devol{
	padding:10px;
	width:5%
	}
.comentarios{
	padding:10px;
	width:10%
	}
.estado_equipo_arr{
	padding:10px;
	width:10%
	}
.inc_accesorio{
	padding:10px;
	width:5%
	}
	
.mes-arriendo{
	border  : #00F 1px solid;
	padding	: 10px;
	}
.lado-izq{
	width:45%;
	padding:10px;
	}
.lado-der{
	width:50%;
	padding:10px;
	text-align:right;
	}
.cometarios-equipo{
	width:100%;
	padding:10px;
	}
.control_hoja{
	width:20%;
	padding:5px;
	}
.texto_hoja{
	width:20%;
	padding:5px;
	}

.frame{
	margin-left:13%;
	}
#frame-gd{
	
	}
#factura{
	
	}
#tabla{
	margin-top:40px;
	}
#tabla-factura{
	margin-top:55px;
	}


.nro_gd{
	background-color:#06327D;
	text-align:center;
	width:10%;
	height:50px;
	padding-top:10px;
	padding-left:5px;

	}
.raz_social{
	background-color:#06327D;
	text-align:center;
	width:25%;
	height:50px;
	padding-top:10px;
	padding-left:5px;

	}
.obra_gd{
	background-color:#06327D;
	text-align:center;
	width:15%;
	height:50px;
	padding-top:10px;
	padding-left:5px;

	} 
.est_equipo{
	background-color:#06327D;
	text-align:center;
	width:10%;
	height:50px;
	padding-top:10px;
	padding-left:5px;
	}
.nombre_equipo_gd{ 
	background-color:#06327D;
	text-align:center;
	width:25%;
	height:50px;
	padding-top:10px;
	padding-left:5px;
	}
.accion_gd{
	background-color:#06327D;
	width:8%;
	height:50px;
	padding-top:10px;
	padding-rigth:5px;
	}
	
.control_gd{
	padding:10px;
	}

#cargador{
	background-image:url('http://www.estilopets.cl/imagenes/loading.gif');
	background-repeat:no-repeat; 
	background-position:center center;
	border:1px black solid;
	}

a:link, a:visited, a:hover, a:active { text-decoration:none}