/*------------------------------------------------------------------
[About post author widget]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/
/** preloader colors **/
/** layout **/
/** base typography **/
/** links colors **/
/** boxes **/
/** content elements **/
/** dropcaps **/
/** accent colors **/
/** gradients **/
/** borders and backgrounds **/
/** buttons **/
/** forms **/
/** top bar **/
/** menu styles **/
/** submenu styles **/
/** second menu **/
/** second menu **/
/** breadcrumbs **/
/** header **/
/** header text color **/
/** menu container **/
/** footer **/
/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.wproto_post_author_widget {
  position: relative;
}
.wproto_post_author_widget .author-info {
  display: table;
  width: 100%;
  margin-bottom: 24px;
}
.wproto_post_author_widget .author-avatar,
.wproto_post_author_widget .author-name {
  display: table-cell;
  vertical-align: middle;
}
.wproto_post_author_widget .author-name {
  padding-left: 20px;
  color: #8799a3;
  line-height: 1.35em;
}
.wproto_post_author_widget .author-name a {
  color: #0081ff;
}
.wproto_post_author_widget .author-name a:hover {
  color: #0078ce;
}
.wproto_post_author_widget .author-name span {
  display: block;
}
.wproto_post_author_widget .author-avatar {
  width: 50px;
}
.wproto_post_author_widget .author-avatar img {
  display: block;
  border-radius: 50%;
}
.wproto_post_author_widget .author-social-icons {
  margin-top: 24px;
}
.wproto_post_author_widget .author-social-icons a {
  color: #8799a3;
  margin-right: 10px;
}
.wproto_post_author_widget .author-social-icons a:hover {
  color: #252525;
}
body.rtl .wproto_post_author_widget .author-social-icons a {
  margin-right: 0;
  margin-left: 10px;
}
.wproto_post_author_widget:after {
  content: '';
  position: absolute;
  top: 50px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 16px 14px 0;
  border-color: transparent #ffffff transparent transparent;
  left: -16px;
}
.sidebar-pos-left .wproto_post_author_widget:after {
  left: auto;
  right: -16px;
  border-width: 14px 0 14px 16px;
  border-color: transparent transparent transparent #ffffff;
}
