/*------------------------------------------------------------------
[CONTACT_INFO.CSS - Contact information shortcode static styles]
[Table of contents]

1. Iconic style
2. Boxed style
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	1. Iconic style
-------------------------------------------------------------------*/
.contact-info.style-iconic {
  margin-bottom: 34px;
}
.contact-info.style-iconic .content-row {
  display: table;
  margin-bottom: 30px;
}
.contact-info.style-iconic .icon {
  width: 90px;
  text-align: center;
}
.contact-info.style-iconic .text {
  padding-right: 15px;
}
.contact-info.style-iconic .icon,
.contact-info.style-iconic .text-container {
  display: table-cell;
  vertical-align: middle;
}
.contact-info.style-iconic svg {
  width: 40px;
  display: inline-block;
}
.contact-info.style-iconic a {
  text-decoration: none;
}
.ie11 .contact-info.style-iconic svg,
.ie10 .contact-info.style-iconic svg {
  height: 40px;
}
/*------------------------------------------------------------------
	2. Boxed style
-------------------------------------------------------------------*/
.contact-info.style-grid dl dt {
  float: left;
  margin-right: 5px;
  font-weight: normal;
}
.contact-info.style-grid dl dd {
  margin-bottom: 5px;
}
.contact-info.style-grid a {
  text-decoration: none;
}
.contact-info.style-grid h4 {
  margin-bottom: 14px;
  transition: color 0.3s;
}
.contact-info.style-grid .inside {
  transition: all 0.3s;
  padding: 30px 40px;
}
