/*------------------------------------------------------------------
[LOGOS_CAROUSEL.CSS - Logos carousel shortcode static styles]
[Table of contents]

1. Shortcode styles
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	1. Shortcode styles
-------------------------------------------------------------------*/
.logos-carousel .item {
  text-align: center;
}
.logos-carousel .swiper-pagination {
  text-align: center;
  width: 100%;
  position: static;
  padding: 35px 0;
}
.logos-carousel.style-grid .item {
  padding: 0 0 34px 0;
  display: table-cell;
  vertical-align: middle;
  float: none;
}
.logos-carousel.style-grid .row {
  display: table;
  width: 100%;
}
@media screen and (max-width: 1199px) {
  .logos-carousel.style-grid.cols-4 .item,
  .logos-carousel.style-grid.cols-3 .item {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .logos-carousel.style-grid .item,
  .logos-carousel.style-grid.cols-4 .item,
  .logos-carousel.style-grid.cols-3 .item,
  .logos-carousel.style-grid.cols-2 .item {
    width: 100%;
  }
  .logos-carousel.style-grid .row,
  .logos-carousel.style-grid.cols-4 .row,
  .logos-carousel.style-grid.cols-3 .row,
  .logos-carousel.style-grid.cols-2 .row,
  .logos-carousel.style-grid .item,
  .logos-carousel.style-grid.cols-4 .item,
  .logos-carousel.style-grid.cols-3 .item,
  .logos-carousel.style-grid.cols-2 .item {
    display: block;
    width: auto;
  }
}
.logos-carousel.hover-effect img {
  transition: all .3s;
  opacity: 0.3;
}
.logos-carousel.hover-effect .item:hover img {
  opacity: 1;
}
