/*------------------------------------------------------------------
[PHOTO_GRID_VARIABLE.CSS - Portfolio photo grid variable styles]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.photo-grid-gallery figure a:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(37, 37, 37, 0.9);
  transition: all 0.5s;
}
.photo-grid-gallery figure a:hover:after {
  background-color: transparent;
}
