/*------------------------------------------------------------------
[TESTIMONIALS_CAROUSEL2.CSS - Testimonials carousel shortcode static styles]
[Table of contents]

1. Shared styles
2. White styles
3. Dark styles
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.shortcode-testimonials-carousel2 .swiper-pagination {
  text-align: center;
  right: 0;
  left: 0;
  margin-top: 25px;
}
.shortcode-testimonials-carousel2 .swiper-button-next {
  right: -30px;
}
.shortcode-testimonials-carousel2 .swiper-button-prev {
  left: -30px;
}
.shortcode-testimonials-carousel2 .text {
  margin-bottom: 20px;
}
.shortcode-testimonials-carousel2 .author {
  font-weight: bold;
}
@media screen and (max-width: 992px) {
  .shortcode-testimonials-carousel2 .swiper-button-next,
  .shortcode-testimonials-carousel2 .swiper-button-prev {
    display: none;
  }
  .shortcode-testimonials-carousel2.style-white .slide-content {
    background-image: none !important;
  }
}
/*------------------------------------------------------------------
	2. White styles
-------------------------------------------------------------------*/
.shortcode-testimonials-carousel2.style-white .swiper-wrapper {
  padding: 30px 0;
}
.shortcode-testimonials-carousel2.style-white .slide-content {
  padding: 60px 40px 40px 40px;
  background-size: 40px auto;
  background-position: right 40px bottom 40px;
  background-repeat: no-repeat;
}
.shortcode-testimonials-carousel2.style-white .photo img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  position: absolute;
  top: -30px;
}
body.rtl .shortcode-testimonials-carousel2.style-white .slide-content {
  background-position: left 40px bottom 40px;
}
/*------------------------------------------------------------------
	3. Dark styles
-------------------------------------------------------------------*/
.shortcode-testimonials-carousel2.style-dark .slide-content {
  position: relative;
  padding: 25px 0 0 125px;
  background-size: 45px auto;
  background-repeat: no-repeat;
  background-position: 110px 0;
}
.shortcode-testimonials-carousel2.style-dark .photo {
  position: absolute;
  top: 0;
  left: 0;
}
.shortcode-testimonials-carousel2.style-dark .photo img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
body.rtl .shortcode-testimonials-carousel2.style-dark .slide-content {
  background-position: right 110px top 0px;
  padding: 25px 125px 0 0;
}
body.rtl .shortcode-testimonials-carousel2.style-dark .photo {
  left: auto;
  right: 0;
}
@media screen and (max-width: 767px) {
  .shortcode-testimonials-carousel2.style-dark .slide-content {
    padding-left: 70px;
    background-position: 60px 0;
  }
  .shortcode-testimonials-carousel2.style-dark .photo img {
    width: 50px;
    height: 50px;
  }
  body.rtl .shortcode-testimonials-carousel2.style-dark .slide-content {
    padding-right: 70px;
    padding-left: 0;
    background-position: right 60px 0;
  }
}
