.v-tabs-bar {
    top: 36px;
}

.tituloPrincipal {
    color: #0f69b4;
    font-size: 16px;
    font-weight: bold;
}

.subTitulo {
    color: #0f69b4;
    font-size: 16px;
    font-weight: normal;
}

.textInfo {
    color: #31708f !important;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.izquierda {
    text-align: center;
}

.btndots {
    position: relative;
    left: 94%;
    color: rgba(0, 0, 0, 0.42) !important;
}

.v-application--is-ltr .v-list-item__icon:first-child {
    margin-right: 10px;
    margin-left: 10px;
}

* * .btnEliminar, .v-application--is-ltr .v-card__actions .v-btn.v-btn+.v-btn {
    background: #fff;
    color: #0f69b4 !important;
    border: 1px solid #0f69b4 !important;
    float: right;
}

.btnEliminar:disabled {
    border: none !important;
    background-color: rgba(0, 0, 0, 0.12) !important;
}

.btnEliminar:hover {
    color: #3071a9 !important;
    background-color: #fff;
    border-color: #285e8e;
}

.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined), .v-card__actions .v-btn.v-btn {
    background: #0f69b4;
    color: #fff !important;
}

.theme--light.v-tabs>.v-tabs-bar {
    top: 5px !important;
}

.v-navigation-drawer--clipped:not(.v-navigation-drawer--temporary):not(.v-navigation-drawer--is-mobile) {
    top: 56px !important;
}

.theme--light.v-sheet.backWhite {
    background: #fff;
    box-shadow: none !important;
    border-bottom: 2px solid #e22c2c;
    height: 65px !important;
}

.fontSizetitulo {
    font-size: 30px;
    font-weight: normal;
}

.bicolor {
    position: absolute;
    top: -10px;
    left: 66px;
    display: block;
    width: 100px;
}

.bicolor span {
    display: inline-block;
    width: 50%;
    height: 20px;
}

.bicolor span.blue {
    background: #0f69b4 !important;
}

.bicolor span.red {
    background: #ee3a43;
}

.v-expansion-panels {
    border: none !important;
}

.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined).btnAccion {
    background: none !important;
    color: rgba(0, 0, 0, 0.87) !important;
    box-shadow: none !important;
}

th.Año {
    width: 200px;
}

th.cR {
    width: 350px;
}

th.estado {
    width: 500px;
}

td {
    cursor: pointer;
}

.btnAccion.theme--light.v-btn:hover::before, .btnAccion.theme--light.v-btn:focus::before {
    background: none !important;
}

/*------------ Class Snack ---------------*/

.no-shadow .v-snack__wrapper {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.v-application .v-snack .info {
    color: #31708f !important;
    background-color: #d9edf7 !important;
    border-color: #bce8f1 !important;
    font-size: 16px;
}

.v-application .v-snack .info .v-icon {
    color: #31708f;
}

.v-application .v-snack .error {
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
    font-size: 16px;
}

.v-application .v-snack .error .v-icon {
    color: #721c24;
}

.v-application .v-snack .success {
    color: #155724 !important;
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;
    font-size: 16px;
}

.v-application .v-snack .success .v-icon {
    color: #155724;
}

.v-application .v-snack .warning {
    color: #c6751b !important;
    background-color: #ead9a2 !important;
    border-color: #debf60 !important;
    font-size: 16px;
}

.v-application .v-snack .warning .v-icon {
    color: #c6751b;
}

/*--------------Class Alerts----------------*/

.v-application .v-alert.success {
    color: #155724 !important;
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;
}

.v-application .v-alert.success .v-alert__icon.v-icon {
    color: #155724;
}

.v-application .v-alert.warning {
    color: #c6751b !important;
    background-color: #ead9a2 !important;
    border-color: #debf60 !important;
}

.v-application .v-alert.warning .v-alert__icon.v-icon {
    color: #ffa11b;
    background-color: #ead9a2;
    border-color: #debf60;
}

.v-application .v-alert.info {
    color: #31708f !important;
    background-color: #d9edf7 !important;
    border-color: #bce8f1 !important;
}

.v-application .v-alert.info .v-alert__icon.v-icon {
    color: #31708f;
}

.v-application .v-alert.error {
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
}

.v-application .v-alert.error .v-alert__icon.v-icon {
    color: #721c24;
}

/*--------------------fin--------------------*/

thead>tr {
    background: #0f69b4;
}

.theme--light.v-data-table .v-data-table-header th.sortable, .theme--light.v-data-table .v-data-table-header th.sortable:hover, .theme--light.v-data-table .v-data-table-header th.sortable .v-data-table-header__icon, .theme--light.v-data-table thead tr th {
    color: #fff;
}

.v-data-table>.v-data-table__wrapper>table>tbody>tr>td, .v-data-table>.v-data-table__wrapper>table>thead>tr>td, .v-data-table>.v-data-table__wrapper>table>tfoot>tr>td {
    font-size: 12px;
    padding: 0 !important;
    margin: 0 !important;
    height: 10px !important;
}

tr th .v-data-table__checkbox .theme--light.v-icon {
    color: #fff;
}

.btnPrimario {
    background: #0f69b4;
    color: #fff !important;
}

.theme--light.v-date-picker-table th, .theme--light.v-date-picker-table .v-date-picker-table--date__week {
    color: #fff;
}

.v-input__slot {
    margin: 0 !important;
}

.v-data-footer {
    justify-content: flex-start !important;
}

.theme--light.v-data-table .v-data-footer {
    border: 0 !important;
}

.v-data-table__wrapper {
    overflow-x: scroll !important;
}

.v-breadcrumbs {
    background-color: #E5E5E5;
    padding: 13.5px !important;
    position: sticky;
    position: -webkit-sticky;
    /* for Safari */
    top: 4em;
    z-index: 2;
}

.theme--light.v-label--is-disabled, .theme--light.v-input--is-disabled input, .theme--light.v-input--is-disabled textarea, .theme--light.v-select .v-select__selection--disabled, .theme--light.v-input--selection-controls.v-input--is-disabled:not(.v-input--indeterminate) .v-icon {
    color: #555 !important;
}

.v-treeview--dense .v-treeview-node__root {
    min-height: 10px !important;
}

.theme--light.v-data-table>.v-data-table__wrapper>table>thead>tr>th {
    color: #fff;
    padding: 0 5px !important;
    height: 38px !important;
}

.theme--light.v-data-table>.v-data-table__wrapper>table>tbody>tr>td {
    padding: 0 5px !important;
    height: 38px !important;
}

.no-wrap {
    white-space: nowrap;
}

.component-propuesta-pic .v-data-table__wrapper {
    overflow-x: auto !important;
}

.component-propuesta-pic .tab-sol-det {
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.component-propuesta-pic .tab-sol-det thead th {
    background-color: #EEEEEE !important;
    color: #333 !important;
}

.sol-tex-sha {
    text-shadow: 0.5px 0.5px #bbb;
}

.text-12 {
    font-size: 12px;
}

.v-text-field__details {
    margin-top: 3px !important;
}

.table-hover-none>.theme--light.v-data-table .v-data-table__wrapper table tbody tr:hover {
    background: none !important;
}

.pro-fam .v-expansion-panels .v-expansion-panel-header {
    padding: 5px;
    line-height: inherit;
    min-height: inherit;
    font-weight: bold;
    color: #0f69b4;
}

.pro-fam .v-expansion-panels .v-expansion-panel-content__wrap {
    padding: 0px 0px 10px 0px;
}

.pro-fam .v-expansion-panels .v-input--selection-controls {
    margin-top: 0px;
    padding-top: 0px;
}

.pro-fam .v-input--selection-controls {
    margin-top: 0px;
    padding-top: 0px;
}

.pro-fam .v-input--selection-controls .v-messages {
    display: none;
}

.pro-fam .v-input--selection-controls__input {
    margin-right: 0px;
    margin-top: 0px;
}

.pro-fam .v-data-table__wrapper {
    overflow-x: auto !important;
}

.pro-fam .v-data-table__wrapper thead tr th {
    color: #111 !important;
}

/* .v-btn--disabled {
    background-color: rgb(190, 190, 190) !important;
    border-color: rgb(190, 190, 190) !important;
} */