.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Para ocupar toda la altura de la ventana */
}

.content {
  display: flex;
  flex: 1; /* Para que ocupe todo el espacio restante */
}
.panel-white-background {
  background-color: white !important;
  padding: 16px; /* Ajusta según sea necesario */
  border-radius: 8px; /* Ajusta según sea necesario */
}
/* App.css */

.container-root {
  height: 100vh;
  background-color: #f1f8e9; /* equivalent to green[50] */
  display: flex;
  flex-direction: column;
}

.header-root {
  background-color: #2e7d32; /* equivalent to green[800] */
  color: white; /* White text */
  box-shadow: none; /* No box shadow */
}

.icon-button {
  margin-top: 16px; /* Equivalent to mt: 2 */
  color: #1b5e20; /* equivalent to green[900] */
}

.drawer-root {
  /* Any additional styles for Drawer if needed */
}

.sidebar-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.panel-container {
  background-color: white !important;

  flex-grow: 1;
  padding: 16px; /* Equivalent to p: 2 */
}

