/*------------------------------------------------------------------
[FOOTER_BAR_CLASSIC.CSS - Contains bottom bar mixed styles]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
#bottom-bar {
	font-size: @bottom_bar_font_size;
	background-color: @bottom_bar_bg_color;
	background-image: @bottom_bar_bg_image_src;
	background-position: @bottom_bar_bg_image_position;
	background-repeat: @bottom_bar_bg_image_repeat;
	color: @bottom_bar_text_color;
	.bottom-bar-content {
		padding-top: 30px;
		padding-bottom: 30px;
		border-top: 1px solid @footer_borders_color;
		display: table;
		width: 100%;
	}
	.bottom-bar-text, #gotop {
		display: table-cell;
		vertical-align: middle;
	}
	a {
		color: @bottom_bar_link_color;
	}
	a:hover {
		color: @bottom_bar_link_hover_color;
	}
}
#gotop {
	padding-right: 20px;
	padding-left: 45px;
	text-align: right;
	white-space: nowrap;
	background-position: right center;
	background-repeat: no-repeat;
	background-size: 15px auto;
	@color_escaped: escape( ~'@{bottom_bar_text_color}' );
	background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%22444.819px%22%20height%3D%22444.819px%22%20viewBox%3D%220%200%20444.819%20444.819%22%20style%3D%22enable-background%3Anew%200%200%20444.819%20444.819%3B%22%0A%09%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M433.968%2C278.657L248.387%2C92.79c-7.419-7.044-16.08-10.566-25.977-10.566c-10.088%2C0-18.652%2C3.521-25.697%2C10.566%0A%09%09L10.848%2C278.657C3.615%2C285.887%2C0%2C294.549%2C0%2C304.637c0%2C10.28%2C3.619%2C18.843%2C10.848%2C25.693l21.411%2C21.413%0A%09%09c6.854%2C7.23%2C15.42%2C10.852%2C25.697%2C10.852c10.278%2C0%2C18.842-3.621%2C25.697-10.852L222.41%2C213.271L361.168%2C351.74%0A%09%09c6.848%2C7.228%2C15.413%2C10.852%2C25.7%2C10.852c10.082%2C0%2C18.747-3.624%2C25.975-10.852l21.409-21.412%0A%09%09c7.043-7.043%2C10.567-15.608%2C10.567-25.693C444.819%2C294.545%2C441.205%2C285.884%2C433.968%2C278.657z%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A")';
}
#gotop:hover {
	@color_escaped: escape( ~'@{footer_accent_color}' );
	background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%22444.819px%22%20height%3D%22444.819px%22%20viewBox%3D%220%200%20444.819%20444.819%22%20style%3D%22enable-background%3Anew%200%200%20444.819%20444.819%3B%22%0A%09%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M433.968%2C278.657L248.387%2C92.79c-7.419-7.044-16.08-10.566-25.977-10.566c-10.088%2C0-18.652%2C3.521-25.697%2C10.566%0A%09%09L10.848%2C278.657C3.615%2C285.887%2C0%2C294.549%2C0%2C304.637c0%2C10.28%2C3.619%2C18.843%2C10.848%2C25.693l21.411%2C21.413%0A%09%09c6.854%2C7.23%2C15.42%2C10.852%2C25.697%2C10.852c10.278%2C0%2C18.842-3.621%2C25.697-10.852L222.41%2C213.271L361.168%2C351.74%0A%09%09c6.848%2C7.228%2C15.413%2C10.852%2C25.7%2C10.852c10.082%2C0%2C18.747-3.624%2C25.975-10.852l21.409-21.412%0A%09%09c7.043-7.043%2C10.567-15.608%2C10.567-25.693C444.819%2C294.545%2C441.205%2C285.884%2C433.968%2C278.657z%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A")';
}
body.rtl #bottom-bar #gotop {
	padding-left: 20px;
	padding-right: 45px;
	text-align: left;
	background-position: left center;
}
@media screen and (max-width: 992px) {
	#bottom-bar {
		.bottom-bar-content, .bottom-bar-text {
			display: block;
			text-align: left;
		}
		#gotop {
			display: inline-block;
			padding-left: 0;
		}
	}
	body.rtl #bottom-bar {
		.bottom-bar-content, .bottom-bar-text {
			text-align: right;
		}
		#gotop {
			padding-right: 0;
		}
	}
}
