/*------------------------------------------------------------------
[BENEFITS.CSS - Benefits shortcode static styles]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.shortcode-benefits .icon svg {
  width: 50px;
  height: 50px;
}
.shortcode-benefits .icon i {
  font-size: 50px;
}
.shortcode-benefits a {
  text-decoration: none;
}
.shortcode-benefits h4 {
  margin-bottom: 16px;
  transition: all 0.3s;
}
.shortcode-benefits .item-inside {
  position: relative;
}
.shortcode-benefits .item {
  margin-bottom: 70px;
}
.shortcode-benefits .benefit-text {
  padding-left: 80px;
}
.shortcode-benefits .no-icon .benefit-text {
  padding-left: 0;
}
.shortcode-benefits .icon {
  position: absolute;
  left: 0;
  top: 5px;
}
.shortcode-benefits .button {
  margin-top: 20px;
}
.shortcode-benefits.with-borders .item {
  padding-right: 35px;
  padding-left: 35px;
}
.shortcode-benefits.with-borders .item:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
}
@media screen and (max-width: 992px) {
  .shortcode-benefits.with-borders .item:after {
    display: none;
  }
}
.shortcode-benefits.with-borders.cols-1 .item:after {
  display: none;
}
.shortcode-benefits.with-borders.cols-2 .item:nth-child(2n):after {
  display: none;
}
.shortcode-benefits.with-borders.cols-3 .item:nth-child(3n):after {
  display: none;
}
.shortcode-benefits.with-borders.cols-4 .item:nth-child(4n):after {
  display: none;
}
body.rtl .shortcode-benefits .benefit-text {
  padding-right: 80px;
  padding-left: 0;
}
body.rtl .shortcode-benefits .no-icon .benefit-text {
  padding-right: 0;
}
body.rtl .shortcode-benefits .icon {
  left: auto;
  right: 0;
}
@media screen and (max-width: 767px) {
  .shortcode-benefits .icon svg {
    width: 35px;
  }
  .shortcode-benefits .icon i {
    font-size: 35px;
  }
  .shortcode-benefits .benefit-text {
    padding-left: 50px;
  }
  .shortcode-benefits .no-icon .benefit-text {
    padding-left: 0;
  }
  body.rtl .shortcode-benefits .benefit-text {
    padding-right: 50px;
  }
  body.rtl .shortcode-benefits .no-icon .benefit-text {
    padding-right: 0;
  }
}
.shortcode-benefits.icon-position-top .benefit-text {
  padding-left: 0;
  padding-right: 0;
  padding-top: 85px;
}
.shortcode-benefits.icon-position-top .icon {
  top: 0;
}
.shortcode-benefits.icon-position-top .icon svg {
  width: 50px;
}
.shortcode-benefits.icon-position-top .icon i {
  font-size: 50px;
}
body.rtl .shortcode-benefits.icon-position-top .benefit-text {
  padding-right: 0;
}
.shortcode-benefits.icon-position-center .item,
body.rtl .shortcode-benefits.icon-position-center .item {
  text-align: center;
}
.shortcode-benefits.icon-position-center .benefit-text,
body.rtl .shortcode-benefits.icon-position-center .benefit-text {
  padding-left: 0;
  padding-right: 0;
  padding-top: 85px;
}
.shortcode-benefits.icon-position-center .icon,
body.rtl .shortcode-benefits.icon-position-center .icon {
  left: 0;
  right: 0;
}
.shortcode-benefits.icon-position-center .icon img,
body.rtl .shortcode-benefits.icon-position-center .icon img,
.shortcode-benefits.icon-position-center .icon svg,
body.rtl .shortcode-benefits.icon-position-center .icon svg {
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .shortcode-benefits.icon-position-center .icon svg {
    width: 50px;
  }
  .shortcode-benefits.icon-position-center .icon i {
    font-size: 50px;
  }
}
