/*------------------------------------------------------------------
[BLOG_CAROUSEL2.CSS - Blog posts carousel static styles]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.shortcode-blog-carousel2 {
  margin-bottom: 60px;
}
.shortcode-blog-carousel2 .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.shortcode-blog-carousel2 .thumb {
  overflow: hidden;
}
.shortcode-blog-carousel2 .thumb img {
  transition: filter 0.5s, transform 0.5s !important;
  display: block;
}
.shortcode-blog-carousel2 .slide-content,
.shortcode-blog-carousel2 .thumb {
  position: relative;
}
.shortcode-blog-carousel2 .post-date {
  font-weight: bold;
}
.shortcode-blog-carousel2 .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: opacity 0.3s;
  opacity: 0;
  background-size: 20px auto;
  background-position: center center;
  background-repeat: no-repeat;
}
.shortcode-blog-carousel2 a {
  text-decoration: none;
  transition: all 0.3s;
}
.shortcode-blog-carousel2 h4,
.shortcode-blog-carousel2 .post-date,
.shortcode-blog-carousel2 .post-excerpt {
  margin: 0 0 18px 0;
}
.shortcode-blog-carousel2 .thumb:hover .overlay {
  opacity: 1;
}
.shortcode-blog-carousel2 .thumb:hover img {
  -webkit-filter: blur(3px) grayscale(100%);
  filter: blur(3px) grayscale(100%);
  transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
}
.shortcode-blog-carousel2 .slider-pagination {
  position: relative;
  padding-top: 30px;
}
.shortcode-blog-carousel2 .slider-pagination .pagination-btn {
  display: inline-block;
  position: static;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  margin: 0;
  background-size: 27px auto;
}
.shortcode-blog-carousel2 .slider-pagination.pagination-pos-center {
  text-align: center;
}
.shortcode-blog-carousel2 .slider-pagination.pagination-pos-left {
  text-align: left;
}
.shortcode-blog-carousel2 .slider-pagination.pagination-pos-right {
  text-align: right;
}
@media screen and (max-width: 992px) {
  .shortcode-blog-carousel2 .thumb {
    float: left;
    margin-bottom: 24px;
  }
  .shortcode-blog-carousel2 .post-text {
    clear: both;
  }
}
