/*------------------------------------------------------------------
[BLOG_CAROUSEL.CSS - Blog posts carousel static styles]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.shortcode-blog-carousel {
  margin-bottom: 60px;
  overflow: hidden;
  padding-left: 60px;
  padding-right: 60px;
  margin-left: -60px;
  margin-right: -60px;
}
.shortcode-blog-carousel .swiper-wrapper {
  transition: all 0.3s;
}
.shortcode-blog-carousel .swiper-container {
  padding-bottom: 30px;
  overflow: visible;
}
.shortcode-blog-carousel .swiper-container .swiper-slide {
  opacity: 0;
}
.shortcode-blog-carousel .swiper-container .swiper-slide-active,
.shortcode-blog-carousel .swiper-container .swiper-slide-next,
.shortcode-blog-carousel .swiper-container .swiper-slide-prev {
  opacity: 1;
}
.shortcode-blog-carousel .slide-content,
.shortcode-blog-carousel .thumb {
  position: relative;
}
.shortcode-blog-carousel .thumb {
  overflow: hidden;
}
.shortcode-blog-carousel .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: opacity 0.3s;
  opacity: 0;
  background-size: 20px auto;
  background-position: center center;
  background-repeat: no-repeat;
}
.shortcode-blog-carousel .post-text {
  padding: 30px 40px;
  word-wrap: break-word;
}
.shortcode-blog-carousel a {
  text-decoration: none;
  transition: all 0.3s;
}
.shortcode-blog-carousel h4,
.shortcode-blog-carousel .post-data,
.shortcode-blog-carousel .post-excerpt {
  margin: 0 0 14px 0;
}
.shortcode-blog-carousel .author {
  margin-right: 25px;
}
.shortcode-blog-carousel .post-link {
  text-align: right;
}
.shortcode-blog-carousel .post-link a {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-size: 14px auto;
  margin-top: 12px;
}
.shortcode-blog-carousel .thumb img {
  transition: filter 0.5s, transform 0.5s !important;
  display: block;
}
.shortcode-blog-carousel .thumb:hover .overlay,
.shortcode-blog-carousel .thumb:hover .overlay-text {
  opacity: 1;
}
.shortcode-blog-carousel .thumb:hover img {
  -webkit-filter: blur(3px) grayscale(100%);
  filter: blur(3px) grayscale(100%);
  transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
}
.shortcode-blog-carousel .cats-table {
  display: table;
  width: 100%;
}
.shortcode-blog-carousel .cats-table .post-link,
.shortcode-blog-carousel .cats-table .post-categories {
  display: table-cell;
  vertical-align: top;
}
.shortcode-blog-carousel .post-categories a {
  padding: 7px 15px;
}
.shortcode-blog-carousel .swiper-pagination {
  right: 0;
  left: 0;
}
.shortcode-blog-carousel .swiper-pagination.pagination-pos-left {
  text-align: left;
}
.shortcode-blog-carousel .swiper-pagination.pagination-pos-right {
  text-align: right;
}
.shortcode-blog-carousel .swiper-pagination.pagination-pos-center {
  text-align: center;
}
.shortcode-blog-carousel .swiper-button-prev,
.shortcode-blog-carousel .swiper-button-next {
  display: inline-block;
  position: static;
  width: 25px;
  height: 30px;
  vertical-align: middle;
  background-size: 25px auto;
  background-repeat: no-repeat;
  background-position: center center;
  left: auto;
  top: auto;
  right: auto;
  margin-top: 0;
}
.shortcode-blog-carousel .swiper-button-prev {
  margin-right: 80px;
}
.shortcode-blog-carousel .swiper-button-next {
  margin-left: 80px;
}
.shortcode-blog-carousel.not-centered {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}
.shortcode-blog-carousel.not-centered .slide-content {
  box-shadow: none !important;
}
.shortcode-blog-carousel.shadow-yes .swiper-wrapper {
  padding-bottom: 60px;
}
body.rtl .shortcode-blog-carousel .post-link {
  text-align: left;
}
body.rtl .shortcode-blog-carousel .post-data .author {
  margin-right: 0;
}
body.rtl .shortcode-blog-carousel .post-data .time {
  margin-left: 25px;
}
