/*------------------------------------------------------------------
[IMAGE_CAROUSEL2.CSS - Image carousel shortcode static styles]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.shortcode-images-carousel2 {
  margin-bottom: 34px;
}
.shortcode-images-carousel2 .swiper-pagination {
  text-align: center;
  right: 0;
  left: 0;
  margin-top: 25px;
}
.shortcode-images-carousel2 figure {
  margin-bottom: 0;
}
.shortcode-images-carousel2 figure img {
  margin: 0 auto;
  display: block;
}
.shortcode-images-carousel2 .swiper-slide {
  opacity: 0.3;
  transition: opacity 0.3s;
}
.shortcode-images-carousel2 .swiper-slide-active {
  opacity: 1;
}
