/*------------------------------------------------------------------
[PORTFOLIO.CSS - Portfolio shortcode static styles]
[Table of contents]

1. Grid styles
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	1. Grid styles
-------------------------------------------------------------------*/
.portfolio-shortcode .portfolio-posts {
  margin-bottom: 60px;
  overflow: visible !important;
}
.portfolio-shortcode .portfolio-posts .overlay,
.portfolio-shortcode .portfolio-posts .caption {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.portfolio-shortcode .portfolio-posts .overlay {
  z-index: 2;
  transition: all 0.3s;
  opacity: 0;
}
.portfolio-shortcode .portfolio-posts .caption {
  z-index: 3;
  padding: 30px 40px 20px 40px;
  transition: all 0.3s;
  opacity: 0;
}
.portfolio-shortcode .portfolio-posts .caption-table {
  display: table;
  width: 100%;
  height: 100%;
}
.portfolio-shortcode .portfolio-posts .caption-cell {
  display: table-cell;
  vertical-align: middle;
}
.portfolio-shortcode .portfolio-posts a {
  text-decoration: none;
  transition: all 0.3s;
}
.portfolio-shortcode .portfolio-posts h4 {
  margin: 0 0 4px 0;
}
.portfolio-shortcode .portfolio-posts .post-link {
  margin: 0 0 18px 0;
}
.portfolio-shortcode .portfolio-posts .post-icons > div {
  display: inline-block;
  margin: 0 7px;
}
.portfolio-shortcode .portfolio-posts .post-link a {
  display: inline-block;
  background-size: 20px auto;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.portfolio-shortcode .portfolio-posts .post-likes {
  margin-top: 18px;
}
.portfolio-shortcode .portfolio-posts .post-likes .like-post {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.portfolio-shortcode .portfolio-posts .post-likes a:before,
.portfolio-shortcode .portfolio-posts .post-likes a:after {
  content: "";
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 20px auto;
}
.portfolio-shortcode .portfolio-posts .post-likes a:after {
  position: absolute;
  width: 100%;
  height: 18px;
  left: 0;
  top: 0;
  z-index: 1;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.portfolio-shortcode .portfolio-posts .post-likes a:before {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 18px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.portfolio-shortcode .portfolio-posts .post-likes a.activated:after,
.portfolio-shortcode .portfolio-posts .post-likes a:hover:after {
  -webkit-animation: scaleFade 0.5s forwards;
  -moz-animation: scaleFade 0.5s forwards;
  animation: scaleFade 0.5s forwards;
}
.portfolio-shortcode .portfolio-posts .post-categories a,
.portfolio-shortcode .portfolio-posts .post-link a {
  opacity: 0.7;
}
.portfolio-shortcode .portfolio-posts .post-categories a:hover,
.portfolio-shortcode .portfolio-posts .post-link a:hover {
  opacity: 1;
}
.portfolio-shortcode .portfolio-posts img {
  transition: filter 0.5s, transform 0.5s !important;
}
.portfolio-shortcode .portfolio-posts .item:hover .overlay,
.portfolio-shortcode .portfolio-posts .item:hover .caption {
  opacity: 1;
}
.portfolio-shortcode .portfolio-posts .item:hover img {
  -webkit-filter: blur(3px) grayscale(100%);
  filter: blur(3px) grayscale(100%);
  transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
}
.portfolio-shortcode.loading {
  position: relative;
}
.portfolio-shortcode.loading .portfolio-posts:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .portfolio-shortcode .portfolio-posts .post-categories,
  .portfolio-shortcode .portfolio-posts .post-link,
  .portfolio-shortcode .portfolio-posts .post-likes {
    display: none;
  }
}
.portfolio-shortcode .portfolio-posts.text-pos-center .caption {
  text-align: center;
}
.portfolio-shortcode .portfolio-posts.text-pos-bottom .caption-cell {
  vertical-align: bottom;
}
.portfolio-shortcode .portfolio-posts.text-pos-top .caption-cell {
  vertical-align: top;
}
@-webkit-keyframes scaleFade {
  30% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
  }
}
@-moz-keyframes scaleFade {
  30% {
    opacity: 1;
    -moz-transform: scale(1);
  }
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
  }
}
@keyframes scaleFade {
  30% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
