/*------------------------------------------------------------------
[TABS.CSS - Tabs shortcode static styles]
[Table of contents]

1. Shared styles
2. Simple horizontal / vertical styles
3. Modern horizontal / vertical styles
4. Modern horizontal / vertical Alternate styles
5. Responsive styles
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.theme-tabs {
  margin-bottom: 34px;
}
.theme-tabs h4.title {
  margin-bottom: 18px;
}
.theme-tabs i.tab-icon {
  margin-right: 10px;
}
.theme-tabs .nav-mobile {
  display: none;
}
.theme-tabs.tabs-style-modern .tab-content-wrapper,
.theme-tabs.tabs-style-modern_alt .tab-content-wrapper {
  display: table;
}
.theme-tabs.tabs-style-modern .tab-content-image .img-preloader,
.theme-tabs.tabs-style-modern_alt .tab-content-image .img-preloader,
.theme-tabs.tabs-style-modern .tab-content-image img,
.theme-tabs.tabs-style-modern_alt .tab-content-image img {
  display: block;
}
.theme-tabs.tabs-style-modern .tab-content-image,
.theme-tabs.tabs-style-modern_alt .tab-content-image,
.theme-tabs.tabs-style-modern .tab-content-text,
.theme-tabs.tabs-style-modern_alt .tab-content-text {
  display: table-cell;
  vertical-align: top;
}
.theme-tabs.tabs-style-modern .tab-content-text,
.theme-tabs.tabs-style-modern_alt .tab-content-text {
  padding: 30px 40px 10px 40px;
}
.theme-tabs.tabs-style-modern nav,
.theme-tabs.tabs-style-modern_alt nav {
  padding: 30px 40px;
}
.theme-tabs.tabs-style-modern nav a,
.theme-tabs.tabs-style-modern_alt nav a {
  text-decoration: none;
  display: inline-block;
  padding: 5px 30px;
}
.theme-tabs.tabs-style-modern.tabs-type-vertical,
.theme-tabs.tabs-style-modern_alt.tabs-type-vertical,
.theme-tabs.tabs-style-simple.tabs-type-vertical {
  display: table;
  width: 100%;
}
.theme-tabs.tabs-style-modern.tabs-type-vertical .nav-desktop,
.theme-tabs.tabs-style-modern_alt.tabs-type-vertical .nav-desktop,
.theme-tabs.tabs-style-simple.tabs-type-vertical .nav-desktop,
.theme-tabs.tabs-style-modern.tabs-type-vertical .tabs,
.theme-tabs.tabs-style-modern_alt.tabs-type-vertical .tabs,
.theme-tabs.tabs-style-simple.tabs-type-vertical .tabs {
  display: table-cell;
  position: relative;
  vertical-align: top;
}
.theme-tabs.tabs-style-modern.tabs-type-vertical .nav-desktop,
.theme-tabs.tabs-style-modern_alt.tabs-type-vertical .nav-desktop,
.theme-tabs.tabs-style-simple.tabs-type-vertical .nav-desktop {
  z-index: 2;
}
.theme-tabs.tabs-style-modern.tabs-type-vertical .nav-desktop a,
.theme-tabs.tabs-style-modern_alt.tabs-type-vertical .nav-desktop a,
.theme-tabs.tabs-style-simple.tabs-type-vertical .nav-desktop a {
  display: block;
  float: none;
  width: 100%;
  margin-right: 0;
  margin-bottom: 2px;
  white-space: nowrap;
}
.theme-tabs.tabs-style-modern.tabs-type-vertical .nav-desktop a:last-of-type,
.theme-tabs.tabs-style-modern_alt.tabs-type-vertical .nav-desktop a:last-of-type,
.theme-tabs.tabs-style-simple.tabs-type-vertical .nav-desktop a:last-of-type {
  margin-bottom: 0;
}
.theme-tabs.tabs-style-modern.tabs-type-vertical .tabs,
.theme-tabs.tabs-style-modern_alt.tabs-type-vertical .tabs,
.theme-tabs.tabs-style-simple.tabs-type-vertical .tabs {
  z-index: 1;
}
.theme-tabs.tabs-style-modern.tabs-type-vertical .nav-desktop a,
.theme-tabs.tabs-style-modern_alt.tabs-type-vertical .nav-desktop a {
  display: block;
  margin-bottom: 20px;
}
/*------------------------------------------------------------------
	2. Simple horizontal / vertical styles
-------------------------------------------------------------------*/
.theme-tabs.tabs-style-simple .tabs {
  clear: both;
  padding: 50px 60px 30px 60px;
}
.theme-tabs.tabs-style-simple nav a {
  float: left;
  padding: 15px 30px;
  text-decoration: none;
  margin-right: 2px;
  white-space: nowrap;
}
.theme-tabs.tabs-style-simple nav a:last-of-type {
  margin-right: 0;
}
/*------------------------------------------------------------------
	3. Modern horizontal / vertical styles
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	4. Modern horizontal / vertical Alternate styles
-------------------------------------------------------------------*/
.theme-tabs.tabs-style-modern_alt.tabs-type-horizontal .tab-content-text {
  padding: 0 40px;
}
.theme-tabs.tabs-style-modern_alt.tabs-type-horizontal .tab-content-image {
  padding: 5px 0 40px 40px;
}
body.rtl .theme-tabs.tabs-style-modern_alt.tabs-type-horizontal .tab-content-image {
  padding: 5px 40px 40px 0;
}
.theme-tabs.tabs-style-modern_alt.tabs-type-horizontal.mobile .tab-content-text,
body.rtl .theme-tabs.tabs-style-modern_alt.tabs-type-horizontal.mobile .tab-content-text {
  padding-top: 40px;
}
.theme-tabs.tabs-style-modern_alt.tabs-type-vertical .tab-content-image {
  padding: 40px 40px 40px 0;
}
body.rtl .theme-tabs.tabs-style-modern_alt.tabs-type-vertical .tab-content-image {
  padding: 40px 0 40px 40px;
}
.theme-tabs.tabs-style-modern_alt nav.nav-mobile {
  padding-bottom: 0;
}
/*------------------------------------------------------------------
	5. Responsive styles
-------------------------------------------------------------------*/
@media screen and (max-width: 767px) {
  .theme-tabs.tabs-style-simple .tabs {
    padding: 0;
  }
  .theme-tabs .tab-content-text {
    padding: 30px 30px 15px 30px !important;
  }
}
.theme-tabs.mobile.tabs-type-vertical {
  display: block;
}
.theme-tabs.mobile.tabs-type-vertical .tabs {
  display: block;
}
.theme-tabs nav.nav-mobile {
  padding: 30px;
}
.tab_content:before {
  display: none !important;
}
