/*------------------------------------------------------------------
[TEAM_MEMBERS.CSS - Team members shortcode static styles]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.team-members .inside {
  position: relative;
  padding-bottom: 90px;
}
.team-members .text-content {
  padding-left: 200px;
}
.team-members .photo {
  position: absolute;
  left: 0;
  top: 0;
}
.team-members .photo img,
.team-members .photo .placeholder {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  display: block;
}
.team-members .placeholder {
  background-position: center center;
  background-size: 65px auto;
  background-repeat: no-repeat;
}
.team-members .position {
  margin-bottom: 5px;
}
.team-members .name {
  font-weight: bold;
  transition: color 0.3s;
  margin-bottom: 18px;
}
.team-members .text {
  margin-bottom: 18px;
}
.team-members .social a {
  transition: color 0.3s;
  margin-right: 14px;
}
@media screen and (max-width: 767px) {
  .team-members {
    text-align: center;
  }
  .team-members .text-content {
    padding-left: 0;
  }
  .team-members .photo {
    position: static;
  }
  .team-members .photo img,
  .team-members .photo .placeholder {
    margin: 0 auto 18px auto;
  }
}
