/* menu y submenu */
#menu ul,
#menu ul li,
#menu ul ul{
	margin:0;
	padding:0;
	width:180px;
	list-style:none;
	border:0 none;
}

/*para IE 7*/
#menu ul:after{
	font:1px/0px Arial;
	height:0;
	content:".";
	clear:both;
	display:block;
	visibility:hidden;
}

#menu ul li{
	float:left; /*para IE 7*/
	display:block;
	display:inline; /*para IE*/
	position:relative;
}

/* menu */
#menu ul a{
	border:1px solid #fff;
	border-right:1px solid #bebebe;
	border-bottom:1px solid #bebebe;
	padding:0 6px;
	display:block;
	background:#efefef;
	color:#555;
	font:normal normal 1em/2em Arial;
	text-decoration:none;
	height:auto;
	height:1%; /*para IE*/
}

#menu ul a:hover,
#menu ul li:hover a,
#menu ul li.ieHover a{
	background:#ccc;
	color:#f6f6f6;
}

/* segundo menu */
#menu ul li:hover li a,
#menu ul li.ieHover li a{
	background:#efefef;
	color:#555;
}

#menu ul li:hover li a:hover,
#menu ul li:hover li:hover a,
#menu ul li.ieHover li a:hover,
#menu ul li.ieHover li.ieHover a{
	background:#ccc;
	color:#f6f6f6;
}

/* tercer menu */
#menu ul li:hover li:hover li a,
#menu ul li.ieHover li.ieHover li a{
	background:#efefef;
	color:#555;
}

#menu ul li:hover li:hover li a:hover,
#menu ul li:hover li:hover li:hover a,
#menu ul li.ieHover li.ieHover li a:hover,
#menu ul li.ieHover li.ieHover li.ieHover a{
	background:#ccc;
	color:#f6f6f6;
}

/* tuarto menu */
#menu ul li:hover li:hover li:hover li a,
#menu ul li.ieHover li.ieHover li.ieHover li a{
	background:#efefef;
	color:#555;
}

#menu ul li:hover li:hover li:hover li a:hover,
#menu ul li.ieHover li.ieHover li.ieHover li a:hover{
	background:#ccc;
	color:#f6f6f6;
}

#menu ul ul,
#menu ul ul ul,
#menu ul ul ul ul{
  display:none;
  position:absolute;
  top:0;
  left:180px;
}

#menu ul li:hover ul ul,
#menu ul li:hover ul ul ul,
#menu ul li.ieHover ul ul,
#menu ul li.ieHover ul ul ul{
	display: none;
}

#menu ul li:hover ul,
#menu ul ul li:hover ul,
#menu ul ul ul li:hover ul,
#menu ul li.ieHover ul,
#menu ul ul li.ieHover ul,
#menu ul ul ul li.ieHover ul{
	display:block;
}

