/*------------------------------------------------------------------
[BLOG_MASONRY_MEDIA.CSS - Blog masonry media shortcode static styles]
[Table of contents]

1. Grid styles
2. Shared styles
3. RTL styles
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Grid styles
-------------------------------------------------------------------*/
@media screen and (min-width: 992px) {
	.blog-masonry-media-posts.cols-4 .grid-item {
		width: 25%;
	}
	.blog-masonry-media-posts.cols-3 .grid-item {
		width: 33.33333%;
	}
	.blog-masonry-media-posts.cols-2 .grid-item {
		width: 50%;
	}
	.blog-masonry-media-posts.cols-1 .grid-item {
		width: 100%;
	}
}

@media screen and (max-width: 992px) {
	.blog-masonry-media-posts.medium-cols-4 .grid-item {
		width: 25%;
	}
	.blog-masonry-media-posts.medium-cols-3 .grid-item {
		width: 33.33333%;
	}
	.blog-masonry-media-posts.medium-cols-2 .grid-item {
		width: 50%;
	}
	.blog-masonry-media-posts.medium-cols-1 .grid-item {
		width: 100%;
	}
}

@media screen and (max-width: 767px) {
	.blog-masonry-media-posts.small-cols-4 .grid-item {
		width: 25%;
	}
	.blog-masonry-media-posts.small-cols-3 .grid-item {
		width: 33.33333%;
	}
	.blog-masonry-media-posts.small-cols-2 .grid-item {
		width: 50%;
	}
	.blog-masonry-media-posts.small-cols-1 .grid-item {
		width: 100%;
	}
}

/*------------------------------------------------------------------
	2. Shared styles
-------------------------------------------------------------------*/
.shortcode-blog-masonry-media {
	margin-bottom: 60px;
	transition: opacity 0.3s;
	.inside {
		position: relative;
		background-size: cover;
	}
	.item-content {
		position: relative;
		z-index: 2;
	}
	.blog-masonry-media-posts {
		margin-bottom: 60px;
	}
	.post-date {
		font-weight: bold;
		transition: color 0.3s;
	}
	a {
		text-decoration: none;
		transition: all 0.3s;
	}
	.inside {
		padding: 55px 60px;
	}
	h2, .post-excerpt, .post-date {
		margin-bottom: 14px;
	}
	header {
		margin-bottom: 24px;
	}
	.header-table {
		display: table;
		width: 100%;
	}
	.header-col {
		display: table-cell;
		vertical-align: middle;
	}
	.post-author {
		.image, .text {
			display: inline-block;
			vertical-align: middle;
		}
		img {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			margin-right: 15px;
		}
		.name {
			display: block;
			transition: color 0.3s;
		}
	}
	.post-likes, .post-comments {
		text-align: right;
		width: 5%;
		white-space: nowrap;
	}
	.post-comments {
		font-weight: normal;
		.icon-comments {
			display: inline-block;
			vertical-align: middle;
			width: 16px;
			height: 16px;
			background-size: 16px auto;
			background-repeat: no-repeat;
			margin-right: 7px;
		}
	}
	.post-likes {
		padding-right: 10px;
		.like-post {
			position: relative;
			display: block;
			padding-left: 27px;
			span {
				display: inline-block;
				vertical-align: middle;
			}
		}
		a:before, a:after {
			content: "";
			background-repeat: no-repeat;
			background-position: center top;
			background-size: 16px auto;
			transform: translateY(-50%);
		}
		a:after {
			position: absolute;
			width: 16px;
			height: 16px;
			left: 0;
			top: 3px;
			z-index: 1;
			-webkit-transform: scale(0);
			-moz-transform: scale(0);
			-ms-transform: scale(0);
			transform: scale(0);
			opacity: 0;
			-webkit-transition: none;
			-moz-transition: none;
			transition: none;
		}
		a:before {
			position: absolute;
			width: 16px;
			left: 0;
			top: 50%;
			height: 16px;
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			backface-visibility: hidden;
		}
		a.activated:after, a:hover:after {
			-webkit-animation: scaleFade 0.5s forwards;
			-moz-animation: scaleFade 0.5s forwards;
			animation: scaleFade 0.5s forwards;
		}
	}
	.article.has-thumb {
		header {
			margin-bottom: 75px;
		}
	}
	.post-read-more {
		margin-top: 22px;
	}
	.overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transition: all 0.3s;
		opacity: 0;
		z-index: 1;
	}
	.article.has-thumb .overlay {
		background-color: rgba(0,0,0,0.4);
		opacity: 1;
	}
	.article.has-thumb:hover .overlay {
		opacity: 1;
	}
	.article.post-format-quote {
		blockquote {
			padding: 0;
			margin: 0;
			background: none;
			cite {
				display: block;
				padding-top: 18px;
			}
			p:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	.article.post-format-video,
	.article.post-format-audio {
		.post-icon {
			position: absolute;
			z-index: 3;
			right: 60px;
			bottom: 60px;
			width: 40px;
			height: 40px;
			background-size: 40px auto;
			background-repeat: no-repeat;
		}
	}
}

.shortcode-blog-masonry-media.loading {
	opacity: 0.5;
}

/*------------------------------------------------------------------
	3. RTL styles
-------------------------------------------------------------------*/
body.rtl .shortcode-blog-masonry-media {
	.post-likes {
		a {
			padding-left: 0;
			padding-right: 27px;
		}
		a:after, a:before {
			left: auto;
			right: 0;
		}
	}
	.post-comments .icon-comments {
		margin-right: 0;
		margin-left: 7px;
	}
	.post-author img {
		margin-right: 0;
		margin-left: 15px;
	}
	.post-likes {
		padding-right: 0;
		padding-left: 10px;
	}
	.article .post-icon {
		right: auto;
		left: 60px;
		transform: rotate(180deg);
	}
}

@media screen and (max-width: 767px) {
	.shortcode-blog-masonry-media {
		.header-table {
			display: block;
		}
		.post-author {
			display: block;
			padding-bottom: 14px;
			width: auto;
		}
		.post-likes, .post-comments {
			display: inline-block;
			vertical-align: middle;
			width: auto;
		}
		.inside {
			padding: 25px 30px;
		}
	}
}

@-webkit-keyframes scaleFade {
	30% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(2.5);
	}
}

@-moz-keyframes scaleFade {
	30% {
		opacity: 1;
		-moz-transform: scale(1);
	}
	100% {
		opacity: 0;
		-moz-transform: scale(2.5);
	}
}

@keyframes scaleFade {
	30% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(2.5);
	}
}
