/*------------------------------------------------------------------
[TABS.CSS - Tabs shortcode static styles]
[Table of contents]

1. Shared styles
2. Simple horizontal / vertical styles
3. Modern horizontal / vertical styles
4. Modern horizontal / vertical Alternate styles
5. Responsive styles
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.theme-tabs {
	h4.title {
		font-size: ~'@{h5_font_size}px';
		line-height: ~'@{h5_font_line_height}px';
	}
	.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
		background-color: @color_accent_black;
	}
}
.theme-tabs.tabs-style-modern,
.theme-tabs.tabs-style-modern_alt {
	box-shadow: ~'@{box_shadow_h_length}px @{box_shadow_v_length}px @{box_shadow_blur_radius}px 0px @{box_shadow_color}';
	background-color: @box_bg_color;
	nav a {
		@button_animation_time_real: @small_button_animation_time / 1000;
		color: @color_accent_grey;
		transition: ~'all @{button_animation_time_real}s';
		border-radius: ~'@{small_button_radius}px';
	}
	nav a.open {
		background-color: @color_accent_grey;
		color: @color_accent_inner;
		box-shadow: ~'@{small_button_shadow_h_length}px @{small_button_shadow_v_length}px @{small_button_shadow_blur_radius}px 0px @{color_accent_grey_shadow}';
	}
}
/*------------------------------------------------------------------
	2. Simple horizontal / vertical styles
-------------------------------------------------------------------*/
.theme-tabs.tabs-style-simple .tabs {
	box-shadow: ~'@{box_shadow_h_length}px @{box_shadow_v_length}px @{box_shadow_blur_radius}px 0px @{box_shadow_color}';
	background-color: @box_bg_color;
	border-bottom-right-radius: ~'@{content_elements_radius}px';
	border-bottom-left-radius: ~'@{content_elements_radius}px';
	border-top-right-radius: ~'@{content_elements_radius}px';
}
.theme-tabs.tabs-style-simple nav a.open {
	background-color: @box_bg_color;
	color: @color_accent_grey;
}
.theme-tabs.tabs-style-simple nav a {
	background-color: @color_accent_grey;
	color: @color_accent_inner;
}
.theme-tabs.tabs-style-simple.tabs-type-horizontal {
	nav a:first-of-type {
		border-top-left-radius: ~'@{content_elements_radius}px';
	}
	nav a:last-of-type {
		border-top-right-radius: ~'@{content_elements_radius}px';
	}
}
.theme-tabs.tabs-style-simple.tabs-type-vertical {
	nav, .tabs {
		font-size: ~'@{primary_font_size}px';
	}
	.tabs {
		border-bottom-left-radius: ~'@{content_elements_radius}px';
		border-bottom-right-radius: ~'@{content_elements_radius}px';
		border-top-right-radius: ~'@{content_elements_radius}px';
	}
	nav a:first-of-type {
		border-top-left-radius: ~'@{content_elements_radius}px';
	}
	nav a:last-of-type {
		border-bottom-left-radius: ~'@{content_elements_radius}px';
	}
}

.theme-tabs.tabs-style-simple.mobile {
	nav.nav-mobile {
		background-color: @box_bg_color;
		border-top-left-radius: ~'@{content_elements_radius}px';
		border-top-right-radius: ~'@{content_elements_radius}px';
	}
	.tabs {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}

/*------------------------------------------------------------------
	3. Modern horizontal / vertical styles
-------------------------------------------------------------------*/
.theme-tabs.tabs-style-modern {
	nav {
		background-color: @color_bg_light;
	}
}
/*------------------------------------------------------------------
	4. Modern horizontal / vertical Alternate styles
-------------------------------------------------------------------*/
.theme-tabs.tabs-style-modern_alt {
	nav {
		background-color: @box_bg_color;
	}
}
.theme-tabs.tabs-style-modern_alt {
	nav a.open {
		background-color: @color_accent_blue;
		color: @color_accent_inner;
		box-shadow: ~'@{small_button_shadow_h_length}px @{small_button_shadow_v_length}px @{small_button_shadow_blur_radius}px 0px @{color_accent_blue_shadow}';
	}
}
.theme-tabs.tabs-style-modern_alt {
	.tab-content-image img {
		border-radius: ~'@{small_button_radius}px';
	}
}
/*------------------------------------------------------------------
	5. Responsive styles
-------------------------------------------------------------------*/
@media screen and (max-width: 767px) {
	.theme-tabs {
		h4.title {
			font-size: ~'@{primary_font_size}px';
			line-height: ~'@{primary_font_line_height}px';
		}
	}
}
.theme-tabs.mobile {
	nav a {
		display: block;
	}
}
