/*------------------------------------------------------------------
[TESTIMONIALS_VARIABLE.CSS - Quotes / Testimonials shortcode variable styles]
[Table of contents]

1. Shared styles
2. Default style
3. Parallax style
4. Gradient style
5. Simple style
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.shortcode-testimonials.style-default header:after,
.shortcode-testimonials.style-parallax .slide-content:before {
	@color_escaped: escape( ~'@{color_accent_inner}' );
	background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2295.333px%22%20height%3D%2295.332px%22%20viewBox%3D%220%200%2095.333%2095.332%22%20style%3D%22enable-background%3Anew%200%200%2095.333%2095.332%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cg%3E%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M30.512%2C43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527%2C0-6.47%2C0.806-8.752%2C1.793%20c2.2-8.054%2C7.485-21.951%2C18.013-23.516c0.975-0.145%2C1.774-0.85%2C2.04-1.799l2.301-8.23c0.194-0.696%2C0.079-1.441-0.318-2.045%20s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637%2C0-25.152%2C13.19-30.433%2C32.076%20c-3.1%2C11.08-4.009%2C27.738%2C3.627%2C38.223c4.273%2C5.867%2C10.507%2C9%2C18.529%2C9.313c0.033%2C0.001%2C0.065%2C0.002%2C0.098%2C0.002%20c9.898%2C0%2C18.675-6.666%2C21.345-16.209c1.595-5.705%2C0.874-11.688-2.032-16.851C40.971%2C49.307%2C36.236%2C45.586%2C30.512%2C43.939z%22%2F%3E%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M92.471%2C54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019%20c-3.527%2C0-6.471%2C0.806-8.753%2C1.793c2.2-8.054%2C7.485-21.951%2C18.014-23.516c0.975-0.145%2C1.773-0.85%2C2.04-1.799l2.301-8.23%20c0.194-0.696%2C0.079-1.441-0.318-2.045c-0.396-0.604-1.034-1.007-1.75-1.105c-0.776-0.106-1.568-0.16-2.354-0.16%20c-12.637%2C0-25.152%2C13.19-30.434%2C32.076c-3.099%2C11.08-4.008%2C27.738%2C3.629%2C38.225c4.272%2C5.866%2C10.507%2C9%2C18.528%2C9.312%20c0.033%2C0.001%2C0.065%2C0.002%2C0.099%2C0.002c9.897%2C0%2C18.675-6.666%2C21.345-16.209C96.098%2C65.559%2C95.376%2C59.575%2C92.471%2C54.413z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E")';
}
.shortcode-testimonials.style-default,
.shortcode-testimonials.style-gradient,
.shortcode-testimonials.style-simple_photo {
	.slide-content {
		border-radius: ~'@{content_elements_radius}px';
		box-shadow: ~'@{box_shadow_h_length}px @{box_shadow_v_length}px @{box_shadow_blur_radius}px 0px @{box_shadow_color}';
		background-color: @box_bg_color;
	}
}
.shortcode-testimonials.slider-effect-fade,
.shortcode-testimonials.slider-effect-slide {
	border-radius: ~'@{content_elements_radius}px';
	box-shadow: ~'@{box_shadow_h_length}px @{box_shadow_v_length}px @{box_shadow_blur_radius}px 0px @{box_shadow_color}';
	.slide-content {
		box-shadow: none;
	}
}
/*------------------------------------------------------------------
	2. Default style
-------------------------------------------------------------------*/
.shortcode-testimonials.style-default {
	.photo img {
		border-top-left-radius: ~'@{content_elements_radius}px';
		border-top-right-radius: ~'@{content_elements_radius}px';
	}
	header:after {
		box-shadow: ~'@{smallbox_shadow_h_length}px @{smallbox_shadow_v_length}px @{smallbox_shadow_blur_radius}px 0px @{color_accent_blue_shadow}';
		background-color: @color_accent_blue;
		color: @color_accent_inner;
	}
	.text {
		color: @color_text_darken;
		@text_font_size: @primary_font_size + 4;
		font-size: ~'@{text_font_size}px';
		line-height: 1.5em;
	}
	.header-text .author {
		color: #fff;
		font-family: @secondary_font_family;
	}
	.header-text .position {
		color: #959595;
		font-size: ~'@{smaller_font_size}px';
		line-height: ~'@{smaller_font_line_height}px';
	}
	.swiper-pagination-bullet {
		background-color: @color_accent_light_grey;
	}
	.swiper-pagination-bullet:hover, .swiper-pagination-bullet-active {
		background-color: @color_accent_grey;
	}
}
@media screen and (max-width: 992px) {
	.shortcode-testimonials.style-default {
		.header-text {
			.author, .position {
				font-size: ~'@{small_font_size}px';
			}
		}
		.text {
			@text_font_size: @primary_font_size;
			font-size: ~'@{text_font_size}px';
			line-height: 1.5em;
		}
	}
}
/*------------------------------------------------------------------
	3. Parallax style
-------------------------------------------------------------------*/
.shortcode-testimonials.style-parallax {
	color: @color_accent_inner;
	.text {
		@text_font_size: @primary_font_size + 4;
		font-size: ~'@{text_font_size}px';
		line-height: 1.5em;
	}
	.author {
		font-family: @secondary_font_family;
	}
	.position {
		font-size: ~'@{small_font_size}px';
		line-height: ~'@{small_font_line_height}px';
	}
	.swiper-pagination-bullet {
		background-color: @color_accent_inner;
		opacity: 0.3;
	}
	.swiper-pagination-bullet:hover, .swiper-pagination-bullet-active {
		background-color: @color_accent_inner;
		opacity: 1;
	}
}
.shortcode-testimonials.style-parallax.overlay-color-blue {
	box-shadow: ~'@{smallbox_shadow_h_length}px @{smallbox_shadow_v_length}px @{smallbox_shadow_blur_radius}px 0px @{color_accent_blue_shadow}';
	background: @color_accent_blue;
	.parallax-overlay {
		background-color: @color_accent_blue;
	}
}
.shortcode-testimonials.style-parallax.overlay-color-black {
	box-shadow: ~'@{smallbox_shadow_h_length}px @{smallbox_shadow_v_length}px @{smallbox_shadow_blur_radius}px 0px @{color_accent_black_shadow}';
	background: @color_accent_black;
	.parallax-overlay {
		background-color: @color_accent_black;
	}
}
.shortcode-testimonials.style-parallax.overlay-color-grey {
	box-shadow: ~'@{smallbox_shadow_h_length}px @{smallbox_shadow_v_length}px @{smallbox_shadow_blur_radius}px 0px @{color_accent_grey_shadow}';
	background: @color_accent_grey;
	.parallax-overlay {
		background-color: @color_accent_grey;
	}
}
.shortcode-testimonials.style-parallax.overlay-color-light_grey {
	box-shadow: ~'@{smallbox_shadow_h_length}px @{smallbox_shadow_v_length}px @{smallbox_shadow_blur_radius}px 0px @{color_accent_light_grey_shadow}';
	background: @color_accent_light_grey;
	.parallax-overlay {
		background-color: @color_accent_light_grey;
	}
}
.shortcode-testimonials.style-parallax.overlay-color-red {
	box-shadow: ~'@{smallbox_shadow_h_length}px @{smallbox_shadow_v_length}px @{smallbox_shadow_blur_radius}px 0px @{color_accent_red_shadow}';
	background: @color_accent_red;
	.parallax-overlay {
		background-color: @color_accent_red;
	}
}
.shortcode-testimonials.style-parallax.overlay-color-orange {
	box-shadow: ~'@{smallbox_shadow_h_length}px @{smallbox_shadow_v_length}px @{smallbox_shadow_blur_radius}px 0px @{color_accent_orange_shadow}';
	background: @color_accent_orange;
	.parallax-overlay {
		background-color: @color_accent_orange;
	}
}
.shortcode-testimonials.style-parallax.overlay-color-green {
	box-shadow: ~'@{smallbox_shadow_h_length}px @{smallbox_shadow_v_length}px @{smallbox_shadow_blur_radius}px 0px @{color_accent_green_shadow}';
	background: @color_accent_green;
	.parallax-overlay {
		background-color: @color_accent_green;
	}
}
.shortcode-testimonials.style-parallax.overlay-color-turquoise {
	box-shadow: ~'@{smallbox_shadow_h_length}px @{smallbox_shadow_v_length}px @{smallbox_shadow_blur_radius}px 0px @{color_accent_turquoise_shadow}';
	background: @color_accent_turquoise;
	.parallax-overlay {
		background-color: @color_accent_turquoise;
	}
}
.shortcode-testimonials.style-parallax.overlay-color-yellow {
	box-shadow: ~'@{smallbox_shadow_h_length}px @{smallbox_shadow_v_length}px @{smallbox_shadow_blur_radius}px 0px @{color_accent_yellow_shadow}';
	background: @color_accent_yellow;
	.parallax-overlay {
		background-color: @color_accent_yellow;
	}
}
.shortcode-testimonials.style-parallax.overlay-color-purple {
	box-shadow: ~'@{smallbox_shadow_h_length}px @{smallbox_shadow_v_length}px @{smallbox_shadow_blur_radius}px 0px @{color_accent_purple_shadow}';
	background: @color_accent_purple;
	.parallax-overlay {
		background-color: @color_accent_purple;
	}
}
.shortcode-testimonials.style-parallax.overlay-color-dark_purple {
	box-shadow: ~'@{smallbox_shadow_h_length}px @{smallbox_shadow_v_length}px @{smallbox_shadow_blur_radius}px 0px @{color_accent_dark_purple_shadow}';
	background: @color_accent_dark_purple;
	.parallax-overlay {
		background-color: @color_accent_dark_purple;
	}
}
@media screen and (max-width: 992px) {
	.shortcode-testimonials.style-parallax {
		.text {
			@text_font_size: @primary_font_size;
			font-size: ~'@{text_font_size}px';
			line-height: 1.5em;
		}
	}
}
/*------------------------------------------------------------------
	4. Gradient style
-------------------------------------------------------------------*/
.shortcode-testimonials.style-gradient {
	header, .gradient-overlay {
		border-top-left-radius: ~'@{content_elements_radius}px';
		border-top-right-radius: ~'@{content_elements_radius}px';
		color: @color_accent_inner;
	}
	.swiper-pagination-bullet {
		background-color: @color_accent_light_grey;
	}
	.swiper-pagination-bullet:hover, .swiper-pagination-bullet-active {
		background-color: @color_accent_grey;
	}
	.text {
		@text_font_size: @primary_font_size + 4;
		font-size: ~'@{text_font_size}px';
		line-height: 1.5em;
	}
	.author {
		color: @color_accent_blue;
	}
	.position {
		font-size: ~'@{smaller_font_size}px';
		line-height: ~'@{smaller_font_line_height}px';
	}
}
@media screen and (max-width: 992px) {
	.shortcode-testimonials.style-gradient {
		.text {
			@text_font_size: @primary_font_size;
			font-size: ~'@{text_font_size}px';
			line-height: 1.5em;
		}
	}
}
/*------------------------------------------------------------------
	5. Simple style
-------------------------------------------------------------------*/
.shortcode-testimonials.style-simple_photo {
	.text {
		color: @color_text_darken;
		@text_font_size: @primary_font_size;
		font-size: ~'@{text_font_size}px';
		line-height: 1.4em;
	}
	.author {
		color: @color_accent_blue;
	}
	.position {
		font-size: ~'@{smaller_font_size}px';
		line-height: ~'@{smaller_font_line_height}px';
	}
	.swiper-pagination-bullet {
		background-color: @color_accent_light_grey;
	}
	.swiper-pagination-bullet:hover, .swiper-pagination-bullet-active {
		background-color: @color_accent_grey;
	}
	.slide-content:before {
		@color_escaped: escape( ~'@{color_accent_light_grey}' );
		background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2295.333px%22%20height%3D%2295.332px%22%20viewBox%3D%220%200%2095.333%2095.332%22%20style%3D%22enable-background%3Anew%200%200%2095.333%2095.332%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cg%3E%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M30.512%2C43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527%2C0-6.47%2C0.806-8.752%2C1.793%20c2.2-8.054%2C7.485-21.951%2C18.013-23.516c0.975-0.145%2C1.774-0.85%2C2.04-1.799l2.301-8.23c0.194-0.696%2C0.079-1.441-0.318-2.045%20s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637%2C0-25.152%2C13.19-30.433%2C32.076%20c-3.1%2C11.08-4.009%2C27.738%2C3.627%2C38.223c4.273%2C5.867%2C10.507%2C9%2C18.529%2C9.313c0.033%2C0.001%2C0.065%2C0.002%2C0.098%2C0.002%20c9.898%2C0%2C18.675-6.666%2C21.345-16.209c1.595-5.705%2C0.874-11.688-2.032-16.851C40.971%2C49.307%2C36.236%2C45.586%2C30.512%2C43.939z%22%2F%3E%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M92.471%2C54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019%20c-3.527%2C0-6.471%2C0.806-8.753%2C1.793c2.2-8.054%2C7.485-21.951%2C18.014-23.516c0.975-0.145%2C1.773-0.85%2C2.04-1.799l2.301-8.23%20c0.194-0.696%2C0.079-1.441-0.318-2.045c-0.396-0.604-1.034-1.007-1.75-1.105c-0.776-0.106-1.568-0.16-2.354-0.16%20c-12.637%2C0-25.152%2C13.19-30.434%2C32.076c-3.099%2C11.08-4.008%2C27.738%2C3.629%2C38.225c4.272%2C5.866%2C10.507%2C9%2C18.528%2C9.312%20c0.033%2C0.001%2C0.065%2C0.002%2C0.099%2C0.002c9.897%2C0%2C18.675-6.666%2C21.345-16.209C96.098%2C65.559%2C95.376%2C59.575%2C92.471%2C54.413z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E")';
	}
}
