/*------------------------------------------------------------------
[TIMELINE_CV_VARIABLE.CSS - CV timeline shortcode variable styles]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/

@c_lighten_grey: lighten( @color_accent_light_grey, 4%);

.cv-timeline {
	.dates {
		font-size: ~'@{small_font_size}px';
		line-height: ~'@{small_font_line_height}px';
		color: @color_text_darken;
	}
	.item:hover .dates {
		color: @color_accent_blue;
	}
	.position {
		font-size: ~'@{smaller_font_size}px';
		line-height: ~'@{smaller_font_line_height}px';
	}
	.website {
		color: @color_text_lighten;
		font-size: ~'@{small_font_size}px';
		line-height: ~'@{small_font_line_height}px';
		a {
			color: @color_text_lighten;
		}
		a:hover {
			color: @color_accent_blue;
		}
	}
	.filling-line {
		background-color: @c_lighten_grey;
	}
	.dot {
		background-color: @color_accent_inner;
		border: 8px solid @color_accent_inner;
		box-shadow: ~'0 5px 15px 0px @{box_shadow_color}';
	}
	.selected .dot, .item:hover .dot {
		background-color: @color_accent_inner;
		border: 8px solid @color_accent_blue;
		box-shadow: ~'0 5px 15px 0px @{color_accent_blue_shadow}';
	}
	.item.selected:after, .item:hover:after {
		background-image: -ms-linear-gradient(top, @c_lighten_grey 20%, @color_accent_blue 50%, @c_lighten_grey 80%);
		background-image: -moz-linear-gradient(top, @c_lighten_grey 20%, @color_accent_blue 50%, @c_lighten_grey 80%);
		background-image: -o-linear-gradient(top, @c_lighten_grey 20%, @color_accent_blue 50%, @c_lighten_grey 80%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20, @c_lighten_grey), color-stop(50, @color_accent_blue), color-stop(80, @c_lighten_grey));
		background-image: -webkit-linear-gradient(top, @c_lighten_grey 20%, @color_accent_blue 50%, @c_lighten_grey 80%);
	}
}
