/*------------------------------------------------------------------
[BENEFITS_MODERN.CSS - Benefits shortcode static styles]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.shortcode-benefits-modern .line {
  position: absolute;
  top: 30px;
  right: 15px;
  left: 100px;
  border-radius: 3px;
  height: 6px;
  transition: all 0.3s;
}
.shortcode-benefits-modern .no-icon .line {
  left: 0;
}
.shortcode-benefits-modern .icon {
  position: absolute;
  left: 0;
  top: 0;
}
.shortcode-benefits-modern .icon i {
  font-size: 70px;
}
.shortcode-benefits-modern .icon svg,
.shortcode-benefits-modern .icon img {
  width: 60px;
}
.shortcode-benefits-modern .icon svg {
  height: 60px;
}
.shortcode-benefits-modern a {
  text-decoration: none;
}
.shortcode-benefits-modern h4 {
  margin-bottom: 18px;
  transition: all 0.3s;
}
.shortcode-benefits-modern .item-inside {
  position: relative;
  padding-top: 95px;
}
.shortcode-benefits-modern .item {
  margin-bottom: 70px;
  position: relative;
}
.shortcode-benefits-modern .btn {
  margin-top: 34px;
  display: inline-block;
  width: 15px;
  height: 20px;
  background-size: 15px auto;
  background-repeat: no-repeat;
}
.shortcode-benefits-modern .benefit-text {
  padding-right: 70px;
}
body.rtl .shortcode-benefits-modern .line {
  left: 15px;
  right: 100px;
}
body.rtl .shortcode-benefits-modern .no-icon .line {
  right: 0;
  left: 15px;
}
body.rtl .shortcode-benefits-modern .icon {
  right: 0;
  left: auto;
}
body.rtl .shortcode-benefits-modern .benefit-text {
  padding-left: 70px;
  padding-right: 0;
}
body.rtl .shortcode-benefits-modern .btn {
  transform: rotate(180deg);
}
