/*------------------------------------------------------------------
[BLOG_FEATURED_POST.CSS - Featured post block static styles]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.shortcode-blog-featured-post {
  padding: 40px;
}
.shortcode-blog-featured-post .item {
  position: relative;
}
.shortcode-blog-featured-post .thumb {
  margin: -40px -40px 25px -40px;
  position: relative;
  overflow: hidden;
}
.shortcode-blog-featured-post .thumb img {
  display: block;
  transition: all 0.3s;
}
.shortcode-blog-featured-post .overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s;
  background-size: 20px auto;
  background-repeat: no-repeat;
  background-position: center center;
}
.shortcode-blog-featured-post .thumb:hover .overlay {
  opacity: 1;
}
.shortcode-blog-featured-post .thumb:hover img {
  -webkit-filter: blur(3px) grayscale(100%);
  filter: blur(3px) grayscale(100%);
  transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
}
.shortcode-blog-featured-post h4,
.shortcode-blog-featured-post .post-data {
  margin-bottom: 14px;
}
.shortcode-blog-featured-post a {
  transition: all 0.3s;
  text-decoration: none;
}
.shortcode-blog-featured-post .author {
  margin-right: 25px;
}
body.rtl .shortcode-blog-featured-post .author {
  margin-right: 0;
}
body.rtl .shortcode-blog-featured-post .date {
  margin-left: 25px;
}
