/*------------------------------------------------------------------
[FACTS_IN_DIGITS.CSS - Facts in digits shortcode static styles]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.facts-in-digits .vc_row {
  margin-left: 0;
  margin-right: 0;
}
.facts-in-digits .item {
  position: relative;
  margin-bottom: 34px;
}
.facts-in-digits .icon {
  position: absolute;
  left: 0;
  top: 10px;
}
.facts-in-digits .icon i {
  font-size: 70px;
}
.facts-in-digits .icon svg {
  width: 60px;
  height: 60px;
}
.facts-in-digits .item-text {
  padding-left: 80px;
}
.facts-in-digits .no-icon .item-text {
  padding-left: 0;
}
.facts-in-digits .typed:after {
  top: 0;
}
.facts-in-digits .number {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 10px;
}
body.rtl .item {
  text-align: right;
}
body.rtl .item-text {
  padding-left: 0;
  padding-right: 80px;
}
body.rtl .icon {
  right: 0;
  left: auto;
}
