/*------------------------------------------------------------------
[PHOTO_FULLSCREEN_CAROUSEL.CSS - Fullscreen photos carousel static styles]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.photo-fullscreen-carousel {
  overflow-x: hidden;
}
.photo-fullscreen-carousel figure {
  position: relative;
  z-index: 1;
}
.photo-fullscreen-carousel figure img {
  max-height: 100%;
  height: initial;
  display: block;
  margin: 0 auto;
}
.photo-fullscreen-carousel .swiper-slide {
  max-height: 100%;
}
.photo-fullscreen-carousel .swiper-container {
  padding-bottom: 80px;
  overflow: visible;
}
.photo-fullscreen-carousel figcaption {
  position: absolute;
  z-index: 10;
  bottom: 60px;
  left: 60px;
  right: 60px;
}
.photo-fullscreen-carousel h2 {
  margin-bottom: 0;
}
.photo-fullscreen-carousel .swiper-slide-prev figure:after,
.photo-fullscreen-carousel .swiper-slide-next figure:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(17, 17, 17, 0.8);
}
.photo-fullscreen-carousel .swiper-pagination {
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
