/*------------------------------------------------------------------
[PORTFOLIO_WALL.CSS - Portfolio wall shortcode static styles]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.portfolio-wall-shortcode .col {
  background-size: cover;
  position: relative;
  padding: 0;
}
.portfolio-wall-shortcode .overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.3);
}
.portfolio-wall-shortcode .inside {
  position: relative;
  z-index: 2;
  height: 100%;
}
.portfolio-wall-shortcode .text-item {
  position: absolute;
  transition: all 0.3s;
  left: 7%;
  right: 7%;
}
.portfolio-wall-shortcode .item-categories {
  transition-delay: 0.2s;
  opacity: 0;
  top: 10%;
  font-weight: bold;
}
.portfolio-wall-shortcode .item-title {
  bottom: 10%;
}
.portfolio-wall-shortcode .item-zoom {
  transition-delay: 0.2s;
  opacity: 0;
  bottom: 10%;
}
.portfolio-wall-shortcode h4 {
  margin-bottom: 0;
}
.portfolio-wall-shortcode h4 a {
  text-decoration: none;
}
.portfolio-wall-shortcode .lightbox-link a {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 20px auto;
  background-repeat: no-repeat;
}
.portfolio-wall-shortcode .left-side .text-item {
  text-align: right;
}
.portfolio-wall-shortcode .col:hover .item-title {
  bottom: 50%;
  transform: translateY(50%);
}
.portfolio-wall-shortcode .col:hover .item-zoom,
.portfolio-wall-shortcode .col:hover .item-categories {
  opacity: 1;
}
.portfolio-wall-shortcode.wide-style .left-side .text-item,
.portfolio-wall-shortcode.wide-style .right-side .text-item {
  left: 15%;
  right: 15%;
  text-align: left;
}
body.rtl .portfolio-wall-shortcode.wide-style .left-side .text-item,
body.rtl .portfolio-wall-shortcode.wide-style .right-side .text-item {
  text-align: right;
}
