/*------------------------------------------------------------------
[PROGRESS.CSS - Progress bars shortcode static styles]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.progress-bar {
  margin-bottom: 34px;
  position: relative;
}
.progress-bar .progress-bar-title,
.progress-bar .num {
  font-weight: bold;
}
.progress-bar .progress-bar-title {
  margin-bottom: 12px;
}
.progress-bar .progress {
  padding-right: 72px;
  position: relative;
}
.progress-bar .num {
  position: absolute;
  right: 0;
  top: -8px;
}
.progress-bar .progress-bar-value-inner {
  height: 8px;
  position: relative;
  border-radius: 4px;
}
.progress-bar .progress-bar-value-inner .value {
  height: 8px;
  position: absolute;
  margin-top: 0;
  border-radius: 4px;
  transition: width 1s;
}
.progress-bar.style-type-3d .progress-bar-value-inner .value:after {
  content: '';
  position: absolute;
  border-radius: 24px;
  right: 0;
  width: 24px;
  height: 24px;
  margin-top: -8px;
}
body.rtl .progress-bar .progress {
  padding-right: 0;
  padding-left: 72px;
}
body.rtl .progress-bar .num {
  right: auto;
  left: 0;
}
body.rtl .progress-bar.style-type-3d .progress-bar-value-inner .value:after {
  right: auto;
  left: 0;
}
