/*------------------------------------------------------------------
[TESTIMONIALS_MAGAZINE.CSS - Testimonials magazine shortcode static styles]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.shortcode-testimonials-magazine {
  position: relative;
}
.shortcode-testimonials-magazine .slide-content {
  padding: 85px 110px 50px 500px;
}
.shortcode-testimonials-magazine .photo {
  position: absolute;
  left: 55px;
  bottom: 0;
}
.shortcode-testimonials-magazine .photo img {
  display: block;
  width: auto !important;
  height: auto !important;
}
.shortcode-testimonials-magazine .text {
  margin: -25px 0 25px -25px;
  background-size: 60px auto;
  background-repeat: no-repeat;
  padding: 25px 0 0 25px;
}
.shortcode-testimonials-magazine .author {
  font-weight: bold;
}
.shortcode-testimonials-magazine .swiper-button-next,
.shortcode-testimonials-magazine .swiper-button-prev {
  bottom: 55px;
  top: auto;
  left: auto;
}
.shortcode-testimonials-magazine .swiper-button-next {
  right: 60px;
}
.shortcode-testimonials-magazine .swiper-button-prev {
  right: 90px;
}
body.rtl .shortcode-testimonials-magazine .slide-content {
  padding: 85px 500px 50px 110px;
}
body.rtl .shortcode-testimonials-magazine .photo {
  right: 55px;
  left: auto;
}
body.rtl .shortcode-testimonials-magazine .text {
  margin: -25px -25px 25px 0;
  padding: 25px 25px 0 0;
  background-position: right top;
}
body.rtl .shortcode-testimonials-magazine .swiper-button-next {
  left: 90px;
  right: auto;
}
body.rtl .shortcode-testimonials-magazine .swiper-button-prev {
  left: 60px;
  right: auto;
}
@media screen and (max-width: 992px) {
  .shortcode-testimonials-magazine .slide-content {
    padding: 30px 30px 90px 30px;
  }
  .shortcode-testimonials-magazine .photo {
    display: none;
  }
  .shortcode-testimonials-magazine .swiper-button-next,
  .shortcode-testimonials-magazine .swiper-button-prev {
    bottom: 30px;
    right: auto;
  }
  .shortcode-testimonials-magazine .swiper-button-next {
    left: 60px;
  }
  .shortcode-testimonials-magazine .swiper-button-prev {
    left: 30px;
  }
  .shortcode-testimonials-magazine .text {
    background-image: none !important;
  }
  body.rtl .shortcode-testimonials-magazine .slide-content {
    padding: 30px 30px 90px 30px;
  }
  body.rtl .shortcode-testimonials-magazine .swiper-button-next {
    right: 30px;
    left: auto;
  }
  body.rtl .shortcode-testimonials-magazine .swiper-button-prev {
    right: 60px;
    left: auto;
  }
}
