/*------------------------------------------------------------------
[HEAD-STYLE_7.CSS - Header style, static styles, variation #7]
[Table of contents]

1. Shared styles
2. Page title, description and breadcrumbs
3. Second menu
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
#header {
	margin-bottom: 110px;
	position: relative;
	.pg-canvas {
		z-index: 5;
	}
	.parallax-scene {
		overflow: hidden;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.parallax-scene > li {
		width: 120%;
		height: 120%;
	}
}
#header.parallax-js-section {
	overflow: visible !important;
}
#header-particlegroud {
	position: absolute;
	z-index: 1;
	overflow: hidden;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.slider-mode #header-bg-overlay {
	display: none;
}
.error404 #header {
	margin-bottom: 0;
}
#header.parallax-js-section {
	overflow: visible;
}
#header.slider-mode {
	position: absolute;
	margin-bottom: 0;
	left: 0;
	right: 0;
	background: none;
}
.error404 #header.slider-mode {
	box-shadow: none;
}
#header-bg-overlay {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}
#sub-header {
	position: relative;
	z-index: 2;
}
.header-menu-wrapper {
	position: relative;
}

/*------------------------------------------------------------------
	2. Page title, description and breadcrumbs
-------------------------------------------------------------------*/
#header-title-desc {
	padding: 35px 0;
	h1 {
		margin: 0 0 14px 0;
		font-size: 42px;
		line-height: 1.2em;
	}
	h6 {
		font-weight: 600;
		letter-spacing: 12px;
		text-transform: uppercase;
		margin: 0 0 24px 0;
		font-size: 14px;
		line-height: 1.35em;
	}
	.subheader-container {
		display: table;
		width: 100%;
	}
	.subheader-text, .subheader-cta {
		display: table-cell;
		vertical-align: middle;
	}
	.subheader-cta {
		width: 5%;
	}
}
#header-breadcrumbs {
	a {
		text-decoration: none;
		transition: color 0.3s;
	}
	span {
		padding: 16px 0;
	}
	a, span {
		display: inline-block;
		vertical-align: middle;
	}
	.first-item a {
		padding-right: 35px;
		padding-left: 35px;
	}
	.first-item a, .separator {
		text-indent: -5555em;
	}
	.first-item a, .separator {
		background-size: 14px auto;
		background-repeat: no-repeat;
		background-position: center center;
		width: 14px;
	}
	.separator {
		background-size: 9px auto;
	}
	.first-item {
		margin-right: 16px;
	}
	.first-item + .separator {
		display: none;
	}
	.separator {
		margin: 0 16px;
	}
}
body.rtl #header-breadcrumbs {
	.first-item {
		margin-right: 0;
		margin-left: 16px;
	}
	.separator {
		transform: rotate(180deg);
	}
}
@media screen and (max-width: 767px) {
	#header-title-desc {
		.subheader-container, .subheader-text, .subheader-cta {
			display: block;
		}
		.subheader-cta {
			margin-top: 18px;
		}
		h1 {
			font-size: 32px;
			line-height: 1.2em;
		}
	}
}

/*------------------------------------------------------------------
	3. Second menu
-------------------------------------------------------------------*/
#header-second-menu {
	position: relative;
	a {
		text-decoration: none;
		text-transform: uppercase;
		margin-right: 30px;
		display: block;
		padding: 25px 0;
		font-weight: bold;
		transition: all 0.3s;
		border-bottom: 2px solid transparent;
	}
	li:last-of-type a {
		margin-right: 0;
	}
	.col-md-12 {
		padding-right: 0;
		padding-left: 0;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			margin: 0;
			padding: 0;
			display: inline-block;
		}
		ul, li:before {
			display: none;
		}
	}
}
body.rtl #header-second-menu {
	a {
		margin-right: 0;
		margin-left: 30px;
	}
	li:last-of-type a {
		margin-left: 0;
	}
}

@media screen and (max-width: 992px) {
	#header-second-menu {
		display: none;
	}
}
