/*------------------------------------------------------------------
[SUBMENU_MINIMAL_STYLE_2.CSS - Overlay submenu styles / variation #2]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
body.minimal-overlay-menu {
	overflow: hidden;
}
body.minimal-overlay-menu #wrap {
	transform: translateX(-300px);
	-webkit-filter: blur(3px) grayscale(100%);
	filter: blur(3px) grayscale(100%);
}
body.rtl.minimal-overlay-menu #wrap {
	transform: translateX(300px);
	-webkit-filter: blur(3px) grayscale(100%);
	filter: blur(3px) grayscale(100%);
}
#side-minimal-menu {
	.overlay {
		transition: opacity 0.3s;
		opacity: 0;
	}
	.side-menu-content {
		transition: all 0.3s;
		position: fixed;
		right: -300px;
		overflow-y: auto;
		top: 0;
		bottom: 0;
		width: 300px;
		z-index: 9999;
		background: @submenu_bg_color;
		padding: 70px 60px;
	}
	.overlay-close {
		width: 24px;
		height: 24px;
		background-size: 24px 24px;
		position: fixed;
		top: 73px;
		right: -24px;
		opacity: 0;
		z-index: 9999;
		transition: opacity 0.3s;
		transition-delay: 0.3s;
		@color_escaped: escape( ~'@{submenu_overlay_close_color}' );
		background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%2047.971%2047.971%22%20style%3D%22enable-background%3Anew%200%200%2047.971%2047.971%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M28.228%2C23.986L47.092%2C5.122c1.172-1.171%2C1.172-3.071%2C0-4.242c-1.172-1.172-3.07-1.172-4.242%2C0L23.986%2C19.744L5.121%2C0.88%0A%09%09c-1.172-1.172-3.07-1.172-4.242%2C0c-1.172%2C1.171-1.172%2C3.071%2C0%2C4.242l18.865%2C18.864L0.879%2C42.85c-1.172%2C1.171-1.172%2C3.071%2C0%2C4.242%0A%09%09C1.465%2C47.677%2C2.233%2C47.97%2C3%2C47.97s1.535-0.293%2C2.121-0.879l18.865-18.864L42.85%2C47.091c0.586%2C0.586%2C1.354%2C0.879%2C2.121%2C0.879%0A%09%09s1.535-0.293%2C2.121-0.879c1.172-1.171%2C1.172-3.071%2C0-4.242L28.228%2C23.986z%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A")';
	}
	.side-menu-logo {
		margin-bottom: 30px;
	}
	.side-menu-menu {
		margin-bottom: 30px;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		.menu-item {
			list-style: none;
			margin: 0;
			padding: 0;
			border-bottom: 1px solid @submenu_border_color;
			position: relative;
			.mega-menu-row {
				border-bottom: 1px solid @submenu_border_color;
			}
			a {
				display: block;
				text-decoration: none;
				color: @submenu_link_color;
				font-size: ~'@{submenu_text_size}px';
				line-height: ~'@{submenu_text_line_height}px';
				font-family: @primary_font_family;
				font-weight: bold;
				transition: all 0.3s;
				padding: 12px 0;
			}
			.sub-menu, .mega-menu {
				display: none;
			}
			.sub-menu.mega-menu-row {
				display: block;
			}
			a.mobile-submenu-toggler {
				margin: 0;
				padding: 0;
				border: 0;
				position: absolute;
				width: 14px;
				height: 14px;
				right: 0;
				top: 16px;
				background-size: 10px auto;
				background-repeat: no-repeat;
				background-position: center center;
				transition: all 0.3s;
				transform: rotate(-90deg);
				@color_escaped: escape( ~'@{menu_accent_color}' );
				background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%22451.847px%22%20height%3D%22451.847px%22%20viewBox%3D%220%200%20451.847%20451.847%22%20style%3D%22enable-background%3Anew%200%200%20451.847%20451.847%3B%22%0A%09%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M225.923%2C354.706c-8.098%2C0-16.195-3.092-22.369-9.263L9.27%2C151.157c-12.359-12.359-12.359-32.397%2C0-44.751%0A%09%09c12.354-12.354%2C32.388-12.354%2C44.748%2C0l171.905%2C171.915l171.906-171.909c12.359-12.354%2C32.391-12.354%2C44.744%2C0%0A%09%09c12.365%2C12.354%2C12.365%2C32.392%2C0%2C44.751L248.292%2C345.449C242.115%2C351.621%2C234.018%2C354.706%2C225.923%2C354.706z%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A")';
			}
			a.mobile-submenu-toggler.open {
				transform: rotate(0deg);
			}
		}
		.menu-item-has-children > a {
			padding-right: 18px;
		}
		.menu-item-has-icon {
			padding-left: 18px;
		}
		.menu-item-has-icon > a:before {
			font-family: FontAwesome;
			transition: all 0.3s;
			color: @submenu_icon_color;
			left: 0;
			position: absolute;
		}
		.menu-item:hover > a,
		.menu-item.current-menu-ancestor > a,
		.menu-item.current-menu-item > a {
			color: @submenu_accent_color;
		}
		.menu-item:last-of-type, .mega-menu-row:last-of-type {
			border-bottom: 0;
		}
		li:before {
			display: none;
		}
	}
	.side-menu-free-text {
		color: @submenu_desc_color;
		font-size: ~'@{menu_text_size}px';
		line-height: ~'@{menu_text_line_height}px';
		a {
			color: @submenu_link_color;
		}
		a:hover {
			color: @submenu_accent_color;
		}
	}
}
body.rtl #side-minimal-menu {
	.side-menu-content {
		right: auto;
		left: -320px;
	}
	.overlay-close {
		right: auto;
		left: -24px;
	}
	.side-menu-menu {
		.menu-item {
			a.mobile-submenu-toggler {
				right: auto;
				left: 0;
				transform: rotate(90deg);
			}
			a.mobile-submenu-toggler.open {
				transform: rotate(0deg);
			}
		}
		.menu-item-has-icon {
			padding-right: 18px;
			padding-left: 0;
		}
		.menu-item-has-children > a {
			padding-left: 18px;
			padding-right: 0;
		}
		.menu-item-has-icon > a:before {
			right: 0;
			left: auto;
		}
	}
}
body.minimal-overlay-menu #side-minimal-menu {
	.overlay {
		position: fixed;
		opacity: 1;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: @submenu_overlay_bg_color;
		z-index: 9998;
	}
	.overlay-close {
		opacity: 1;
		right: 320px;
	}
	.side-menu-content {
		right: 0;
	}
}
body.rtl.minimal-overlay-menu #side-minimal-menu {
	.overlay-close {
		right: auto;
		left: 320px;
	}
	.side-menu-content {
		right: auto;
		left: 0;
	}
}
