/*------------------------------------------------------------------
[SUBMENU.CSS - Dropdown header menu static styles]
[Table of contents]

1. Drop-down submenu styles
2. Styles for mobiles
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Drop-down submenu styles
-------------------------------------------------------------------*/
.header-menu-wrapper.responsive-mode-off .menu {
	.mobile-submenu-toggler {
		display: none !important;
	}
	.menu-item > .sub-menu {
		.menu-item:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: 0;
			transition: width 0.3s;
			background: @submenu_accent_color;
			border-top-right-radius: 2px;
			border-bottom-right-radius: 2px;
		}
	}
	.menu-item > .sub-menu, .menu-item > .mega-menu {
		list-style: none;
		margin: 0;
		padding: 13px 0;
		position: absolute;
		z-index: 999;
		visibility: hidden;
		opacity: 0;
		transform-origin: 10% top;
		transition: all 0.3s;
		top: 110%;
		left: 0;
		background: @submenu_bg_color;
		border-radius: ~'@{submenu_corners}px';
		box-shadow: ~'@{submenu_shadow_h_length}px @{submenu_shadow_v_length}px @{submenu_shadow_blur_radius}px 0px @{submenu_shadow_color}';
		.menu-item-has-icon > a:before {
			color: @submenu_icon_color;
		}
		.menu-item {
			margin: 0;
			padding: 0 40px;
			list-style: none;
			position: relative;
			a {
				transition: all 0.3s;
				padding: 12px 0;
				display: block;
				white-space: nowrap;
				font-weight: bold;
				text-decoration: none;
				color: @submenu_link_color;
				font-size: ~'@{submenu_text_size}px';
				line-height: ~'@{submenu_text_line_height}px';
				border-bottom: 2px solid @submenu_border_color;
				font-family: @primary_font_family;
			}
			a:before {
				font-family: FontAwesome;
				transition: all 0.3s;
			}
		}

		.menu-item:before {
			display: none;
		}
		.menu-item-has-icon > a {
			padding-left: 24px;
		}
	}
	.menu-item > .mega-menu {
		> .sub-menu .sub-menu {
			position: static;
			top: auto !important;
			right: auto;
			bottom: auto;
			left: auto;
			opacity: 1;
			box-shadow: none;
			margin: 0;
			padding: 0;
			> .menu-item:after, > .menu-item:hover:after {
				display: none;
			}
			> .menu-item, > .menu-item:hover {
				border: 0;
				padding-top: 0;
				padding-right: 0;
				padding-left: 0;
				margin: 0;
				a {
					border: 0;
					margin: 0;
					padding-right: 0;
					padding-top: 0;
					padding-bottom: 5px;
				}
			}
		}
		> .sub-menu > .menu-item > .sub-menu {
			padding-top: 15px;
		}
	}
	.menu-item-has-mega-menu:hover {
		.mega-menu .sub-menu {
			visibility: visible;
		}
	}
	.menu-item > .sub-menu {
		.menu-item:last-of-type > a {
			border-bottom: 0;
		}
	}
	.sub-menu {

		.sub-menu {
			top: -13px !important;
			left: 100%;
		}

	}
	.menu-item .mega-menu .mega-menu-row:last-of-type a {
		border-bottom: 0;
	}
	.mega-menu > .sub-menu {
		margin: 0;
	}
	.mega-menu {
		display: table;
		padding-left: 20px !important;
		padding-right: 20px !important;
		.menu-item {
			padding: 0 20px !important;
		}
		.menu-item:hover > a:before {
			left: 5px;
		}
	}
	.mega-menu-row {
		display: table-row;
	}
	.mega-menu-col {
		display: table-cell;
	}
	li.menu-item:hover {
		> .sub-menu, > .mega-menu {
			visibility: visible;
			opacity: 1;
			top: 100%;
		}
	}
	.sub-menu .menu-item:hover > a,
	.sub-menu .menu-item.current-menu-ancestor > a,
	.sub-menu .menu-item.current-menu-item > a {
		color: @submenu_accent_color;
	}
	.sub-menu .menu-item-has-icon > a:before {
		color: @submenu_icon_color;
	}
	.sub-menu .menu-item:hover > a:before,
	.sub-menu .menu-item.current-menu-ancestor > a:before,
	.sub-menu .menu-item.current-menu-item > a:before {
		color: @submenu_accent_color;
	}
	.sub-menu .menu-item:hover:after,
	.sub-menu .menu-item.current-menu-ancestor:after,
	.sub-menu .menu-item.current-menu-item:after {
		width: 4px;
	}
}

body.rtl .header-menu-wrapper.responsive-mode-off .menu {
	.menu-item > .sub-menu {
		.menu-item > a:before {
			right: 0;
			left: auto;
		}
		.menu-item:after {
			left: auto;
			right: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-top-left-radius: 2px;
			border-bottom-left-radius: 2px;
		}
	}
	.menu-item > .sub-menu, .menu-item > .mega-menu {
		left: auto;
		right: 0;
		.menu-item-has-icon > a {
			padding-left: 0;
			padding-right: 24px;
		}
	}
	.mega-menu {
		.menu-item > a:before {
			left: auto;
			right: 0;
		}
		.menu-item:hover > a:before {
			right: 5px;
			left: auto;
		}
	}
	.sub-menu {

		.sub-menu {
			right: 100%;
			left: auto;
		}

	}
	.menu-item > .mega-menu {
		> .sub-menu .sub-menu {
			> .menu-item, > .menu-item:hover {
				a {
					padding-left: 0;
					padding-right: 24px;
				}
			}
		}
	}
}

/*------------------------------------------------------------------
	2. Drop-down submenu styles
-------------------------------------------------------------------*/
.header-menu-wrapper.responsive-mode-on {
	.menu {
		position: absolute;
		transition: all 0.3s;
		opacity: 0;
		visibility: hidden;
		width: 270px;
		right: 0;
		top: 35px;
		list-style: none;
		padding: 20px 40px;
		margin: 0 -18px 0 0;
		background: @submenu_bg_color;
		border-radius: ~'@{submenu_corners}px';
		box-shadow: ~'@{submenu_shadow_h_length}px @{submenu_shadow_v_length}px @{submenu_shadow_blur_radius}px 0px @{submenu_shadow_color}';
		.menu-item.menu-item-has-children > a {
			padding-right: 20px;
		}
		.menu-item {
			list-style: none;
			margin: 0;
			padding: 0;
			a {
				transition: all 0.3s;
				padding: 8px 0;
				display: block;
				position: relative;
				text-decoration: none;
				font-weight: bold;
				color: @submenu_link_color;
				font-size: 14px;
				line-height: 1.5em;
				border-bottom: 2px solid @submenu_border_color;
				font-family: @primary_font_family;
			}
			a:before {
				font-family: FontAwesome;
				transition: all 0.3s;
			}
			a.mobile-submenu-toggler {
				margin: 0;
				padding: 0;
				border: 0;
				position: absolute;
				width: 14px;
				height: 14px;
				right: 0;
				top: 12px;
				background-size: 10px auto;
				background-repeat: no-repeat;
				background-position: center center;
				transition: all 0.3s;
				transform: rotate(-90deg);
				@color_escaped: escape( ~'@{menu_accent_color}' );
				background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%22451.847px%22%20height%3D%22451.847px%22%20viewBox%3D%220%200%20451.847%20451.847%22%20style%3D%22enable-background%3Anew%200%200%20451.847%20451.847%3B%22%0A%09%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M225.923%2C354.706c-8.098%2C0-16.195-3.092-22.369-9.263L9.27%2C151.157c-12.359-12.359-12.359-32.397%2C0-44.751%0A%09%09c12.354-12.354%2C32.388-12.354%2C44.748%2C0l171.905%2C171.915l171.906-171.909c12.359-12.354%2C32.391-12.354%2C44.744%2C0%0A%09%09c12.365%2C12.354%2C12.365%2C32.392%2C0%2C44.751L248.292%2C345.449C242.115%2C351.621%2C234.018%2C354.706%2C225.923%2C354.706z%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A")';
			}
			a.mobile-submenu-toggler.open {
				transform: rotate(0deg);
			}
		}
		.menu-item-has-children > a {
			padding-right: 18px;
		}
		.sub-menu {
			margin: 0;
			padding: 4px 0 0 15px;
			display: none;
		}
		.sub-menu.mega-menu-row {
			display: block;
		}
		.mega-menu {
			display: none;
		}
		> .menu-item:last-of-type > a {
			border-bottom: 0;
		}
		.menu-item-has-icon > a {
			padding-left: 18px;
		}
		.menu-item-has-icon > a:before {
			left: 0;
			position: absolute;
		}
		.menu-item:before {
			display: none;
		}
		.menu-item:hover > a,
		.menu-item.current-menu-ancestor > a,
		.menu-item.current-menu-item > a {
			color: @submenu_accent_color;
		}
		.menu-item-has-icon > a:before {
			color: @submenu_icon_color;
		}
		.menu-item:hover > a:before,
		.menu-item.current-menu-ancestor > a:before,
		.menu-item.current-menu-item > a:before {
			color: @submenu_accent_color;
		}
		.menu-item:hover:after,
		.menu-item.current-menu-ancestor:after,
		.menu-item.current-menu-item:after {
			width: 4px;
		}
	}

	.menu-layout-item.open .menu {
		visibility: visible;
		opacity: 1;
		top: 25px;
	}
}

body.rtl .header-menu-wrapper.responsive-mode-on .menu {
	right: auto;
	left: 0;
	margin: 0 0 0 -18px;
	.menu-item.menu-item-has-children > a {
		padding-left: 20px;
		padding-right: 0;
	}
	.menu-item > a:before {
		right: 0;
		left: auto;
	}
	.sub-menu {
		padding: 4px 15px 0 0;
	}
	.menu-item.menu-item-has-icon > a {
		padding-right: 18px;
	}
	.menu-item > a.mobile-submenu-toggler {
		right: auto;
		left: 0;
		transform: rotate(90deg);
		padding: 0;
	}
	.menu-item > a.mobile-submenu-toggler.open {
		transform: rotate(0deg);
	}
	.menu-item.menu-item-has-icon > a:before {
		right: 0;
		left: auto;
	}
}
