/*------------------------------------------------------------------
[TOP_BAR_VARIABLE.CSS - Top bar variable styles]
[Table of contents]

1. Colors, styles
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Colors, styles
-------------------------------------------------------------------*/
.top-bar {
	background-color: @top_bar_bg_color;
	box-shadow: ~'@{top_bar_shadow_h_length}px @{top_bar_shadow_v_length}px @{top_bar_shadow_blur_radius}px 0px @{top_bar_shadow_color}';
	font-size: ~'@{top_bar_font_size}px';
	line-height: ~'@{top_bar_font_line_height}px';
	color: @top_bar_font_color;
	a {
		color: @top_bar_link_color;
	}
	a:hover {
		color: @top_bar_link_hover_color;
	}
	i {
		color: @top_bar_icon_color;
	}
	.elem-text-icon:hover i, .elem-social-icons a:hover i {
		color: @top_bar_icon_hover_color;
	}
}
