/*------------------------------------------------------------------
[BENEFITS_V2_VARIABLE.CSS - Benefits shortcode variable styles]
[Table of contents]

1. Shared styles
2. Default styles
3. Alternate styles
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.shortcode-benefits-v2 {
	.icon {
		box-shadow: ~'@{smallbox_shadow_h_length}px @{smallbox_shadow_v_length}px @{smallbox_shadow_blur_radius}px 0px @{box_shadow_color}';
		i {
			color: @color_accent_inner;
		}
		svg {
			path, rect, polygon, circle {
				fill: @color_accent_inner;
			}
		}
	}
	.icon.style-icon {
		background-color: @color_accent_blue;
	}
	.item:hover .icon.style-icon {
		background-color: @color_accent_grey;
	}
	.item-text {
		border-radius: ~'@{content_elements_radius}px';
		background-color: @color_bg_white;
		box-shadow: ~'@{box_shadow_h_length}px @{box_shadow_v_length}px @{box_shadow_blur_radius}px 0px @{box_shadow_color}';
		font-size: ~'@{smaller_font_size}px';
		line-height: ~'@{smaller_font_line_height}px';
	}
	h2, h2 a {
		font-size: ~'@{smaller_font_size}px';
		line-height: ~'@{smaller_font_line_height}px';
		color: @color_text_darken;
	}
	.item:hover h2 a {
		color: @color_accent_grey;
	}
	.col-nav a {
		.title {
			color: @color_text_darken;
			@text_font_size: @primary_font_size + 2;
			font-family: @secondary_font_family;
			font-size: ~'@{text_font_size}px';
			line-height: 1.4em;
		}
		.desc {
			color: @primary_font_color;
			font-size: ~'@{smaller_font_size}px';
			line-height: ~'@{smaller_font_line_height}px';
		}
	}
	.col-nav a:hover, .col-nav a.current {
		.title {
			color: @color_accent_blue;
		}
	}
}

/*------------------------------------------------------------------
	2. Default styles
-------------------------------------------------------------------*/
.shortcode-benefits-v2.style-default {
	.col-nav a.current:before {
		background-color: @color_accent_blue;
		background: -moz-linear-gradient(top, @color_bg_alt 19%, @color_accent_blue 50%, @color_accent_blue 81%, @color_bg_alt 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, @color_bg_alt 19%,@color_accent_blue 50%,@color_accent_blue 81%,@color_bg_alt 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, @color_bg_alt 19%, @color_accent_blue 50%,@color_accent_blue 81%, @color_bg_alt 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
	.col-nav nav:before {
		background-color: @color_bg_alt;
	}
}
/*------------------------------------------------------------------
	2. Alternate styles
-------------------------------------------------------------------*/
.shortcode-benefits-v2.style-alt {
	.col-nav a {

		.title, .num {
			color: @primary_font_color;
			font-family: @secondary_font_family;
			font-size: ~'@{primary_font_size}px';
			line-height: 1.4em;
		}
		.desc {
			color: @color_text_lighten;
			font-size: ~'@{smaller_font_size}px';
			line-height: ~'@{smaller_font_line_height}px';
		}
	}
	.col-nav a:hover, .col-nav a.current {
		.title {
			color: @color_accent_blue;
		}
	}
	.col-nav a.current:after {
		@color_escaped: escape( ~'@{color_accent_blue}' );
		background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%2031.49%2031.49%22%20style%3D%22enable-background%3Anew%200%200%2031.49%2031.49%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M21.205%2C5.007c-0.429-0.444-1.143-0.444-1.587%2C0c-0.429%2C0.429-0.429%2C1.143%2C0%2C1.571l8.047%2C8.047H1.111%0A%09C0.492%2C14.626%2C0%2C15.118%2C0%2C15.737c0%2C0.619%2C0.492%2C1.127%2C1.111%2C1.127h26.554l-8.047%2C8.032c-0.429%2C0.444-0.429%2C1.159%2C0%2C1.587%0A%09c0.444%2C0.444%2C1.159%2C0.444%2C1.587%2C0l9.952-9.952c0.444-0.429%2C0.444-1.143%2C0-1.571L21.205%2C5.007z%22%2F%3E%0A%3C%2Fsvg%3E%0A")';
	}
	.col-nav a .num {
		color: lighten( @color_text_lighten, 10% );
	}
}
