/*------------------------------------------------------------------
[BENEFITS_CAROUSEL.CSS - Benefits carousel shortcode static styles]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.shortcode-benefits-carousel {
	.swiper-slide {
		text-align: center;
		padding-bottom: 90px;
	}
	.icon {
		margin-bottom: 25px;
		i {
			font-size: 70px;
		}
		img, svg {
			width: 60px;
		}
		svg {
			height: 60px;
		}
	}
	.swiper-pagination {
		left: 0;
		right: 0;
		bottom: 25px;
		text-align: center;
	}
	.swiper-container {
		overflow: visible;
		.swiper-slide {
			opacity: 0;
		}
		.swiper-slide-active,
		.swiper-slide-next,
		.swiper-slide-prev {
			opacity: 1;
		}
	}
	a {
		text-decoration: none;
	}
	.benefit-text {
		padding: 30px;
		position: relative;
	}
	.benefit-text:after {
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 16px 16px 16px;
		position: absolute;
		top: -16px;
		left: 50%;
		margin-left: -16px;
	}
	h4 {
		margin-bottom: 18px;
	}
}

.shortcode-benefits-carousel.no-pagination {
	margin-bottom: 35px;
}
