/*------------------------------------------------------------------
[BLOG_MASONRY_V2_VARIABLE.CSS - Blog masonry v2 shortcode variable styles]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.shortcode-blog-masonry-v2 {
	.item {
		background-color: @box_bg_color;
		.post-date {
			color: @color_text_lighten;
			font-family: @secondary_font_family;
			font-size: ~'@{smaller_font_size}px';
			line-height: ~'@{smaller_font_line_height}px';
		}
		h4 {
			font-size: ~'@{bigger_font_size}px';
			line-height: ~'@{bigger_font_line_height}px';
			a {
				color: @color_text_darken;
			}
			a:hover {
				color: @color_text_lighten;
			}
		}
		.swiper-pagination-bullet {
			background-color: @color_accent_grey;
		}
		.swiper-pagination-bullet-active {
			background-color: @color_accent_blue;
		}
	}
	.post-data {
		font-size: ~'@{smaller_font_size}px';
		line-height: ~'@{smaller_font_line_height}px';
		color: @color_text_lighten;
	}
	.item.post-format-link {
		background-color: @color_accent_grey;
		color: @color_accent_inner;
		h4, h4 a, .post-date {
			color: @color_accent_inner;
		}
		h4 {
			font-size: ~'@{bigger_font_size}px';
			line-height: ~'@{bigger_font_line_height}px';
		}
		.post-date {
			font-size: ~'@{smaller_font_size}px';
			line-height: ~'@{smaller_font_line_height}px';
		}
		.post-excerpt {
			color: @color_accent_light_grey;
		}
		.icon-link {
			@color_escaped: escape( ~'@{color_accent_light_grey}' );
			background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%20270.415%20270.415%22%20style%3D%22enable-background%3Anew%200%200%20270.415%20270.415%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M15%2C270.414c3.839%2C0%2C7.678-1.464%2C10.606-4.393l39.948-39.949c12.166%2C8.078%2C26.432%2C12.419%2C41.367%2C12.42%0A%09%09c0.002%2C0%2C0.001%2C0%2C0.002%2C0c20.025%2C0%2C38.852-7.797%2C53.014-21.951c0.006-0.006%2C0.013-0.011%2C0.018-0.017l28.266-28.266%0A%09%09c0.007-0.007%2C0.015-0.013%2C0.021-0.019l28.281-28.284c0.007-0.007%2C0.012-0.015%2C0.02-0.02c14.154-14.163%2C21.948-32.988%2C21.948-53.012%0A%09%09c0-14.936-4.342-29.202-12.419-41.367l39.948-39.949c5.858-5.857%2C5.858-15.354%2C0-21.213c-5.857-5.857-15.356-5.857-21.213%2C0%0A%09%09L204.86%2C44.343c-12.164-8.078-26.432-12.42-41.368-12.42c-20.026%2C0-38.856%2C7.797-53.019%2C21.953%0A%09%09c-0.006%2C0.006-0.012%2C0.01-0.017%2C0.016L82.184%2C82.166c-0.004%2C0.004-0.008%2C0.006-0.011%2C0.01l-28.276%2C28.277%0A%09%09c-0.002%2C0.001-0.004%2C0.002-0.005%2C0.004c-25.611%2C25.611-28.792%2C65.288-9.542%2C94.395L4.394%2C244.807%0A%09%09c-5.858%2C5.858-5.858%2C15.355%2C0%2C21.214C7.323%2C268.95%2C11.161%2C270.414%2C15%2C270.414z%20M75.105%2C131.67c0.001-0.001%2C0.003-0.003%2C0.005-0.005%0A%09%09l28.266-28.268c0.004-0.004%2C0.008-0.006%2C0.011-0.01l28.276-28.277c0.004-0.004%2C0.008-0.006%2C0.011-0.01%0A%09%09c8.499-8.498%2C19.799-13.178%2C31.818-13.178c6.829%2C0%2C13.425%2C1.516%2C19.408%2C4.379l-22.943%2C22.943c-5.858%2C5.858-5.858%2C15.355%2C0%2C21.214%0A%09%09c2.929%2C2.929%2C6.768%2C4.394%2C10.607%2C4.394c3.839%2C0%2C7.678-1.465%2C10.606-4.394l22.942-22.942c2.865%2C5.982%2C4.38%2C12.577%2C4.38%2C19.406%0A%09%09c0%2C12.02-4.682%2C23.32-13.182%2C31.819l-0.001%2C0.001l0%2C0l-28.26%2C28.263c-0.007%2C0.007-0.014%2C0.013-0.021%2C0.019l-28.278%2C28.277%0A%09%09c-0.003%2C0.004-0.006%2C0.006-0.01%2C0.01c-8.498%2C8.499-19.798%2C13.18-31.817%2C13.18c-6.829-0.001-13.425-1.516-19.407-4.38l22.942-22.942%0A%09%09c5.858-5.858%2C5.858-15.355%2C0-21.214c-5.857-5.857-15.355-5.857-21.213%2C0L66.321%2C182.88%0A%09%09C58.355%2C166.156%2C61.277%2C145.498%2C75.105%2C131.67z%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A")';
		}
	}
	.item.post-format-quote {
		background-color: @color_accent_blue;
		blockquote p {
			font-family: @secondary_font_family;
			font-size: ~'@{bigger_font_size}px';
			line-height: ~'@{bigger_font_line_height}px';
		}
		blockquote cite {
			font-size: ~'@{small_font_size}px';
			line-height: ~'@{small_font_line_height}px';
		}
		blockquote, blockquote p, .post-date {
			color: @color_accent_inner;
		}
		blockquote cite {
			color: @color_accent_yellow;
		}
	}
}
.blog-masonry-v2-posts.shadow-yes {
	.item {
		box-shadow: ~'@{box_shadow_h_length}px @{box_shadow_v_length}px @{box_shadow_blur_radius}px 0px @{box_shadow_color}';
	}
}
