/*------------------------------------------------------------------
[BLOG_POST_VARIABLE.CSS - Single blog post block variable styles]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.shortcode-blog-post.shadow-yes {
	box-shadow: ~'@{box_shadow_h_length}px @{box_shadow_v_length}px @{box_shadow_blur_radius}px 0px @{box_shadow_color}';
}
.shortcode-blog-post {
	border-radius: ~'@{content_elements_radius}px';
	background-color: @box_bg_color;
	border: ~'@{box_border_size}px solid @{box_border_color}';
	.inside, .overlay {
		border-radius: ~'@{content_elements_radius}px';
	}
	.post-date {
		font-family: @secondary_font_family;
		font-size: ~'@{smaller_font_size}px';
		line-height: ~'@{smaller_font_line_height}px';
	}
	h4 {
		font-size: ~'@{h5_font_size}px';
		line-height: ~'@{h5_font_line_height}px';
	}
	.with-thumb {
		.post-date, .post-excerpt {
			color: #fff;
		}
		a {
			color: #fff;
		}
		a:hover {
			color: #fff;
		}
	}
	.without-thumb {
		.post-date {
			color: @color_text_lighten;
		}
		a {
			color: @color_text_darken;
		}
		a:hover {
			color: @color_text_lighten;
		}
	}
}
.shortcode-blog-post.overlay-blue .overlay {
	background-color: rgba( red( @color_accent_blue ), green( @color_accent_blue ), blue( @color_accent_blue ), 0.8 );
}
.shortcode-blog-post.overlay-black .overlay {
	background-color: rgba( red( @color_accent_black ), green( @color_accent_black ), blue( @color_accent_black ), 0.8 );
}
.shortcode-blog-post.overlay-grey .overlay {
	background-color: rgba( red( @color_accent_grey ), green( @color_accent_grey ), blue( @color_accent_grey ), 0.8 );
}
.shortcode-blog-post.overlay-light_grey .overlay {
	background-color: rgba( red( @color_accent_light_grey ), green( @color_accent_light_grey ), blue( @color_accent_light_grey ), 0.8 );
}
.shortcode-blog-post.overlay-red .overlay {
	background-color: rgba( red( @color_accent_red ), green( @color_accent_red ), blue( @color_accent_red ), 0.8 );
}
.shortcode-blog-post.overlay-orange .overlay {
	background-color: rgba( red( @color_accent_orange ), green( @color_accent_orange ), blue( @color_accent_orange ), 0.8 );
}
.shortcode-blog-post.overlay-green .overlay {
	background-color: rgba( red( @color_accent_green ), green( @color_accent_green ), blue( @color_accent_green ), 0.8 );
}
.shortcode-blog-post.overlay-turquoise .overlay {
	background-color: rgba( red( @color_accent_turquoise ), green( @color_accent_turquoise ), blue( @color_accent_turquoise ), 0.8 );
}
.shortcode-blog-post.overlay-yellow .overlay {
	background-color: rgba( red( @color_accent_yellow ), green( @color_accent_yellow ), blue( @color_accent_yellow ), 0.8 );
}
.shortcode-blog-post.overlay-purple .overlay {
	background-color: rgba( red( @color_accent_purple ), green( @color_accent_purple ), blue( @color_accent_purple ), 0.8 );
}
.shortcode-blog-post.overlay-dark_purple .overlay {
	background-color: rgba( red( @color_accent_dark_purple ), green( @color_accent_dark_purple ), blue( @color_accent_dark_purple ), 0.8 );
}

.shortcode-blog-post.post-format-link {
	.without-thumb .post-icon {
		@color_escaped: escape( ~'@{color_text_lighten}' );
		background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%20270.415%20270.415%22%20style%3D%22enable-background%3Anew%200%200%20270.415%20270.415%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M15%2C270.414c3.839%2C0%2C7.678-1.464%2C10.606-4.393l39.948-39.949c12.166%2C8.078%2C26.432%2C12.419%2C41.367%2C12.42%0A%09%09c0.002%2C0%2C0.001%2C0%2C0.002%2C0c20.025%2C0%2C38.852-7.797%2C53.014-21.951c0.006-0.006%2C0.013-0.011%2C0.018-0.017l28.266-28.266%0A%09%09c0.007-0.007%2C0.015-0.013%2C0.021-0.019l28.281-28.284c0.007-0.007%2C0.012-0.015%2C0.02-0.02c14.154-14.163%2C21.948-32.988%2C21.948-53.012%0A%09%09c0-14.936-4.342-29.202-12.419-41.367l39.948-39.949c5.858-5.857%2C5.858-15.354%2C0-21.213c-5.857-5.857-15.356-5.857-21.213%2C0%0A%09%09L204.86%2C44.343c-12.164-8.078-26.432-12.42-41.368-12.42c-20.026%2C0-38.856%2C7.797-53.019%2C21.953%0A%09%09c-0.006%2C0.006-0.012%2C0.01-0.017%2C0.016L82.184%2C82.166c-0.004%2C0.004-0.008%2C0.006-0.011%2C0.01l-28.276%2C28.277%0A%09%09c-0.002%2C0.001-0.004%2C0.002-0.005%2C0.004c-25.611%2C25.611-28.792%2C65.288-9.542%2C94.395L4.394%2C244.807%0A%09%09c-5.858%2C5.858-5.858%2C15.355%2C0%2C21.214C7.323%2C268.95%2C11.161%2C270.414%2C15%2C270.414z%20M75.105%2C131.67c0.001-0.001%2C0.003-0.003%2C0.005-0.005%0A%09%09l28.266-28.268c0.004-0.004%2C0.008-0.006%2C0.011-0.01l28.276-28.277c0.004-0.004%2C0.008-0.006%2C0.011-0.01%0A%09%09c8.499-8.498%2C19.799-13.178%2C31.818-13.178c6.829%2C0%2C13.425%2C1.516%2C19.408%2C4.379l-22.943%2C22.943c-5.858%2C5.858-5.858%2C15.355%2C0%2C21.214%0A%09%09c2.929%2C2.929%2C6.768%2C4.394%2C10.607%2C4.394c3.839%2C0%2C7.678-1.465%2C10.606-4.394l22.942-22.942c2.865%2C5.982%2C4.38%2C12.577%2C4.38%2C19.406%0A%09%09c0%2C12.02-4.682%2C23.32-13.182%2C31.819l-0.001%2C0.001l0%2C0l-28.26%2C28.263c-0.007%2C0.007-0.014%2C0.013-0.021%2C0.019l-28.278%2C28.277%0A%09%09c-0.003%2C0.004-0.006%2C0.006-0.01%2C0.01c-8.498%2C8.499-19.798%2C13.18-31.817%2C13.18c-6.829-0.001-13.425-1.516-19.407-4.38l22.942-22.942%0A%09%09c5.858-5.858%2C5.858-15.355%2C0-21.214c-5.857-5.857-15.355-5.857-21.213%2C0L66.321%2C182.88%0A%09%09C58.355%2C166.156%2C61.277%2C145.498%2C75.105%2C131.67z%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A")';
	}
	.with-thumb .post-icon {
		@color_escaped: escape( ~'#fff' );
		background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%20270.415%20270.415%22%20style%3D%22enable-background%3Anew%200%200%20270.415%20270.415%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M15%2C270.414c3.839%2C0%2C7.678-1.464%2C10.606-4.393l39.948-39.949c12.166%2C8.078%2C26.432%2C12.419%2C41.367%2C12.42%0A%09%09c0.002%2C0%2C0.001%2C0%2C0.002%2C0c20.025%2C0%2C38.852-7.797%2C53.014-21.951c0.006-0.006%2C0.013-0.011%2C0.018-0.017l28.266-28.266%0A%09%09c0.007-0.007%2C0.015-0.013%2C0.021-0.019l28.281-28.284c0.007-0.007%2C0.012-0.015%2C0.02-0.02c14.154-14.163%2C21.948-32.988%2C21.948-53.012%0A%09%09c0-14.936-4.342-29.202-12.419-41.367l39.948-39.949c5.858-5.857%2C5.858-15.354%2C0-21.213c-5.857-5.857-15.356-5.857-21.213%2C0%0A%09%09L204.86%2C44.343c-12.164-8.078-26.432-12.42-41.368-12.42c-20.026%2C0-38.856%2C7.797-53.019%2C21.953%0A%09%09c-0.006%2C0.006-0.012%2C0.01-0.017%2C0.016L82.184%2C82.166c-0.004%2C0.004-0.008%2C0.006-0.011%2C0.01l-28.276%2C28.277%0A%09%09c-0.002%2C0.001-0.004%2C0.002-0.005%2C0.004c-25.611%2C25.611-28.792%2C65.288-9.542%2C94.395L4.394%2C244.807%0A%09%09c-5.858%2C5.858-5.858%2C15.355%2C0%2C21.214C7.323%2C268.95%2C11.161%2C270.414%2C15%2C270.414z%20M75.105%2C131.67c0.001-0.001%2C0.003-0.003%2C0.005-0.005%0A%09%09l28.266-28.268c0.004-0.004%2C0.008-0.006%2C0.011-0.01l28.276-28.277c0.004-0.004%2C0.008-0.006%2C0.011-0.01%0A%09%09c8.499-8.498%2C19.799-13.178%2C31.818-13.178c6.829%2C0%2C13.425%2C1.516%2C19.408%2C4.379l-22.943%2C22.943c-5.858%2C5.858-5.858%2C15.355%2C0%2C21.214%0A%09%09c2.929%2C2.929%2C6.768%2C4.394%2C10.607%2C4.394c3.839%2C0%2C7.678-1.465%2C10.606-4.394l22.942-22.942c2.865%2C5.982%2C4.38%2C12.577%2C4.38%2C19.406%0A%09%09c0%2C12.02-4.682%2C23.32-13.182%2C31.819l-0.001%2C0.001l0%2C0l-28.26%2C28.263c-0.007%2C0.007-0.014%2C0.013-0.021%2C0.019l-28.278%2C28.277%0A%09%09c-0.003%2C0.004-0.006%2C0.006-0.01%2C0.01c-8.498%2C8.499-19.798%2C13.18-31.817%2C13.18c-6.829-0.001-13.425-1.516-19.407-4.38l22.942-22.942%0A%09%09c5.858-5.858%2C5.858-15.355%2C0-21.214c-5.857-5.857-15.355-5.857-21.213%2C0L66.321%2C182.88%0A%09%09C58.355%2C166.156%2C61.277%2C145.498%2C75.105%2C131.67z%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A")';
	}
}

.shortcode-blog-post.post-format-audio {
	.without-thumb .post-icon {
		@color_escaped: escape( ~'@{color_text_lighten}' );
		background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%20469.333%20469.333%22%20style%3D%22enable-background%3Anew%200%200%20469.333%20469.333%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cg%3E%0A%09%09%3Crect%20fill%3D%22@{color_escaped}%22%20x%3D%22426.667%22%20y%3D%22128%22%20width%3D%2242.667%22%20height%3D%22213.333%22%2F%3E%0A%09%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%09%3Cg%3E%0A%09%09%3Crect%20fill%3D%22@{color_escaped}%22%20x%3D%22341.333%22%20y%3D%22170.667%22%20width%3D%2242.667%22%20height%3D%22128%22%2F%3E%0A%09%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%09%3Cg%3E%0A%09%09%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M106.667%2C128H0v213.333h106.667l192%2C128V0L106.667%2C128z%20M106.667%2C302.507l-67.627-0.213V167.04h67.627V302.507z%0A%09%09%09%20M256%2C389.547l-106.667-71.04v-167.68L256%2C79.787V389.547z%22%2F%3E%0A%09%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A")';
	}
	.with-thumb .post-icon {
		@color_escaped: escape( ~'#fff' );
		background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%20469.333%20469.333%22%20style%3D%22enable-background%3Anew%200%200%20469.333%20469.333%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cg%3E%0A%09%09%3Crect%20fill%3D%22@{color_escaped}%22%20x%3D%22426.667%22%20y%3D%22128%22%20width%3D%2242.667%22%20height%3D%22213.333%22%2F%3E%0A%09%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%09%3Cg%3E%0A%09%09%3Crect%20fill%3D%22@{color_escaped}%22%20x%3D%22341.333%22%20y%3D%22170.667%22%20width%3D%2242.667%22%20height%3D%22128%22%2F%3E%0A%09%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%09%3Cg%3E%0A%09%09%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M106.667%2C128H0v213.333h106.667l192%2C128V0L106.667%2C128z%20M106.667%2C302.507l-67.627-0.213V167.04h67.627V302.507z%0A%09%09%09%20M256%2C389.547l-106.667-71.04v-167.68L256%2C79.787V389.547z%22%2F%3E%0A%09%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A")';
	}
}

.shortcode-blog-post.post-format-video {
	.without-thumb .post-icon {
		@color_escaped: escape( ~'@{color_text_lighten}' );
		background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%2030.051%2030.051%22%20style%3D%22enable-background%3Anew%200%200%2030.051%2030.051%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M19.982%2C14.438l-6.24-4.536c-0.229-0.166-0.533-0.191-0.784-0.062c-0.253%2C0.128-0.411%2C0.388-0.411%2C0.669v9.069%0A%09%09c0%2C0.284%2C0.158%2C0.543%2C0.411%2C0.671c0.107%2C0.054%2C0.224%2C0.081%2C0.342%2C0.081c0.154%2C0%2C0.31-0.049%2C0.442-0.146l6.24-4.532%0A%09%09c0.197-0.145%2C0.312-0.369%2C0.312-0.607C20.295%2C14.803%2C20.177%2C14.58%2C19.982%2C14.438z%22%2F%3E%0A%09%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M15.026%2C0.002C6.726%2C0.002%2C0%2C6.728%2C0%2C15.028c0%2C8.297%2C6.726%2C15.021%2C15.026%2C15.021c8.298%2C0%2C15.025-6.725%2C15.025-15.021%0A%09%09C30.052%2C6.728%2C23.324%2C0.002%2C15.026%2C0.002z%20M15.026%2C27.542c-6.912%2C0-12.516-5.601-12.516-12.514c0-6.91%2C5.604-12.518%2C12.516-12.518%0A%09%09c6.911%2C0%2C12.514%2C5.607%2C12.514%2C12.518C27.541%2C21.941%2C21.937%2C27.542%2C15.026%2C27.542z%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A")';
	}
	.with-thumb .post-icon {
		@color_escaped: escape( ~'#fff' );
		background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%2030.051%2030.051%22%20style%3D%22enable-background%3Anew%200%200%2030.051%2030.051%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M19.982%2C14.438l-6.24-4.536c-0.229-0.166-0.533-0.191-0.784-0.062c-0.253%2C0.128-0.411%2C0.388-0.411%2C0.669v9.069%0A%09%09c0%2C0.284%2C0.158%2C0.543%2C0.411%2C0.671c0.107%2C0.054%2C0.224%2C0.081%2C0.342%2C0.081c0.154%2C0%2C0.31-0.049%2C0.442-0.146l6.24-4.532%0A%09%09c0.197-0.145%2C0.312-0.369%2C0.312-0.607C20.295%2C14.803%2C20.177%2C14.58%2C19.982%2C14.438z%22%2F%3E%0A%09%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M15.026%2C0.002C6.726%2C0.002%2C0%2C6.728%2C0%2C15.028c0%2C8.297%2C6.726%2C15.021%2C15.026%2C15.021c8.298%2C0%2C15.025-6.725%2C15.025-15.021%0A%09%09C30.052%2C6.728%2C23.324%2C0.002%2C15.026%2C0.002z%20M15.026%2C27.542c-6.912%2C0-12.516-5.601-12.516-12.514c0-6.91%2C5.604-12.518%2C12.516-12.518%0A%09%09c6.911%2C0%2C12.514%2C5.607%2C12.514%2C12.518C27.541%2C21.941%2C21.937%2C27.542%2C15.026%2C27.542z%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A")';
	}
}

.shortcode-blog-post.post-format-quote {
	background-color: @color_accent_blue;
	color: @color_accent_inner;
	.post-date, blockquote p {
		color: @color_accent_inner;
	}
	blockquote {
		font-family: @secondary_font_family;
	}
	blockquote cite {
		color: @color_accent_yellow;
		font-family: @secondary_font_family;
		font-size: ~'@{small_font_size}px';
		line-height: ~'@{small_font_line_height}px';
	}
}

.shortcode-blog-post.post-format-gallery {
	.gallery-pagination {
		a {
			background-color: rgba( red(@color_accent_light_grey), green(@color_accent_light_grey), blue(@color_accent_light_grey), 0.5);
		}
		a:hover, a.current {
			background-color: @color_accent_light_grey;
		}
	}
}
