/*------------------------------------------------------------------
[BLOG_MINIMAL.CSS - Blog minimal shortcode static styles]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.shortcode-blog-minimal {
	.post-date {
		color: @color_accent_blue;
		font-size: ~'@{bigger_font_size}px';
		line-height: ~'@{bigger_font_line_height}px';
		font-family: @secondary_font_family;
	}
	h2 {
		font-size: ~'@{h3_font_size}px';
		line-height: ~'@{h3_font_line_height}px';
		a {
			color: @color_text_darken;
		}
		a:hover {
			color: @color_text_lighten;
		}
	}
	.format-link {
		.post-excerpt {
			a {
				color: @primary_font_color;
			}
			a:hover {
				color: @color_accent_blue;
			}
		}
	}
	.format-quote {
		.post-excerpt {
			blockquote {
				cite {
					color: @color_text_lighten;
					font-size: ~'@{small_font_size}px';
					line-height: ~'@{small_font_line_height}px';
				}
			}
		}
	}
	article .row {
		border-bottom: 2px solid @color_hr_border;
	}
	dl.post-data {
		font-size: ~'@{small_font_size}px';
		line-height: ~'@{small_font_line_height}px';
		dt {
			color: @color_text_lighten;
		}
		dd {
			a {
				color: @primary_font_color;
			}
			a:hover {
				color: @color_accent_blue;
			}
		}
		.author-link a {
			color: @color_accent_blue;
		}
	}
	.pagination.style-numeric {
		.current {
			color: @color_text_lighten;
		}
	}
}

@media screen and (max-width: 992px) {
	.shortcode-blog-minimal {
		h2 {
			font-size: ~'@{h3_font_size_mobile}px';
			line-height: ~'@{h3_font_line_height_mobile}px';
		}
	}
}

.shortcode-blog-minimal.style-thumbs_bg {
	article.has-media {
		.overlay {
			background-color: @body_bg_color;
		}
	}
	article.has-media:hover {
		.overlay {
			background-color: rgba(37,37,37,0.8);
		}
		.post-excerpt {
			color: #fff;
		}
		h2 {
			a {
				color: @color_accent_grey;
			}
			a:hover {
				color: @color_accent_light_grey;
			}
		}
		.format-link {
			.post-excerpt {
				a {
					color: #fff;
				}
				a:hover {
					color: @color_accent_blue;
				}
			}
		}
		.format-quote {
			.post-excerpt {
				blockquote {
					cite {
						color: #fff;
					}
				}
			}
		}
		dl.post-data {
			dt {
				color: @color_accent_light_grey;
			}
			dd {
				a {
					color: @color_accent_grey;
				}
				a:hover {
					color: @color_accent_blue;
				}
			}
			.author-link a {
				color: @color_accent_blue;
			}
		}
	}
}
