/*------------------------------------------------------------------
[COLORFUL_LINK.CSS - Colorful link shortcode styles]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.shortcode-colorful-link {
	position: relative;
	padding: 25px 30px;
	transition: all 0.3s;
	display: block;
	text-decoration: none;
	.flexbox {
		display: flex;
		justify-content: center;
		height: 100%;
		position: relative;
	}
	.flex-item {
		align-self: center;
		width: 100%;
		color: @color_accent_inner;
	}
}
.shortcode-colorful-link.text-align-center {
	text-align: center;
}
.shortcode-colorful-link.text-align-right {
	text-align: right;
}
.shortcode-colorful-link.text-align-left {
	text-align: left;
}
.shortcode-colorful-link, .shortcode-colorful-link:hover {
	color: @color_accent_inner;
}
.shortcode-colorful-link.color-grey {
	background-color: @color_accent_grey;
}
.shortcode-colorful-link.color-blue {
	background-color: @color_accent_blue;
}
.shortcode-colorful-link.color-black {
	background-color: @color_accent_black;
}
.shortcode-colorful-link.color-light-grey {
	background-color: @color_accent_light_grey;
}
.shortcode-colorful-link.color-red {
	background-color: @color_accent_red;
}
.shortcode-colorful-link.color-orange {
	background-color: @color_accent_orange;
}
.shortcode-colorful-link.color-green {
	background-color: @color_accent_green;
}
.shortcode-colorful-link.color-turquoise {
	background-color: @color_accent_turquoise;
}
.shortcode-colorful-link.color-yellow {
	background-color: @color_accent_yellow;
}
.shortcode-colorful-link.color-purple {
	background-color: @color_accent_purple;
}
.shortcode-colorful-link.color-dark-purple {
	background-color: @color_accent_dark_purple;
}

.shortcode-colorful-link.color-grey.shadow-yes {
	box-shadow: ~'@{box_shadow_h_length}px @{box_shadow_v_length}px @{box_shadow_blur_radius}px 0px @{color_accent_grey_shadow}';
}
.shortcode-colorful-link.color-blue.shadow-yes {
	box-shadow: ~'@{box_shadow_h_length}px @{box_shadow_v_length}px @{box_shadow_blur_radius}px 0px @{color_accent_blue_shadow}';
}
.shortcode-colorful-link.color-black.shadow-yes {
	box-shadow: ~'@{box_shadow_h_length}px @{box_shadow_v_length}px @{box_shadow_blur_radius}px 0px @{color_accent_black_shadow}';
}
.shortcode-colorful-link.color-light-grey.shadow-yes {
	box-shadow: ~'@{box_shadow_h_length}px @{box_shadow_v_length}px @{box_shadow_blur_radius}px 0px @{color_accent_light_grey_shadow}';
}
.shortcode-colorful-link.color-red.shadow-yes {
	box-shadow: ~'@{box_shadow_h_length}px @{box_shadow_v_length}px @{box_shadow_blur_radius}px 0px @{color_accent_red_shadow}';
}
.shortcode-colorful-link.color-orange.shadow-yes {
	box-shadow: ~'@{box_shadow_h_length}px @{box_shadow_v_length}px @{box_shadow_blur_radius}px 0px @{color_accent_orange_shadow}';
}
.shortcode-colorful-link.color-green.shadow-yes {
	box-shadow: ~'@{box_shadow_h_length}px @{box_shadow_v_length}px @{box_shadow_blur_radius}px 0px @{color_accent_green_shadow}';
}
.shortcode-colorful-link.color-turquoise.shadow-yes {
	box-shadow: ~'@{box_shadow_h_length}px @{box_shadow_v_length}px @{box_shadow_blur_radius}px 0px @{color_accent_turquoise_shadow}';
}
.shortcode-colorful-link.color-yellow.shadow-yes {
	box-shadow: ~'@{box_shadow_h_length}px @{box_shadow_v_length}px @{box_shadow_blur_radius}px 0px @{color_accent_yellow_shadow}';
}
.shortcode-colorful-link.color-purple.shadow-yes {
	box-shadow: ~'@{box_shadow_h_length}px @{box_shadow_v_length}px @{box_shadow_blur_radius}px 0px @{color_accent_purple_shadow}';
}
.shortcode-colorful-link.color-dark-purple.shadow-yes {
	box-shadow: ~'@{box_shadow_h_length}px @{box_shadow_v_length}px @{box_shadow_blur_radius}px 0px @{color_accent_dark_purple_shadow}';
}
