/*------------------------------------------------------------------
[PHOTO_FULLSCREEN.CSS - Portfolio photo static styles]
[Table of contents]

1. Shared styles
2. Keyframes & Fallback
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.photo-fullscreen-gallery {
	position: absolute;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	.photos {
		height: 100vh;
		width: 100vw;
		position: absolute;
		top: 0;
		left: 0;
	}
	.photo {
		position: absolute;
		width: 100%;
		height: 100%;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.overlay {
		position: absolute;
		z-index: 10;
		width: 100%;
		height: 100%;
		background-color: rgba(37,37,37,0.8);
	}
	.photo:nth-child(1) {
		z-index: 30;
	}
	.mask-brush {
		background: url(../../../../images/masks/brush.png) no-repeat -9999px -9999px;
		background-size: 0;
	}
	.mask-brush .photo.move {
		-webkit-mask: url(../../../../images/masks/brush.png);
						mask: url(../../../../images/masks/brush.png);
		-webkit-mask-size: 3000% 100%;
						mask-size: 3000% 100%;
		-webkit-animation: mask-play 1.4s steps(29) forwards;
						animation: mask-play 1.4s steps(29) forwards;
	}
	.mask-fall {
		background: url(../../../../images/masks/fall.png) no-repeat -9999px -9999px;
		background-size: 0;
	}
	.mask-fall .photo.move {
		-webkit-mask: url(../../../../images/masks/fall.png);
						mask: url(../../../../images/masks/fall.png);
		-webkit-mask-size: 2300% 100%;
						mask-size: 2300% 100%;
		-webkit-animation: mask-play 1.4s steps(22) forwards;
						animation: mask-play 1.4s steps(22) forwards;
	}
	.mask-water {
		background: url(../../../../images/masks/water.png) no-repeat -9999px -9999px;
		background-size: 0;
	}
	.mask-water .photo.move {
		-webkit-mask: url(../../../../images/masks/water.png);
						mask: url(../../../../images/masks/water.png);
		-webkit-mask-size: 7100% 100%;
						mask-size: 7100% 100%;
		-webkit-animation: mask-play 1.4s steps(70) forwards;
						animation: mask-play 1.4s steps(70) forwards;
	}
	.mask-urban {
		background: url(../../../../images/masks/water.png) no-repeat -9999px -9999px;
		background-size: 0;
	}
	.mask-urban .photo.move {
		-webkit-mask: url(../../../../images/masks/urban.png);
						mask: url(../../../../images/masks/urban.png);
		-webkit-mask-size: 7500% 100%;
						mask-size: 7500% 100%;
		-webkit-animation: mask-play 1.4s steps(74) forwards;
						animation: mask-play 1.4s steps(74) forwards;
	}
	.slide-content {
		line-height: normal;
		max-width: 1200px;
		padding: 0 15px;
		height: 100%;
		margin: 0 auto;
		position: relative;
		z-index: 40;
		footer {
			position: absolute;
			top: 55%;
			.photo-description {
				max-width: 70%;
			}
		}
		footer.no-pagination {
			top: auto;
			bottom: 15%;
		}
		a {
			text-decoration: none;
			transition: all 0.3s;
		}
		h2 {
			margin-bottom: 22px;
		}
		h2.title-pos-vertical {
			position: absolute;
			left: 15px;
			top: 50%;
			text-transform: uppercase;
			margin-bottom: 15px;
			span {
				display: block;
				transform: translateX(-47%) translateY(-50%) rotate(90deg);
			}
		}
	}
	.pages {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 14%;
		z-index: 50;
		.pages-container {
			max-width: 1200px;
			margin: 0 auto;
			padding: 0 15px;
		}
		a {
			text-decoration: none;
			transition: color 0.3s;
		}
	}
	.pages a {
		margin-right: 20px;
		font-weight: 600;
	}
	.arrow.previous,
	.arrow.next {
		position: absolute;
		width: 25px;
		height: 30px;
		cursor: pointer;
		span {
			background-size: 100% auto;
			background-repeat: no-repeat;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
		}
	}
	.arrows {
		position: absolute;
		right: 0;
		left: 0;
		z-index: 50;
		top: 50%;
		transform: translateY(-50%);
	}
	.arrows.style-side,
	.arrows.style-prev_next {
		.arrow {
			text-indent: -5555em;
		}
	}
	.arrows.style-side {
		.arrows-container {
			max-width: 1200px;
			padding: 0 15px;
			margin: 0 auto;
			position: relative;
		}
		.arrow {
			right: 15px;
		}
		.arrow.previous {
			margin-top: -35px;
		}
		.arrow.next {
			margin-bottom: -35px;
		}
	}
	.arrows.style-prev_next {
		.arrow.previous {
			left: 3%;
		}
		.arrow.next {
			right: 3%;
		}
	}
	.arrows.style-thumbs {
		margin-top: -80px;
		transform: translateY(0);
		.arrow {
			width: 260px;
			height: 160px;
			text-align: center;
			color: #fff;
			line-height: 160px;
			box-shadow: ~'20px 30px 40px 0px rgba(0,0,0,0.2)';
			transition: all 0.3s;
			background-size: cover;
			background-position: center center;
			span {
				background-size: 20px auto;
				position: relative;
				z-index: 2;
				display: inline-block;
			}
		}
		.arrow:hover {
			box-shadow: ~'30px 40px 50px 0px rgba(0,0,0,0.2)';
		}
		.arrow:after {
			content: '';
			z-index: 1;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			background: rgba(37,37,37,0.6);
			opacity: 1;
			transition: opacity 0.3s;
		}
		.arrow.previous {
			left: 2%;
			span {
				background-position: left center;
				padding-left: 30px;
			}
		}
		.arrow.next {
			right: 2%;
			span {
				background-position: right center;
				padding-right: 30px;
			}
		}
	}
}

body.rtl {
	.photo-fullscreen-gallery {
		.slide-content {
			h2.title-pos-vertical {
				left: auto;
				right: 15px;
				span {
					transform: translateX(47%) translateY(-50%) rotate(90deg);
				}
			}
		}
		.pages a {
			margin-right: 0;
			margin-left: 20px;
		}
		.arrows.style-side {
			.arrow {
				left: 15px;
				right: auto;
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.photo-fullscreen-gallery {
		.pages, .arrows.style-thumbs, .slide-content h2.title-pos-vertical, .photo-author, .photo-description {
			display: none;
		}
		.slide-content footer, .slide-content footer.no-pagination {
			top: 50%;
			bottom: auto;
			text-align: center;
			left: 40px;
			right: 40px;
			transform: translateY(-50%);
		}
	}
}

/*------------------------------------------------------------------
	2. Keyframes & Fallback
-------------------------------------------------------------------*/
@-webkit-keyframes mask-play {
	from {
		-webkit-mask-position: 0% 0;
						mask-position: 0% 0;
	}
	to {
		-webkit-mask-position: 100% 0;
						mask-position: 100% 0;
	}
}

@keyframes mask-play {
	from {
		-webkit-mask-position: 0% 0;
						mask-position: 0% 0;
	}
	to {
		-webkit-mask-position: 100% 0;
						mask-position: 100% 0;
	}
}
/* Fallback */
.ie .photo-fullscreen-gallery .photo {
	opacity: 0;
	-ms-animation: none !important;
	animation: none !important;
	-webkit-transition: opacity 0.3s ease !important;
					transition: opacity 0.3s ease !important;
	-webkit-mask: none !important;
					mask: none !important;
}
.ie .photo-fullscreen-gallery .photo.current-slide {
	opacity: 1;
}
