/*------------------------------------------------------------------
[TABLE.CSS - Table / Pricing Tables shortcode styles]
[Table of contents]

1. Simple tables
2. Pricing tables
	2.1 Pricing table style 1
	2.2 Pricing table style 2
	2.3 Pricing table style 3
	2.4 Pricing table style 4
	2.5 Pricing table style 5
	2.6 Pricing table style 6
	2.7 Pricing table style 7
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Simple tables
-------------------------------------------------------------------*/
.fw-table {
	td {
		transition: all 0.2s;
	}
}
.fw-table.style-2 {
	table, table td {
		border: 0;
	}
}
.fw-table.style-4, .fw-table.style-5 {
	table {
		thead {
			border-bottom: 0;
		}
	}
}
/*------------------------------------------------------------------
	2. Pricing tables
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	2.1 Pricing table style 1
-------------------------------------------------------------------*/
.fw-pricing.style-1 {
	.fw-package {
		text-align: center;
	}
	.fw-heading-row, .fw-pricing-row {
		font-weight: 900;
		margin-bottom: 18px;
	}
	.fw-term-row, .fw-pricing-row {
		margin-bottom: 28px;
	}
	.fw-default-row {
		margin-bottom: 34px;
	}
	.default-col, .highlight-col {
		padding-top: 50px;
		padding-bottom: 50px;
		transition: all 0.2s;
	}
	.highlight-col {
		border-radius: 10px;
		z-index: 10;
	}
}
/*------------------------------------------------------------------
	2.2 Pricing table style 2
-------------------------------------------------------------------*/
.fw-pricing.style-2 {
	.fw-package {
		text-align: center;
		border-radius: 5px;
		padding-bottom: 35px;
	}
	.fw-heading-row {
		font-weight: bold;
		padding-top: 25px;
		padding-bottom: 25px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	.fw-pricing-row {
		padding-top: 40px;
		padding-bottom: 40px;
		font-weight: 900;
		small {
			margin-top: 5px;
			display: block;
			font-weight: normal;
		}
	}
	.fw-default-row {
		margin-bottom: 0;
	}
	.fw-button-row {
		margin-top: 34px;
	}
	.highlight-col, .default-col {
		position: relative;
		transition: all 0.3s;
	}
	.highlight-col, .default-col:hover {
		margin-top: -20px;
	}
}
@media screen and (max-width: 992px) {
	.fw-pricing.style-2 {
		.highlight-col, .default-col:hover {
			margin-top: 0;
		}
	}
}
/*------------------------------------------------------------------
	2.3 Pricing table style 3
-------------------------------------------------------------------*/
.fw-pricing.style-3 {
	.desc-col {
		text-align: right;
	}
	.default-col, .highlight-col {
		text-align: center;
	}
	.default-col, .highlight-col, .desc-col {
		padding-top: 70px;
		padding-bottom: 50px;
	}
	.highlight-col {
		margin-top: -20px;
		padding-top: 85px;
		padding-bottom: 80px;
		border-radius: 10px;
		z-index: 10;
	}
	.fw-heading-row, .fw-pricing-row {
		font-weight: 900;
		margin-bottom: 5px;
	}
	.fw-term-row {
		margin-bottom: 28px;
	}
	.fw-pricing-row {
		margin-bottom: 34px;
	}
	.fw-button-row {
		margin-top: 34px;
	}
	> div:last-of-type {
		border-bottom-right-radius: 5px;
		border-top-right-radius: 5px;
	}
	.desc-col {
		border-bottom-left-radius: 5px;
		border-top-left-radius: 5px;
	}
}
@media screen and (max-width: 992px) {
	.fw-pricing.style-3 {
		.desc-col {
			text-align: center;
			border-radius: 10px;
			box-shadow: none !important;
		}
		.highlight-col {
			margin-top: 0;
		}
	}
}
/*------------------------------------------------------------------
	2.4 Pricing table style 4
-------------------------------------------------------------------*/
.fw-pricing.style-4 {
	text-align: center;
	.default-col, .highlight-col {
		padding-top: 25px;
		padding-bottom: 50px;
	}
	.highlight-col {
		margin-top: -20px;
		padding-top: 45px;
		padding-bottom: 70px;
		border-radius: 10px;
		z-index: 10;
	}
	> div:first-child, > div:first-child .fw-heading-row {
		border-bottom-left-radius: 5px;
		border-top-left-radius: 5px;
	}
	> div:last-of-type, div:last-of-type .fw-heading-row {
		border-bottom-right-radius: 5px;
		border-top-right-radius: 5px;
	}
	.fw-icon-row {
		margin-top: -40px;
		margin-bottom: 30px;
	}
	.custom-icon {
		display: inline-block;
		width: 80px;
		height: 80px;
		line-height: 80px;
		border-radius: 50%;
		text-align: center;
		transition: all 0.3s;
		i, svg {
			display: inline-block;
			vertical-align: middle;
			transition: all 0.3s;
		}
	}
	.fw-heading-row {
		padding-top: 30px;
		padding-bottom: 70px;
		margin-right: -15px;
		margin-left: -15px;
		margin-top: -25px;
		font-weight: 900;
	}
	.highlight-col .fw-heading-row {
		margin-top: -45px;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		padding-top: 50px;
		padding-bottom: 70px;
	}
	.fw-pricing-row {
		margin-bottom: 34px;
		span {
			font-weight: 900;
		}
		small {
			display: block;
			text-transform: uppercase;
		}
	}
	.fw-button-row {
		margin-top: 35px;
	}
}
@media screen and (max-width: 992px) {
	.fw-pricing.style-4 {
		.highlight-col {
			margin-top: 0;
		}
	}
}

/*------------------------------------------------------------------
	2.5 Pricing table style 5
-------------------------------------------------------------------*/
.fw-pricing.style-5 {
	text-align: center;
	.default-col .fw-package,
	.highlight-col .fw-package {
		border-radius: 10px;
		padding: 50px 40px;
		transition: all 0.3s;
	}
	.fw-heading-row {
		margin-bottom: 30px;
		font-weight: 900;
	}
	.fw-pricing-row {
		margin-bottom: 30px;
		span {
			font-size: 60px;
			font-weight: 900;
		}
		small {
			font-size: 18px;
		}
	}
	.fw-term-row, .fw-button-row {
		margin-bottom: 34px;
	}
}

@media screen and (max-width: 992px) {
	.fw-pricing.style-5 {
		.default-col .fw-package,
		.highlight-col .fw-package {
			padding: 20px 15px;
			margin-right: -15px;
			margin-left: -15px;
		}
		.fw-heading-row {
			span {
				font-size: 30px;
			}
		}
	}
}
/*------------------------------------------------------------------
	2.6 Pricing table style 6
-------------------------------------------------------------------*/
.fw-pricing.style-6 {
	text-align: center;
	.default-col .fw-package,
	.highlight-col .fw-package {
		border-radius: 10px;
		padding: 50px 40px;
		transition: all 0.3s;
	}
	.fw-pricing-row {
		margin-bottom: 25px;
		span {
			font-size: 60px;
			font-weight: 900;
			transition: all 0.3s;
		}
		small {
			font-size: 18px;
			transition: all 0.3s;
		}
	}
	.fw-heading-row {
		margin-bottom: 25px;
		letter-spacing: 8px;
		transition: all 0.3s;
	}
	.fw-button-row {
		margin-top: 34px;
	}
	.fw-default-row {
		padding: 10px 15px;
		margin-left: -40px;
		margin-right: -40px;
	}
}

@media screen and (max-width: 992px) {
	.fw-pricing.style-6 {
		.default-col .fw-package,
		.highlight-col .fw-package {
			padding: 40px 15px;
			margin-right: -15px;
			margin-left: -15px;
		}
		.fw-heading-row {
			span {
				font-size: 20px;
			}
		}
		.fw-default-row {
			margin-left: -15px;
			margin-right: -15px;
		}
	}
}
/*------------------------------------------------------------------
	2.7 Pricing table style 7
-------------------------------------------------------------------*/
.fw-pricing.style-7 {
	.default-col, .highlight-col {
		text-align: center;
	}
	.default-col, .highlight-col {
		padding-top: 70px;
		padding-bottom: 50px;
		transition: all 0.3s;
	}
	.highlight-col {
		margin-top: -30px;
		padding-top: 85px;
		padding-bottom: 80px;
		border-radius: 10px;
		z-index: 10;
	}
	.fw-icon-row {
		margin-bottom: 25px;
		i, svg {
			display: inline-block;
		}
		svg {
			width: 63px;
			height: 63px;
		}
		i {
			font-size: 63px;
		}
	}
	.fw-heading-row, .fw-pricing-row {
		font-weight: 900;
		margin-bottom: 25px;
	}
	.fw-term-row {
		margin-bottom: 28px;
	}
	.fw-pricing-row {
		margin-bottom: 34px;
		span {
			font-size: 48px;
			line-height: 1em;
		}
	}
	.fw-button-row {
		margin-top: 34px;
	}
	> div:last-of-type {
		border-bottom-right-radius: 5px;
		border-top-right-radius: 5px;
	}
	> div:first-child {
		border-bottom-left-radius: 5px;
		border-top-left-radius: 5px;
	}
}

@media screen and (max-width: 992px) {
	.fw-pricing.style-7 {
		.highlight-col {
			margin-top: 0;
		}
	}
}

@media screen and (max-width: 992px) {
	.fw-pricing .fw-package-wrap {
		margin-bottom: 34px;
	}
}
