/*------------------------------------------------------------------
[TABS_ICONIC_VARIABLE.CSS - Iconic Tabs shortcode variable styles]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.theme-iconic-tabs {
	nav:after {
		background-color: @color_accent_light_grey;
	}
	.tab-content-image img {
		border-radius: ~'@{content_elements_radius}px';
	}
	nav a {
		font-size: ~'@{smaller_font_size}px';
		line-height: ~'@{smaller_font_line_height}px';
		font-family: @secondary_font_family;
	}
	.tab-icon {
		background-color: #fff;
	}
	.open .tab-icon {
		box-shadow: ~'@{box_shadow_h_length}px @{box_shadow_v_length}px @{box_shadow_blur_radius}px 0px @{box_shadow_color}';
		background-color: @box_bg_color;
	}
	.tab-icon, nav a {
		color: @color_accent_grey;
	}
	.tab-icon svg {
		path, rect, polygon, circle {
			fill: @color_accent_grey;
		}
	}
	nav a.open {
		color: @color_accent_blue;
	}
	.open .tab-icon {
		color: @color_accent_blue;
		svg {
			path, rect, polygon, circle {
				fill: @color_accent_blue;
			}
		}
	}
}
.theme-iconic-tabs.mobile {
	nav .title {
		background: #fff;
	}
	nav a:after {
		background-color: @color_accent_light_grey;
	}
	nav a.open:after {
		background-color: @color_accent_blue;
	}
}
