/*------------------------------------------------------------------
[TEAM_CAROUSEL.CSS - Team cards shortcode static styles]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.team-carousel {
	img {
		display: block;
	}
	.swiper-slide-prev,
	.swiper-slide-next {
		.photo {
			-webkit-filter: blur(5px);
			filter: blur(5px);
		}
		.toggle-text {
			max-height: 0;
			transition: max-height 0.5s;
		}
	}
	.text-content {
		padding: 50px 60px;
		transition: all 0.3s;
		text-align: center;
	}
	.text-inside {
		overflow: hidden;
	}
	.swiper-slide {
		transition: margin 0.3s;
	}
	.swiper-slide-active {
		z-index: 10;
		margin-top: -50px;
		.toggle-text {
			max-height: 300px;
		}
		.text-content {
			margin-top: -20px;
		}
	}
	.photo {
		z-index: 1;
		position: relative;
		img {
			margin: 0 auto;
		}
	}
	.text-content {
		z-index: 5;
		position: relative;
	}
	.swiper-container {
		padding-bottom: 15px;
		padding-top: 50px;
	}
	.name {
		padding-bottom: 5px;
		font-weight: bold;
	}
	.position {
		padding-bottom: 16px;
	}
	.text {
		padding-bottom: 24px;
	}
	.social a {
		margin: 0 4px;
		font-size: 16px;
	}
}

@media screen and (max-width: 767px) {
	.team-carousel {
		.text-content {
			padding: 30px;
		}
	}
}
