/*------------------------------------------------------------------
[TIMELINE_CV.CSS - CV timeline shortcode static styles]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.cv-timeline {
	position: relative;
	.item {
		position: relative;
		display: table;
		width: 100%;
		padding: 35px 0 35px 50px;
	}
	.dates {
		width: 45%;
		font-weight: bold;
		text-transform: uppercase;
		transition: color 0.3s;
	}
	.dates, .text {
		display: table-cell;
		vertical-align: middle;
	}
	.position {
		margin-bottom: 10px;
	}
	a {
		text-decoration: none;
	}
	.filling-line {
		position: absolute;
		left: 7px;
		top: 0;
		bottom: 0;
		width: 6px;
		border-radius: 3px;
		z-index: 1;
	}
	.dot {
		content: '';
		position: absolute;
		z-index: 7;
		border-width: 8px;
		top: 50%;
		left: 0;
		margin-top: -15px;
		height: 20px;
		width: 20px;
		border-radius: 50%;
		-webkit-transition: background-color 0.3s, border-color 0.3s;
		-moz-transition: background-color 0.3s, border-color 0.3s;
		transition: background-color 0.3s, border-color 0.3s;
	}
	.item:after {
		content: '';
		position: absolute;
		left: 7px;
		top: 0;
		bottom: 0;
		width: 6px;
		z-index: 5;
		border-radius: 3px;
	}
}

@media screen and (max-width: 992px) {
	.cv-timeline {
		.dates, .text, .item {
			display: block;
			width: auto;
		}
	}
}
