/*------------------------------------------------------------------
[CONTACT_INFO.CSS - Dynamic styles for Contact Info widget]
[Table of contents]

1. Shared styles
2. Footer styles
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.wproto_contact_info_widget {
	.content-row {
		margin-bottom: 24px;
		color: @color_text_lighten;
	}
	.row-text {
		color: @color_text_darken;
	}
	.share-links i.fa {
		margin-right: 15px;
	}
}
body.rtl .wproto_contact_info_widget {
	.share-links i.fa {
		margin-left: 15px;
		margin-right: 0;
	}
}
/*------------------------------------------------------------------
	2. Footer styles
-------------------------------------------------------------------*/
#footer-widgets {
	.wproto_contact_info_widget {
		.content-row {
			color: @footer_text_color;
		}
		.row-text, .row-text a {
			color: @footer_headers_color;
		}
		.row-text a:hover {
			color: @footer_link_hover_color;
		}
	}
}
