/** *****************************************************************************************************************************************
		UNYSON CUSTOMIZATION
***************************************************************************************************************************************** **/
#albedo-welcome-screen #setting-error-tgmpa {
  display: none;
}
.wproto-icon-thumb {
  font-size: 50px !important;
}
.wplab-albedo-about-wrap * {
  line-height: normal;
}
.wplab-albedo-about-wrap img {
  max-width: 100%;
}
.wp-list-table #thumbnail,
.wp-list-table .column-thumbnail {
  width: 100px;
}
.wp-list-table #thumbnail img,
.wp-list-table .column-thumbnail img {
  max-width: 70px;
  height: auto;
}
.wplab_albedo_media_image {
  margin: 0 auto;
  padding: 0;
  max-width: 100px;
  height: auto;
  display: block;
}
.wproto-media-uploader-table {
  width: 100%;
}
.wproto-media-uploader-table .img {
  width: 50%;
  background: #fafafa;
  border: 2px solid #eee;
  text-align: center;
}
.wproto-image-auto-width .thumb {
  width: auto !important;
  height: auto !important;
}
.fw-table-cell-content .fw-cell-option-wrapper {
  margin-bottom: 15px;
}
.fw-option-type-table .fw-table-cell-worksheet:not(.desc-col) .switch-row,
.fw-option-type-table .fw-table-cell-worksheet:not(.desc-col) .button-row {
  text-align: left !important;
}
.wproto-block-imgs .image_picker_selector li {
  display: inline-block;
  vertical-align: top;
  float: none !important;
  width: 30%;
}
.wproto-block-imgs .image_picker_image {
  width: 100%;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1);
}
.wproto-block-imgs .thumbnail {
  background: #fafafa;
  padding: 8px;
}
.wproto-hide-weight .fw-option-typography-v2-option-style,
.wproto-hide-weight .fw-option-typography-v2-option-variation,
.wproto-hide-weight .fw-option-typography-v2-option-weight {
  display: none !important;
}
.fw-backend-option-type-html-full h3 {
  margin-top: 0;
}
.fw-backend-option-type-html-full .fw-backend-option-label {
  display: none;
}
.fw-backend-option-type-html-full .fw-backend-option-input {
  width: 100%;
}
#wp-admin-bar-wproto-theme-settings .ab-icon:before {
  content: "\f111";
  padding: 2px 0;
  float: left;
}
#wp-admin-bar-wproto-theme .ab-icon:before {
  content: '\f468';
  padding: 2px 0;
  float: left;
}
.wp-customizer .fw-backend-option-type-html label {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 2px solid #aaa;
  padding: 5px !important;
  display: block;
}
.wp-customizer .fw-backend-option-type-html {
  padding: 0 !important;
}
.wp-customizer .fw-backend-option-type-html * {
  margin: 0;
  padding: 0;
}
#fw-options-tab-customizer_settings .fw-backend-option-type-html label {
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 2px solid #aaa;
  display: block;
}
#fw-options-tab-woocommerce,
#fw-options-tab-custom_css,
#fw-options-tab-preloader,
#fw-options-tab-sidebar {
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  background: #fff;
  margin-bottom: 35px;
}
.fw-option-type-table .fw-table-cell-worksheet.desc-col {
  text-align: left !important;
  font-weight: bold !important;
  font-style: normal !important;
}
#albedo-welcome-screen .boxes {
  font-size: 0;
  margin: 0 -15px;
}
#albedo-welcome-screen .boxes__box {
  display: inline-block;
  width: 33.33333%;
  vertical-align: top;
  font-size: 16px;
  padding: 15px;
  box-sizing: border-box;
}
#albedo-welcome-screen .boxes__box .boxes__text {
  font-size: 14px;
}
#albedo-welcome-screen .boxes__box .boxes__text ul,
#albedo-welcome-screen .boxes__box .boxes__text ol {
  font-size: 14px;
}
#albedo-welcome-screen .boxes__box img {
  margin-bottom: 24px;
}
#albedo-welcome-screen .full-width .boxes__box {
  width: 100% !important;
}
#albedo-welcome-screen .boxes__text {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  background: #fff;
  padding: 30px;
  transition: all 0.3s;
}
#albedo-welcome-screen .boxes__box:hover .boxes__text {
  box-shadow: 0px 1px 5px 0px #0073aa;
  background-color: #fcfcfc;
}
#albedo-welcome-screen .full-width .boxes__box:hover .boxes__text {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  background: #fff;
}
#albedo-welcome-screen .boxes__text > h3:first-child {
  margin-top: 0;
}
#albedo-welcome-screen .welcome-section {
  max-width: 1000px;
}
.fw-option-type-stylebox input {
  width: 70px !important;
  margin-right: 8px;
}
.fw-backend-option-input-type-stylebox input {
  width: 50px !important;
  margin-right: 8px;
}
.fw-option-type-stylebox input:last-of-type,
.fw-backend-option-input-type-stylebox input:last-of-type {
  margin-right: 0;
}
.post-type-fw-portfolio .fw-option-type-image-picker ul.thumbnails.image_picker_selector li {
  float: none;
  display: inline-block;
  vertical-align: top;
}
.post-type-fw-portfolio .fw-option-type-image-picker ul.thumbnails.image_picker_selector li .thumbnail {
  border-color: #ddd;
}
.post-type-fw-portfolio .fw-option-type-image-picker ul.thumbnails.image_picker_selector li .thumbnail:hover {
  border-color: #64bd1f;
}
/** *****************************************************************************************************************************************
		PRICING TABLE EDITOR
***************************************************************************************************************************************** **/
#albedo-pricing-table-editor {
  background: #fff !important;
  border: 0;
  margin: 0 auto;
}
#albedo-pricing-table-editor input[type=text],
#albedo-pricing-table-editor textarea,
#albedo-pricing-table-editor select {
  width: 100%;
  text-align: center;
}
#albedo-pricing-table-editor td.td-icon {
  text-align: center;
}
#albedo-pricing-table-editor .plan-icon.with-icon {
  margin: 10px auto 10px auto;
  width: 80px;
  height: 80px;
  background-size: 75px auto;
  background-position: center center;
  background-repeat: no-repeat;
}
#albedo-pricing-table-editor select {
  text-align-last: center;
}
#albedo-pricing-table-editor textarea {
  min-height: 100px;
}
#albedo-pricing-table-editor th input {
  margin: 0;
}
#albedo-pricing-table-editor .description.ex input[type=text] {
  width: 80%;
}
#albedo-pricing-table-editor input[type=text].input-feature {
  width: 70%;
}
#albedo-pricing-table-editor h3.hndle {
  display: none;
}
#albedo-pricing-table-editor .inside {
  padding: 0 5px;
}
#albedo-pricing-table-editor .handlediv {
  display: none !important;
}
#albedo-pricing-table-editor .inside {
  padding: 0 !important;
  position: relative;
}
#albedo-pricing-table-editor .package-title {
  text-align: center;
}
#albedo-pricing-table-editor tbody tr.move {
  cursor: move;
}
#albedo-pricing-table-editor tbody input,
#albedo-pricing-table-editor thead input {
  background: transparent;
  border: 1px solid transparent;
  text-align: center;
}
#albedo-pricing-table-editor thead input {
  padding: 3px;
}
#albedo-pricing-table-editor tbody .description input {
  text-align: left;
}
#albedo-pricing-table-editor tbody input:focus,
#albedo-pricing-table-editor tbody td:hover input,
#albedo-pricing-table-editor tbody th:hover input,
#albedo-pricing-table-editor thead th:hover input,
#albedo-pricing-table-editor thead th input:focus {
  background: #fff;
  border: 1px solid #dfdfdf;
}
#albedo-pricing-table-editor .center {
  text-align: center;
}
#albedo_table_editor .inside {
  overflow-x: scroll;
}
#albedo_table_editor .inside td.description {
  white-space: nowrap;
  line-height: 30px;
}
#albedo_table_editor .inside tr.system-item {
  cursor: default !important;
}
#albedo_table_editor .inside td.ex {
  vertical-align: middle;
}
#albedo_table_editor .inside td.ex img {
  vertical-align: middle;
}
.albedo-make-featured-price input,
.albedo-make-desc-col input {
  display: none;
}
.vc_license-activation-notice {
  display: none !important;
}
/**
 * TEMP FIXES
**/
.wp-picker-container .fw-option-type-rgba-color-picker,
.wp-picker-container .wp-picker-clear {
  display: inline-block !important;
  vertical-align: top;
}
.vc_edit_form_elements input.wp-color-picker {
  position: inherit !important;
  display: inline !important;
  float: inherit !important;
}

#wproto-sidebars-list .sb {
  margin-bottom: 10px;
}
.fw-brz-dismiss {
	display: none !important;
}