/*------------------------------------------------------------------
[PREV_NEXT_POSTS_TITLES.CSS - Static styles for pre/next posts links block]
[Table of contents]

1. Shared styles
-------------------------------------------------------------------*/
.prev-next-posts-wrapper.style-titles {
  padding: 75px 0;
  margin-top: 70px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px auto;
}
.prev-next-posts-wrapper.style-titles .prev-post,
.prev-next-posts-wrapper.style-titles .next-post {
  background-repeat: no-repeat;
  font-weight: bold;
  background-size: 22px auto;
}
.prev-next-posts-wrapper.style-titles .prev-post {
  float: left;
  background-position: left center;
  padding-left: 48px;
}
.prev-next-posts-wrapper.style-titles .next-post {
  float: right;
  text-align: right;
  background-position: right center;
  padding-right: 48px;
}
.prev-next-posts-wrapper.style-titles a {
  text-decoration: none;
  transition: 0.3s;
}
@media screen and (max-width: 850px) {
  .prev-next-posts-wrapper.style-titles {
    background-image: none !important;
    padding: 55px 0 17px;
  }
  .prev-next-posts-wrapper.style-titles .prev-post {
    margin-bottom: 18px;
  }
  .prev-next-posts-wrapper.style-titles .prev-post,
  .prev-next-posts-wrapper.style-titles .next-post {
    float: none;
    text-align: left;
    background-position: left center;
  }
  .prev-next-posts-wrapper.style-titles .next-post {
    padding-right: 0;
    padding-left: 48px;
  }
}
