body {
background:#ffffff;
font-family:sans-serif;
font-size:12px;
font-size-adjust:none;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:15px;
text-align:center;
margin:0px;
}

.sac-titulo {
font-family:'helvetica neue',arial,helvetica,sans-serif;
font-size:24px;
font-size-adjust:none;
text-align:left;
font-style:normal;
font-variant:normal;
font-weight:bold;
letter-spacing:-1px;
line-height:22px;
padding:0px 1px;
color:#1B4978;
}

.sac-subtitulo {
background:#E7ECF1;
border:1px solid #CCD7E1;
padding:3px 3px;
color:#1B4978;
font-size:11px;
}
.form-info {
background:#E7ECF1;
border:1px solid #CCD7E1;
margin-bottom:10px;
padding:10px 20px;
color:#1B4978;
font-size:11px;
}

.form-info-login {
margin-bottom:10px;
padding:10px 20px;
color:#1B4978;
font-size:11px;
}

.form-titulo {
font-family:'helvetica neue',arial,helvetica,sans-serif;
font-size:24px;
font-size-adjust:none;
text-align:left;
font-style:normal;
font-variant:normal;
font-weight:normal;
letter-spacing:-1px;
line-height:22px;
color:#1B4978;
padding:0px 0px 5px 0px;
}
.form-imagen-sola-titulo {
background:transparent url(../images/entry-post.gif) no-repeat scroll left top;
height:66px;
font-family:'helvetica neue',arial,helvetica,sans-serif;
font-size:24px;
color:#ffffff;
padding-left:3px;
width:41px;
}


.respond-author label {
display:block;
font-size:12px;
font-weight:bold;
padding-bottom:7px;
}

.comentario{
padding-left:5px;
color:#888888;
display:inline;
font-size:11px;
font-weight:normal;
}

.respuesta-positiva{
padding-left:5px;
color:green;
display:inline;
font-size:11px;
font-weight:normal;
}
.respuesta-negativa{
padding-left:5px;
color:red;
display:inline;
font-size:11px;
font-weight:normal;
}

.respond-author input {
border:1px solid #CCD7E1;
font-size:14px;
margin-top:2px;
padding:5px;
width:180px;
}

.boton {
	background:#c1c1c1;
    color:#000;
    font-family:Arial,sans-serif;
    font-size:11px;
    font-weight:bold;
	border:1px solid #a1a1a1;
    /*padding:1px 5px 1px 5px;*/
   /* margin:5px 4px;*/
    height:25px;
    cursor:pointer;
}
.botondestaca {
	/* background:#7B8FB3;#FF7400 */
	background:#FF7400;
    color:#fff;
    font-family:Arial,sans-serif;
    font-size:11px;
    font-weight:bold;
	border:1px solid #a1a1a1;
    /*padding:1px 5px 1px 5px;*/
   /* margin:5px 4px;*/
    height:25px;
    cursor:pointer;
}

.text-peq {
    color:#000;
    font-family:Arial,sans-serif;
    font-size:11px;
	border:1px solid #CCD7E1;
}
.textodestacado {
    color:#000;
    font-family:Arial,sans-serif;
    font-size:14px;
    font-weight:bold;
}
.textodestacadocancelada {
	background:#CC3300;
    color:#fff;
    font-family:Arial,sans-serif;
    font-size:14px;
    font-weight:bold;
}
.botonProcesando {
	background:#f1f1f1 url(../images/progre.gif) no-repeat scroll right; ;
    color:#a1a1a1;
    font-family:Arial,sans-serif;
    font-size:11px;
    font-weight:bold;
	border:1px solid #a1a1a1;
    padding:0px 30px 0px 0px;
    height:25px;
}

.BordeForm {
	BACKGROUND-COLOR: #bdbab5;
}

.BloqueBordeForm {
	BACKGROUND-COLOR: #ffffff;
}

.requerido {
	color:#CC3300;
	font-size:12px;
}
.obligatorio {
	color:#CC3300;
	font-size:10px;
}
.activa {background:#FFFF00;color:#FFFF00;font-size:12px;border:1px solid #000;}
.aprobar {background:#00CC00;color:#00CC00;font-size:12px;border:1px solid #000;}
.nula {background:#FF0000;color:#FF0000;font-size:12px;border:1px solid #000;}
.baja {background:#FF99CC;color:#FF99CC;font-size:12px;border:1px solid #000;}
.devolucion {background:#FF9900;color:#FF9900;font-size:12px;border:1px solid #000;}
.cancelada {background:#0066FF;color:#0066FF;font-size:12px;border:1px solid #000;}

.pasos {
	color:#CC3300;
	font-size:20px;
}
table.tabla-alycar {
	BORDER-RIGHT: #B9B9B9 1px solid; BORDER-TOP: #B9B9B9 1px solid; FLOAT: left; BORDER-LEFT: #B9B9B9 1px solid; BORDER-BOTTOM: #B9B9B9 1px solid; BORDER-COLLAPSE: collapse;ALIGN:Center; width:100%;
}
.taba-alycar TD {
	BORDER-RIGHT: #B9B9B9 0px solid; PADDING-RIGHT: 0em; BORDER-TOP: #B9B9B9 0px solid; PADDING-LEFT: 0em; PADDING-BOTTOM: 0pt; BORDER-LEFT: #B9B9B9 0px solid; PADDING-TOP: 0pt; BORDER-BOTTOM: #B9B9B9 0px solid
}

.taba-alycar TR {
	BORDER-RIGHT: #B9B9B9 0px solid; PADDING-RIGHT: 0em; BORDER-TOP: #B9B9B9 0px solid; PADDING-LEFT: 0em; PADDING-BOTTOM: 0pt; BORDER-LEFT: #B9B9B9 0px solid; PADDING-TOP: 0pt; BORDER-BOTTOM: #B9B9B9 0px solid
}

table.tabla-alycar-menu{
	BORDER-RIGHT: #B9B9B9 1px solid; BORDER-TOP: #B9B9B9 1px solid; FLOAT: left; BORDER-LEFT: #B9B9B9 1px solid; BORDER-BOTTOM: #B9B9B9 1px solid; BORDER-COLLAPSE: collapse;ALIGN:Center; width:100%;
}
.taba-alycar-menu TD {
	BORDER-RIGHT: #B9B9B9 0px solid; PADDING-RIGHT: 0em; BORDER-TOP: #B9B9B9 0px solid; PADDING-LEFT: 0em; PADDING-BOTTOM: 0pt; BORDER-LEFT: #B9B9B9 0px solid; PADDING-TOP: 0pt; BORDER-BOTTOM: #B9B9B9 0px solid
}

.taba-alycar-menu TR {
	BORDER-RIGHT: #B9B9B9 0px solid; PADDING-RIGHT: 0em; BORDER-TOP: #B9B9B9 0px solid; PADDING-LEFT: 0em; PADDING-BOTTOM: 0pt; BORDER-LEFT: #B9B9B9 0px solid; PADDING-TOP: 0pt; BORDER-BOTTOM: #B9B9B9 0px solid
}

.tabla-alycar-menu .tabla-alycar-fila-informa-requerida-contrato-cabecera {
	/*background:#356AA0;*/
	background:#447CAD;
	border:1px solid #ffffff;
	margin-bottom:4px;
	padding:4px 4px;
	color:#ffffff;
	font-size:12px;
	text-align:center;
	font-weight:bold;
	cursor: pointer;
}
.tabla-alycar-menu .tabla-alycar-fila-informa-requerida-contrato-cabecera-fuera {
    background:#E7ECF1;
    border:1px solid #ffffff;
    margin-bottom:4px;
    padding:4px 4px;    
    color:#1B4978;
    font-size:12px;
	text-align:center;
    font-weight:bold;
	cursor: pointer;
}
.tabla-alycar-menu .tabla-alycar-texto-menu{
    background:#ffffff;
    border:1px solid #CCD7E1;
    margin-bottom:4px;
    padding:4px 4px;    
    color:#000000;
    font-size:11px;
	text-align:center;
    font-weight:bold;
}

.taba-alycar .tabla-alycar-fila-titulo{
    background:#E7ECF1;
    border:1px solid #CCD7E1;
    margin-bottom:10px;
    padding:10px 10px;    
    color:#1B4978;
    font-size:14px;
    font-weight:bold;
}	
.tabla-alycar .tabla-alycar-fila-botones{
    background:#E7ECF1;
    border:1px solid #CCD7E1;
    margin-bottom:10px;
    padding:10px 10px;    
    color:#1B4978;
    font-size:11px;
    font-weight:bold;
	text-align:left;
}
.tabla-alycar .tabla-alycar-fila-botones-der{
    background:#E7ECF1;
    border:1px solid #CCD7E1;
    margin-bottom:10px;
    padding:10px 10px;    
    color:#1B4978;
    font-size:14px;
    font-weight:bold;
	text-align:right;
}

.tabla-alycar .tabla-alycar-fila-botones-centrado{
    background:#E7ECF1;
    border:1px solid #CCD7E1;
    margin-bottom:10px;
    padding:10px 10px;    
    color:#1B4978;
    font-size:14px;
    font-weight:bold;
	text-align:center;
}	
.tabla-alycar .tabla-alycar-fila-informa {
	background:#E7ECF1;
	border:1px solid #CCD7E1;
	margin-bottom:10px;
	padding:10px 20px;
	color:#1B4978;
	font-size:11px;	
}
.tabla-alycar .tabla-alycar-fila-informa-requerida {
	background:#E7ECF1;
	border:1px solid #CCD7E1;
	margin-bottom:10px;
	padding:10px 20px;
	color:#1B4978;
	font-size:11px;
	text-align:right;
}
.tabla-alycar .tabla-alycar-fila-informa-requerida-contrato {
	background:#D2DFEE;
	border:1px solid #CCD7E1;
	margin-bottom:10px;
	padding:10px 20px;
	color:#1B4978;
	font-size:14px;
	text-align:left;
	font-weight:bold;
}
.tabla-alycar .tabla-alycar-fila-informa-folio {
	background:#fff;
	border:1px solid #CCD7E1;
	margin-bottom:50px;
	padding:50px 50px;
	color:#CC3300;
	font-size:42px;
	text-align:center;
	font-weight:bold;
}
.tabla-alycar .tabla-alycar-fila-informa-requerida-contrato-cabecera {
	background:#356AA0;
	border:1px solid #CCD7E1;
	margin-bottom:7px;
	padding:7px 7px;
	color:#FFFFFF;
	font-size:12px;
	text-align:center;
	font-weight:bold;
	cursor: pointer;
}
.tabla-alycar .tabla-alycar-fila-busqueda {
	background:#fff;
	border:1px solid #CCD7E1;
	margin-bottom:2px;
	padding:3px 10px;
	color:#1B4978;
	font-size:13px;	
}
.tabla-alycar .tabla-alycar-fila-input-busqueda {
	background:#fff;
	border:1px solid #CCD7E1;
	margin-bottom:2px;
	padding:3px 10px;
	color:#1B4978;
	font-size:13px;	
}
.tabla-alycar .tabla-alycar-fila-label-busqueda {
    background:#F1F1D8;
	border:1px solid #CCD7E1;
    margin-bottom:5px;
    padding:5px 10px;    
    color:#1B4978;
    font-size:11px;
    font-weight:bold;
}

.tabla-alycar .tabla-alycar-fila-informa-busqueda {
    /*background:#F1F1D8;*/
	background:#F1F1D8  url(../images/search_right.gif) no-repeat scroll;
	border:1px solid #CCD7E1;
    margin-bottom:0px;
    padding:0px 0px;    
    color:#1B4978;
    font-size:11px;
    font-weight:bold;
	height:18px;
}
.tabla-alycar .tabla-alycar-fila-informa-obligatoria {
    /*background:#F1F1D8;*/
	background:#F1F1D8;
	border:1px solid #CCD7E1;
	margin-bottom:10px;
	padding:10px 20px;
    color:#1B4978;
    font-size:11px;
	text-align:right;
}
.tabla-alycar .tabla-alycar-label{
    background:#F2F2F2;
	border:1px solid #CCD7E1;
    margin-bottom:5px;
    padding:5px 20px;    
    color:#1B4978;
    font-size:11px;
    font-weight:bold;
	width:160px;
}
.tabla-alycar .tabla-alycar-label-peq{
    background:#F2F2F2;
	border:1px solid #CCD7E1;
    margin-bottom:2px;
    padding:2px 10px;    
    color:#1B4978;
    font-size:11px;
    font-weight:bold;
	width:160px;
}
.tabla-alycar .tabla-alycar-menu-label{
    background:#F2F2F2;
	border:1px solid #CCD7E1;
    margin-bottom:5px;
    padding:5px 20px;    
    color:#1B4978;
    font-size:11px;
    font-weight:bold;
	width:160px;
}
.tabla-alycar .tabla-alycar-label-total{
    background:#F2F2F2;
	border:1px solid #CCD7E1;
    margin-bottom:5px;
    padding:5px 10px;    
    color:#1B4978;
    font-size:14px;
    font-weight:bold;
	width:160px;
	text-align:right;
}
.tabla-alycar .tabla-alycar-texto{
    border:1px solid #CCD7E1;
    margin-bottom:5px;
    padding:5px 10px;    
    color:#000000;
    font-size:13px;
    font-weight:bold;
}
.tabla-alycar .tabla-alycar-texto-peq{
    border:1px solid #CCD7E1;
    margin-bottom:2px;
    padding:2px 5px;    
    color:#000000;
    font-size:11px;
    font-weight:bold;
}
.tabla-alycar .tabla-alycar-texto-slinea{
    border: none;
    margin-bottom:5px;
    padding:5px 10px;    
    color:#000000;
    font-size:13px;
    font-weight:bold;
}
.tabla-alycar .tabla-alycar-texto-derecha{
    border:1px solid #CCD7E1;
    margin-bottom:5px;
    padding:5px 10px;    
    color:#000000;
    font-size:13px;
    font-weight:bold;
	text-align:right;
}
.tabla-alycar .tabla-alycar-input-derecha{
	text-align:right;
}
.tabla-alycar .tabla-alycar-texto-archivo{
    padding:5px 10px;    
    color:#000000;
    font-size:13px;
}
.tabla-alycar .tabla-alycar-input{
    border:1px solid #CCD7E1;
    margin-bottom:5px;
    padding:5px 10px;    
    color:#000000;
    font-size:14px;
}

.tabla-alycar .tabla-alycar-input-yellow{
	background-color:#FFFF00;
}

.tabla-alycar .tabla-alycar-datos-usuario {
	border:1px solid #CCD7E1;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	margin-bottom:10px;
	padding:5px 5px;
	color:#1B4978;
	font-size:12px;
	}
/*viñeta*/
.vineta-menu{
        FONT-WEIGHT: bold;
        FONT-SIZE: 12px;
        COLOR: #c1c1c1;
        FONT-FAMILY: Arial, Helvetica, sans-serif;
        TEXT-DECORATION: none;

}
.boton-menu{
        FONT-WEIGHT: bold;
        FONT-SIZE: 12px;
        COLOR: #FFFFFF;
        FONT-FAMILY: Arial, Helvetica, sans-serif;
        TEXT-DECORATION: none;

}
.boton-menu:hover{
color:#e82006; 
}
.encabezado {
	    background-color: #EBEFFA;
        FONT-WEIGHT: bold;
        FONT-SIZE: 10px;
        COLOR: #000000;
        FONT-FAMILY: Arial, Helvetica, sans-serif;
        TEXT-DECORATION: none;
}

.link-opciones {
	border:1px solid #CCD7E1;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	margin-bottom:10px;
	padding:5px 5px;
	color:#1B4978;
	font-size:13px;
}

.texto_buscar {
        FONT-SIZE: 10px;
        COLOR: #000000;
        FONT-FAMILY: Arial, Helvetica, sans-serif;
        TEXT-DECORATION: none;
}

.login {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        /*font-size: 14px;*/
        font-size: 10px;
        /*color: #f96;*/
        color:#003f77; 
        font-weight: bold;
        }
		
.login-titulo {
	font-family:arial,helvetica,sans-serif;
	font-size:17px;
	text-align:left;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	letter-spacing:0px;
	color:#4D6D9F;
        }
.login-error {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        color:red; 
 
        }		
a:link {
	text-decoration:none;
	color:blue;
}
a:visited {
	text-decoration: none;
	color :blue;
}
a:hover {
	text-decoration: underline;
	color:blue;
	font-weight:bold;
}
a:active {
	text-decoration: none;
	color : blue;
	font-weight:bold;
}		



table.grilla-tab {
	BORDER-RIGHT: #B9B9B9 1px solid; BORDER-TOP: #B9B9B9 1px solid; FLOAT: left; BORDER-LEFT: #B9B9B9 1px solid; BORDER-BOTTOM: #B9B9B9 1px solid; BORDER-COLLAPSE: collapse;ALIGN:Center; width:100%;
}
.grilla-tab TD {
	BORDER-RIGHT: #B9B9B9 0px solid; PADDING-RIGHT: 0em; BORDER-TOP: #B9B9B9 0px solid; PADDING-LEFT: 0em; PADDING-BOTTOM: 0pt; BORDER-LEFT: #B9B9B9 0px solid; PADDING-TOP: 0pt; BORDER-BOTTOM: #B9B9B9 0px solid
}

.grilla-tab TR {
	BORDER-RIGHT: #B9B9B9 0px solid; PADDING-RIGHT: 0em; BORDER-TOP: #B9B9B9 0px solid; PADDING-LEFT: 0em; PADDING-BOTTOM: 0pt; BORDER-LEFT: #B9B9B9 0px solid; PADDING-TOP: 0pt; BORDER-BOTTOM: #B9B9B9 0px solid
}
 
.grilla-tab .grilla-tab-fila-titulo {
	background:#F2F2F2;
	border:1px solid #CCD7E1;
	margin-bottom:20px;
	padding:8px 6px 8px;
	color:#1B4978;
	font-size:13px;	
}
.grilla-tab .grilla-tab-fila-titulo-pequenio {
	background:#F2F2F2;
	border:1px solid #CCD7E1;
	margin-bottom:10px;
	padding:4px 3px 4px;
	color:#1B4978;
	font-size:11px;	
}
.grilla-tab .grilla-tab-fila-campo {
	/*background:#fff;*/
	border:1px solid #CCD7E1;
	margin-bottom:20px;
	padding:8px 6px 8px;
	color:#1B4978;
	font-size:12px;
}
.grilla-tab .grilla-tab-fila-titulo-rev {
	background:#F2F2F2;
	border:1px solid #CCD7E1;
	margin-bottom:10px;
	padding:4px 3px 4px;
	color:#1B4978;
	font-size:12px;	
}
.grilla-tab .grilla-tab-fila-titulo-rev-peq {
	background:#F2F2F2;
	border:1px solid #CCD7E1;
	margin-bottom:5px;
	padding:2px 2px 2px;
	color:#1B4978;
	font-size:10px;	
}

.grilla-tab .grilla-tab-fila-campo-rev-peq {
	background:#fff;
	border:1px solid #CCD7E1;
	margin-bottom:5px;
	padding:2px 2px 2px;
	color:#1B4978;
	font-size:9px;

}
.trfuera{ 
border:solid #000000 1pt; 
background-color: #535353; 
color:#FFFFFF; 
font-weight: bold; 
font-family:Verdana,Arial,Helvetica; 
font-size: 10pt; 
cursor:hand; 
} 
.trdentro{ 
border:solid #B01717 1pt; 
background-color: #B01717; 
color: #FFFFFF; 
font-family:Verdana,Arial,Helvetica; 
font-weight: bold; 
font-size: 10pt; 
cursor:hand; 
} 

.grilla-tab .grilla-tab-fila-campo-pequenio{
	/*background:#fff;*/
	border:1px solid #CCD7E1;
	margin-bottom:4px;
	padding:2px 2px 2px;
	color:#1B4978;
	font-size:9px;
}

.grilla-tab .grilla-tab-fila-campo-det{
	background:#FFFF99;
	border:1px solid #CCD7E1;
	margin-bottom:10px;
	padding:4px 3px 3px;
	color:#1B4978;
	font-size:10px;
}

.grilla-tab .grilla-tab-fila-campo-seleccionado {
	background:#FFFF66;
	border:1px solid #CCD7E1;
	margin-bottom:20px;
	padding:8px 6px 8px;
	color:#1B4978;
	font-size:12px;
}
.grilla-tab .grilla-tab-fila-campo-btn {
	background:#fff;
	border:1px solid #CCD7E1;
	margin-bottom:5px;
	padding:4px 3px 4px;
	color:#1B4978;
	font-size:12px;
}
.grilla-tab .grilla-tab-fila-titulo-det {
	background:#fff;
	border:1px solid #CCD7E1;
	margin-bottom:10px;
	padding:4px 3px 4px;
	color:#1B4978;
	font-size:11px;	
}

.grilla-tab.grilla-tab-fila-campo-det {
	background:#fff;
	border:1px solid #CCD7E1;
	margin-bottom:10px;
	padding:4px 3px 4px;
	color:#1B4978;
	font-size:11px;	
}

table.tabla-grilla {
	BORDER-RIGHT: #B9B9B9 0px solid; BORDER-TOP: #B9B9B9 0px solid; FLOAT: left; BORDER-LEFT: #B9B9B9 0px solid; BORDER-BOTTOM: #B9B9B9 0px solid; BORDER-COLLAPSE: collapse;ALIGN:Center; width:100%;
}
.tabla-grilla TD {
	BORDER-RIGHT: #B9B9B9 0px solid; PADDING-RIGHT: 0em; BORDER-TOP: #B9B9B9 0px solid; PADDING-LEFT: 0em; PADDING-BOTTOM: 0pt; BORDER-LEFT: #B9B9B9 0px solid; PADDING-TOP: 0pt; BORDER-BOTTOM: #B9B9B9 0px solid
}

.tabla-grilla TR {
	BORDER-RIGHT: #B9B9B9 0px solid; PADDING-RIGHT: 0em; BORDER-TOP: #B9B9B9 0px solid; PADDING-LEFT: 0em; PADDING-BOTTOM: 0pt; BORDER-LEFT: #B9B9B9 0px solid; PADDING-TOP: 0pt; BORDER-BOTTOM: #B9B9B9 0px solid
}

.tabla-grilla .tabla-grilla-fila-titulo {
	background:#fff;
	border:1px solid #CCD7E1;
	height:10px;
	padding:5px 5px 0px;
	color:#930000;
	font-size:12px;	
}

/* Estilo para los tab*/

  #menutab {
      float:left;
      width:100%;
      background:#fff;
      font-size:93%;
      line-height:normal;
	  border-bottom:0px solid #24618E;
	  font-size:18px;
      }

    #menutab .menutab-izq-noactivo {
      float:left;
	  height:22px;
      background:url("../images/tableftJ.gif") no-repeat left top;
      margin:0;
      padding:5px 0px 4px 5px;
      }
	  
    #menutab .menutab-noactivo {
      float:left;
      display:block;
      background:url("../images/tabrightJ.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#24618E;
      }
	  
	 #menutab .menutab-izq-activo {
      float:left;
	  height:22px;
      background:url("../images/tableftJ.gif") no-repeat left top;
      margin:0;
      padding:5px 0px 4px 5px;
	  background-position:0% -42px;
      }	  
	 #menutab .menutab-activo {
      float:left;
      display:block;
      background:url("../images/tabrightJ.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#FFF;
	  background-position:100% -42px;
      }  
.mano 
{
cursor:pointer;
}

.rotulo-port {
font-family:arial,helvetica,sans-serif;
font-size:15px;
font-size-adjust:none;
text-align:left;
font-style:normal;
font-variant:normal;
font-weight:bold;
letter-spacing:0px;
color:#4D6D9F;
/*color:#FCFCFC;*/
}	
	
.divShow { visibility: visible; }
.divHide { visibility: hidden; display:none; }  
.divJust { height:600px;} 
  
  
div.tabs1 {
/*background:transparent url(../images/tabs.gif) no-repeat scroll -215px -55px;*/
color:#CC0000;
display:block;
float:left;
height:43px;
line-height:43px;
padding-left:50px;
position:relative;
text-decoration:none;
width:210px;
}
div.tabs1 span {
color:#CC0000;
font-size:30px;
font-weight:bold;
left:10px;
position:absolute;
top:0pt;
}

div.tabs {
/*background:transparent url(../images/tabs.gif) no-repeat scroll 0pt -55px;*/
color:#8E908F;
display:block;
float:left;
height:43px;
line-height:43px;
padding-left:50px;
position:relative;
text-decoration:none;
width:210px;
}
div.tabs span {
font-size:30px;
font-weight:bold;
left:10px;
position:absolute;
top:0pt;
}  

.label-estampilla{
    background:#A0CE6F;
    text-align:right;
}
/* CLASE PARA BORDES REDONDOS CREADA POR ALONSO ROJAS 20/11/2009 */
.curvar {
-moz-border-radius:4px;
-webkit-border-radius:4px;
behavior:url(border-radius.htc);
} 