/*------------------------------------------------------------------
[FOOTER_VARIABLE.CSS - Contains footer variable styles]
[Table of contents]

1. Shared styles
2. Footer forms
3. Standard WP Widgets
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
#footer {
	background-color: @footer_bg_color;
	background-image: @footer_bg_image_src;
	background-position: @footer_bg_image_position;
	background-repeat: @footer_bg_image_repeat;
	background-size: @footer_bg_image_cover;
	color: @footer_text_color;
	a:not(.button) {
		color: @footer_link_color;
	}
	a:not(.button):hover {
		color: @footer_link_hover_color;
	}
	h1, h2, h3, h4, h5, h6, .widget-title a, .widget-title a:hover {
		color: @footer_headers_color;
	}
	hr {
		border-color: @footer_borders_color;
	}
	.widget {
		font-size: ~'@{primary_font_size}px';
		ul li:before {
			@color_escaped: escape( ~'@{footer_accent_color}' );
			background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%2024%2024%22%20style%3D%22enable-background%3Anew%200%200%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cpolygon%20fill%3D%22@{color_escaped}%22%20points%3D%226%2C11.999%2018%2C24%2018%2C0%20%09%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E")';
		}
	}
	.widget-title {
		font-size: ~'@{h5_font_size}px';
		line-height: ~'@{h5_font_line_height}px';
	}
	thead th, tfoot th {
		color: @footer_text_color;
	}
}
#footer.no-bg-image {
	background-image: none;
}
#footer-bg-overlay {
	background-color: @footer_bg_overlay_color;
}

/*------------------------------------------------------------------
	2. Footer forms
-------------------------------------------------------------------*/
/** Form style 1 **/
#footer-widgets.forms-style-white {
	input[placeholder]          { color: @form_1_input_placeholder_color; }
	::-webkit-input-placeholder { color: @form_1_input_placeholder_color; }
	input::-moz-placeholder     { color: @form_1_input_placeholder_color; }
	input:-moz-placeholder      { color: @form_1_input_placeholder_color; }
	input:-ms-input-placeholder { color: @form_1_input_placeholder_color; }
	label {
		font-size: ~'@{small_font_size}px';
		line-height: ~'@{small_font_line_height}px';
		color: @color_text_lighten;
	}
	input[type=text], input[type=email], input[type=password], input[type=url], input[type=number], input[type=search], input[type=tel], textarea, select {
		font-size: ~'@{small_font_size}px';
		line-height: ~'@{small_font_line_height}px';
		color: @form_1_input_text_color;
		border-width: ~'@{form_1_input_border_size}px';
		border-radius: ~'@{form_1_input_border_radius}px';
		border-color: @form_1_input_border_color;
		background-color: @form_1_input_bg_color;
		font-family: @primary_font_family;
		transition: ~'all @{form_1_animation_time}ms';
	}
	input[type=text]:hover, input[type=email]:hover, input[type=password]:hover, input[type=url]:hover, input[type=number]:hover, input[type=search]:hover, input[type=tel]:hover, textarea:hover, select:hover,
	input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=url]:focus, input[type=number]:focus, input[type=search]:focus, input[type=tel]:focus, textarea:focus, select:focus {
		color: @form_1_hover_input_text_color;
		background-color: @form_1_hover_input_bg_color;
		border-color: @form_1_hover_input_border_color;
		border-radius: ~'@{form_1_hover_input_border_radius}px';
	}
	.field-radio .options label, .field-checkbox .options label {
		color: @color_text_lighten;
	}
	.form-error, ul.fw-form-errors {
		color: @color_accent_red !important;
	}
	ul.fw-form-errors {
		font-size: ~'@{small_font_size}px';
	}
	h2 {
		font-size: ~'@{h5_font_size}px';
		line-height: ~'@{h5_font_line_height}px';
	}
	.form-builder-item {
		font-size: ~'@{primary_font_size}px';
	}
	.form-builder-item p {
		font-size: ~'@{small_font_size}px';
		line-height: ~'@{small_font_line_height}px';
		color: @color_text_lighten;
	}
	.header p {
		font-size: ~'@{smaller_font_size}px';
		line-height: ~'@{smaller_font_line_height}px';
	}
}

/** custom dropdown **/
.fs-dropdown button.fs-dropdown-selected {
	font-size: ~'@{small_font_size}px';
	line-height: ~'@{small_font_line_height}px';
	color: @form_1_input_text_color;
	border-width: ~'@{form_1_input_border_size}px';
	border-radius: ~'@{form_1_input_border_radius}px';
	border-color: @form_1_input_border_color;
	background-color: @form_1_input_bg_color;
	font-family: @primary_font_family;
	transition: ~'border-color @{form_1_animation_time}ms';

	@color_escaped: escape( ~'@{form_1_input_icon_color}' );
	background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22444.819px%22%20height%3D%22444.819px%22%20viewBox%3D%220%200%20444.819%20444.819%22%20style%3D%22enable-background%3Anew%200%200%20444.819%20444.819%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M434.252%2C114.203l-21.409-21.416c-7.419-7.04-16.084-10.561-25.975-10.561c-10.095%2C0-18.657%2C3.521-25.7%2C10.561%20L222.41%2C231.549L83.653%2C92.791c-7.042-7.04-15.606-10.561-25.697-10.561c-9.896%2C0-18.559%2C3.521-25.979%2C10.561l-21.128%2C21.416%20C3.615%2C121.436%2C0%2C130.099%2C0%2C140.188c0%2C10.277%2C3.619%2C18.842%2C10.848%2C25.693l185.864%2C185.865c6.855%2C7.23%2C15.416%2C10.848%2C25.697%2C10.848%20c10.088%2C0%2C18.75-3.617%2C25.977-10.848l185.865-185.865c7.043-7.044%2C10.567-15.608%2C10.567-25.693%20C444.819%2C130.287%2C441.295%2C121.629%2C434.252%2C114.203z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")';
}
.fs-dropdown.fs-dropdown-open button.fs-dropdown-selected {
	@color_escaped: escape( ~'@{form_1_input_icon_color}' );
	background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22444.819px%22%20height%3D%22444.819px%22%20viewBox%3D%220%200%20444.819%20444.819%22%20style%3D%22enable-background%3Anew%200%200%20444.819%20444.819%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M433.968%2C278.657L248.387%2C92.79c-7.419-7.044-16.08-10.566-25.977-10.566c-10.088%2C0-18.652%2C3.521-25.697%2C10.566%20L10.848%2C278.657C3.615%2C285.887%2C0%2C294.549%2C0%2C304.637c0%2C10.28%2C3.619%2C18.843%2C10.848%2C25.693l21.411%2C21.413%20c6.854%2C7.23%2C15.42%2C10.852%2C25.697%2C10.852c10.278%2C0%2C18.842-3.621%2C25.697-10.852L222.41%2C213.271L361.168%2C351.74%20c6.848%2C7.228%2C15.413%2C10.852%2C25.7%2C10.852c10.082%2C0%2C18.747-3.624%2C25.975-10.852l21.409-21.412%20c7.043-7.043%2C10.567-15.608%2C10.567-25.693C444.819%2C294.545%2C441.205%2C285.884%2C433.968%2C278.657z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")';
}
.fs-dropdown-options {
	background: @form_1_dropdown_bg_color;
	box-shadow: ~'@{dropdown_shadow_h_length}px @{dropdown_shadow_v_length}px @{dropdown_shadow_blur_radius}px 0px @{form_1_dropdown_shadow_color}';
	border-radius: ~'@{content_elements_radius}px';
}
.fs-dropdown button.fs-dropdown-item {
	border-radius: ~'@{form_1_dropdown_accent_radius}px';
	color: @form_1_input_text_color;
	transition: ~'background @{form_1_animation_time}ms';

	@color_escaped: escape( ~'@{form_1_dropdown_bg_color}' );
	background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22415.582px%22%20height%3D%22415.582px%22%20viewBox%3D%220%200%20415.582%20415.582%22%20style%3D%22enable-background%3Anew%200%200%20415.582%20415.582%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M411.47%2C96.426l-46.319-46.32c-5.482-5.482-14.371-5.482-19.853%2C0L152.348%2C243.058l-82.066-82.064%20c-5.48-5.482-14.37-5.482-19.851%2C0l-46.319%2C46.32c-5.482%2C5.481-5.482%2C14.37%2C0%2C19.852l138.311%2C138.31%20c2.741%2C2.742%2C6.334%2C4.112%2C9.926%2C4.112c3.593%2C0%2C7.186-1.37%2C9.926-4.112L411.47%2C116.277c2.633-2.632%2C4.111-6.203%2C4.111-9.925%20C415.582%2C102.628%2C414.103%2C99.059%2C411.47%2C96.426z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")';
}
.fs-dropdown button.fs-dropdown-item:hover,
.fs-dropdown button.fs-dropdown-item_selected {
	background-color: @form_1_dropdown_accent_color;
	color: @form_1_dropdown_accent_inner_color;

	@color_escaped: escape( ~'@{form_1_dropdown_accent_inner_color}' );
	background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22415.582px%22%20height%3D%22415.582px%22%20viewBox%3D%220%200%20415.582%20415.582%22%20style%3D%22enable-background%3Anew%200%200%20415.582%20415.582%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M411.47%2C96.426l-46.319-46.32c-5.482-5.482-14.371-5.482-19.853%2C0L152.348%2C243.058l-82.066-82.064%20c-5.48-5.482-14.37-5.482-19.851%2C0l-46.319%2C46.32c-5.482%2C5.481-5.482%2C14.37%2C0%2C19.852l138.311%2C138.31%20c2.741%2C2.742%2C6.334%2C4.112%2C9.926%2C4.112c3.593%2C0%2C7.186-1.37%2C9.926-4.112L411.47%2C116.277c2.633-2.632%2C4.111-6.203%2C4.111-9.925%20C415.582%2C102.628%2C414.103%2C99.059%2C411.47%2C96.426z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")';
}

/** custom checkboxes **/
.fs-checkbox-label {
	line-height: ~'@{primary_font_size}px';
}
.fs-checkbox-marker {
	border: 2px solid @form_1_input_border_color;
	transition: ~'border-color @{form_1_animation_time}ms';
}
.fs-checkbox-flag:before {
	border-color: @form_1_input_border_color;
}
.fs-checkbox:hover {
	.fs-checkbox-marker {
		border-color: @color_accent_blue;
	}
}
.fs-checkbox-checked {
	.fs-checkbox-marker {
		border-color: @color_accent_blue;
		background-color: @color_accent_blue;
	}
	.fs-checkbox-flag:before {
		border-color: @color_accent_inner;
	}
}

/** custom radios **/
.fs-checkbox-radio .fs-checkbox-flag,
.fs-checkbox-toggle .fs-checkbox-flag {
	background: @color_accent_inner;
}

/**
	Form style 2
**/
#footer-widgets.forms-style-white_alt {

	input[placeholder]          { color: @form_2_input_placeholder_color; }
	::-webkit-input-placeholder { color: @form_2_input_placeholder_color; }
	input::-moz-placeholder     { color: @form_2_input_placeholder_color; }
	input:-moz-placeholder      { color: @form_2_input_placeholder_color; }
	input:-ms-input-placeholder { color: @form_2_input_placeholder_color; }

	input[type=text], input[type=email], input[type=password], input[type=url], input[type=number], input[type=search], input[type=tel], textarea, select {
		color: @form_2_input_text_color;
		border-width: ~'@{form_2_input_border_size}px';
		border-radius: ~'@{form_2_input_border_radius}px';
		border-color: @form_2_input_border_color;
		background-color: @form_2_input_bg_color;
		transition: ~'all @{form_2_animation_time}ms';
	}
	input[type=text]:hover, input[type=email]:hover, input[type=password]:hover, input[type=url]:hover, input[type=number]:hover, input[type=search]:hover, input[type=tel]:hover, textarea:hover, select:hover,
	input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=url]:focus, input[type=number]:focus, input[type=search]:focus, input[type=tel]:focus, textarea:focus, select:focus {
		color: @form_2_hover_input_text_color;
		background-color: @form_2_hover_input_bg_color;
		border-color: @form_2_hover_input_border_color;
		border-radius: ~'@{form_2_hover_input_border_radius}px';
	}

	/** custom dropdown **/
	.fs-dropdown button.fs-dropdown-selected {
		color: @form_2_input_text_color;
		border-width: ~'@{form_2_input_border_size}px';
		border-radius: ~'@{form_2_input_border_radius}px';
		border-color: @form_2_input_border_color;
		background-color: @form_2_input_bg_color;
		transition: ~'border-color @{form_2_animation_time}ms';

		@color_escaped: escape( ~'@{form_2_input_icon_color}' );
		background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22444.819px%22%20height%3D%22444.819px%22%20viewBox%3D%220%200%20444.819%20444.819%22%20style%3D%22enable-background%3Anew%200%200%20444.819%20444.819%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M434.252%2C114.203l-21.409-21.416c-7.419-7.04-16.084-10.561-25.975-10.561c-10.095%2C0-18.657%2C3.521-25.7%2C10.561%20L222.41%2C231.549L83.653%2C92.791c-7.042-7.04-15.606-10.561-25.697-10.561c-9.896%2C0-18.559%2C3.521-25.979%2C10.561l-21.128%2C21.416%20C3.615%2C121.436%2C0%2C130.099%2C0%2C140.188c0%2C10.277%2C3.619%2C18.842%2C10.848%2C25.693l185.864%2C185.865c6.855%2C7.23%2C15.416%2C10.848%2C25.697%2C10.848%20c10.088%2C0%2C18.75-3.617%2C25.977-10.848l185.865-185.865c7.043-7.044%2C10.567-15.608%2C10.567-25.693%20C444.819%2C130.287%2C441.295%2C121.629%2C434.252%2C114.203z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")';
	}
	.fs-dropdown.fs-dropdown-open button.fs-dropdown-selected {
		@color_escaped: escape( ~'@{form_2_input_icon_color}' );
		background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22444.819px%22%20height%3D%22444.819px%22%20viewBox%3D%220%200%20444.819%20444.819%22%20style%3D%22enable-background%3Anew%200%200%20444.819%20444.819%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M433.968%2C278.657L248.387%2C92.79c-7.419-7.044-16.08-10.566-25.977-10.566c-10.088%2C0-18.652%2C3.521-25.697%2C10.566%20L10.848%2C278.657C3.615%2C285.887%2C0%2C294.549%2C0%2C304.637c0%2C10.28%2C3.619%2C18.843%2C10.848%2C25.693l21.411%2C21.413%20c6.854%2C7.23%2C15.42%2C10.852%2C25.697%2C10.852c10.278%2C0%2C18.842-3.621%2C25.697-10.852L222.41%2C213.271L361.168%2C351.74%20c6.848%2C7.228%2C15.413%2C10.852%2C25.7%2C10.852c10.082%2C0%2C18.747-3.624%2C25.975-10.852l21.409-21.412%20c7.043-7.043%2C10.567-15.608%2C10.567-25.693C444.819%2C294.545%2C441.205%2C285.884%2C433.968%2C278.657z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")';
	}
	.fs-dropdown-options {
		background: @form_2_dropdown_bg_color;
		box-shadow: ~'@{dropdown_shadow_h_length}px @{dropdown_shadow_v_length}px @{dropdown_shadow_blur_radius}px 0px @{form_2_dropdown_shadow_color}';
	}
	.fs-dropdown button.fs-dropdown-item {
		border-radius: ~'@{form_2_dropdown_accent_radius}px';
		color: @form_2_input_text_color;
		transition: ~'background @{form_2_animation_time}ms';

		@color_escaped: escape( ~'@{form_2_dropdown_bg_color}' );
		background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22415.582px%22%20height%3D%22415.582px%22%20viewBox%3D%220%200%20415.582%20415.582%22%20style%3D%22enable-background%3Anew%200%200%20415.582%20415.582%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M411.47%2C96.426l-46.319-46.32c-5.482-5.482-14.371-5.482-19.853%2C0L152.348%2C243.058l-82.066-82.064%20c-5.48-5.482-14.37-5.482-19.851%2C0l-46.319%2C46.32c-5.482%2C5.481-5.482%2C14.37%2C0%2C19.852l138.311%2C138.31%20c2.741%2C2.742%2C6.334%2C4.112%2C9.926%2C4.112c3.593%2C0%2C7.186-1.37%2C9.926-4.112L411.47%2C116.277c2.633-2.632%2C4.111-6.203%2C4.111-9.925%20C415.582%2C102.628%2C414.103%2C99.059%2C411.47%2C96.426z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")';
	}
	.fs-dropdown button.fs-dropdown-item:hover,
	.fs-dropdown button.fs-dropdown-item_selected {
		background-color: @form_2_dropdown_accent_color;
		color: @form_2_dropdown_accent_inner_color;

		@color_escaped: escape( ~'@{form_2_dropdown_accent_inner_color}' );
		background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22415.582px%22%20height%3D%22415.582px%22%20viewBox%3D%220%200%20415.582%20415.582%22%20style%3D%22enable-background%3Anew%200%200%20415.582%20415.582%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M411.47%2C96.426l-46.319-46.32c-5.482-5.482-14.371-5.482-19.853%2C0L152.348%2C243.058l-82.066-82.064%20c-5.48-5.482-14.37-5.482-19.851%2C0l-46.319%2C46.32c-5.482%2C5.481-5.482%2C14.37%2C0%2C19.852l138.311%2C138.31%20c2.741%2C2.742%2C6.334%2C4.112%2C9.926%2C4.112c3.593%2C0%2C7.186-1.37%2C9.926-4.112L411.47%2C116.277c2.633-2.632%2C4.111-6.203%2C4.111-9.925%20C415.582%2C102.628%2C414.103%2C99.059%2C411.47%2C96.426z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")';
	}

	/** custom checkboxes **/
	.fs-checkbox-marker {
		border-color: @form_2_input_border_color;
		transition: ~'border-color @{form_2_animation_time}ms';
	}
	.fs-checkbox-flag:before {
		border-color: @form_2_input_border_color;
	}
	.fs-checkbox:hover {
		.fs-checkbox-marker {
			border-color: @color_accent_blue;
		}
	}
	.fs-checkbox-checked {
		.fs-checkbox-marker {
			border-color: @color_accent_blue;
			background-color: @color_accent_blue;
		}
		.fs-checkbox-flag:before {
			border-color: @color_accent_inner;
		}
	}

	/** custom radios **/
	.fs-checkbox-radio .fs-checkbox-flag,
	.fs-checkbox-toggle .fs-checkbox-flag {
		background: @color_accent_inner;
	}

}

/**
	Form style 3
**/
#footer-widgets.forms-style-dark {

	input[placeholder]          { color: @form_3_input_placeholder_color; }
	::-webkit-input-placeholder { color: @form_3_input_placeholder_color; }
	input::-moz-placeholder     { color: @form_3_input_placeholder_color; }
	input:-moz-placeholder      { color: @form_3_input_placeholder_color; }
	input:-ms-input-placeholder { color: @form_3_input_placeholder_color; }

	input[type=text], input[type=email], input[type=password], input[type=url], input[type=number], input[type=search], input[type=tel], textarea, select {
		color: @form_3_input_text_color;
		border-width: ~'@{form_3_input_border_size}px';
		border-radius: ~'@{form_3_input_border_radius}px';
		border-color: @form_3_input_border_color;
		background-color: @form_3_input_bg_color;
		transition: ~'all @{form_3_animation_time}ms';
	}
	input[type=text]:hover, input[type=email]:hover, input[type=password]:hover, input[type=url]:hover, input[type=number]:hover, input[type=search]:hover, input[type=tel]:hover, textarea:hover, select:hover,
	input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=url]:focus, input[type=number]:focus, input[type=search]:focus, input[type=tel]:focus, textarea:focus, select:focus {
		color: @form_3_hover_input_text_color;
		background-color: @form_3_hover_input_bg_color;
		border-color: @form_3_hover_input_border_color;
		border-radius: ~'@{form_3_hover_input_border_radius}px';
	}

	/** custom dropdown **/
	.fs-dropdown button.fs-dropdown-selected {
		color: @form_3_input_text_color;
		border-width: ~'@{form_3_input_border_size}px';
		border-radius: ~'@{form_3_input_border_radius}px';
		border-color: @form_3_input_border_color;
		background-color: @form_3_input_bg_color;
		transition: ~'border-color @{form_3_animation_time}ms';

		@color_escaped: escape( ~'@{form_3_input_icon_color}' );
		background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22444.819px%22%20height%3D%22444.819px%22%20viewBox%3D%220%200%20444.819%20444.819%22%20style%3D%22enable-background%3Anew%200%200%20444.819%20444.819%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M434.252%2C114.203l-21.409-21.416c-7.419-7.04-16.084-10.561-25.975-10.561c-10.095%2C0-18.657%2C3.521-25.7%2C10.561%20L222.41%2C231.549L83.653%2C92.791c-7.042-7.04-15.606-10.561-25.697-10.561c-9.896%2C0-18.559%2C3.521-25.979%2C10.561l-21.128%2C21.416%20C3.615%2C121.436%2C0%2C130.099%2C0%2C140.188c0%2C10.277%2C3.619%2C18.842%2C10.848%2C25.693l185.864%2C185.865c6.855%2C7.23%2C15.416%2C10.848%2C25.697%2C10.848%20c10.088%2C0%2C18.75-3.617%2C25.977-10.848l185.865-185.865c7.043-7.044%2C10.567-15.608%2C10.567-25.693%20C444.819%2C130.287%2C441.295%2C121.629%2C434.252%2C114.203z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")';
	}
	.fs-dropdown.fs-dropdown-open button.fs-dropdown-selected {

		@color_escaped: escape( ~'@{form_3_input_icon_color}' );
		background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22444.819px%22%20height%3D%22444.819px%22%20viewBox%3D%220%200%20444.819%20444.819%22%20style%3D%22enable-background%3Anew%200%200%20444.819%20444.819%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M433.968%2C278.657L248.387%2C92.79c-7.419-7.044-16.08-10.566-25.977-10.566c-10.088%2C0-18.652%2C3.521-25.697%2C10.566%20L10.848%2C278.657C3.615%2C285.887%2C0%2C294.549%2C0%2C304.637c0%2C10.28%2C3.619%2C18.843%2C10.848%2C25.693l21.411%2C21.413%20c6.854%2C7.23%2C15.42%2C10.852%2C25.697%2C10.852c10.278%2C0%2C18.842-3.621%2C25.697-10.852L222.41%2C213.271L361.168%2C351.74%20c6.848%2C7.228%2C15.413%2C10.852%2C25.7%2C10.852c10.082%2C0%2C18.747-3.624%2C25.975-10.852l21.409-21.412%20c7.043-7.043%2C10.567-15.608%2C10.567-25.693C444.819%2C294.545%2C441.205%2C285.884%2C433.968%2C278.657z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")';
	}
	.fs-dropdown-options {
		background: @form_3_dropdown_bg_color;
		box-shadow: ~'@{dropdown_shadow_h_length}px @{dropdown_shadow_v_length}px @{dropdown_shadow_blur_radius}px 0px @{form_3_dropdown_shadow_color}';
	}
	.fs-dropdown button.fs-dropdown-item {
		border-radius: ~'@{form_3_dropdown_accent_radius}px';
		color: @form_3_input_text_color;
		transition: ~'background @{form_3_animation_time}ms';

		@color_escaped: escape( ~'@{form_3_dropdown_bg_color}' );
		background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22415.582px%22%20height%3D%22415.582px%22%20viewBox%3D%220%200%20415.582%20415.582%22%20style%3D%22enable-background%3Anew%200%200%20415.582%20415.582%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M411.47%2C96.426l-46.319-46.32c-5.482-5.482-14.371-5.482-19.853%2C0L152.348%2C243.058l-82.066-82.064%20c-5.48-5.482-14.37-5.482-19.851%2C0l-46.319%2C46.32c-5.482%2C5.481-5.482%2C14.37%2C0%2C19.852l138.311%2C138.31%20c2.741%2C2.742%2C6.334%2C4.112%2C9.926%2C4.112c3.593%2C0%2C7.186-1.37%2C9.926-4.112L411.47%2C116.277c2.633-2.632%2C4.111-6.203%2C4.111-9.925%20C415.582%2C102.628%2C414.103%2C99.059%2C411.47%2C96.426z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")';
	}
	.fs-dropdown button.fs-dropdown-item:hover,
	.fs-dropdown button.fs-dropdown-item_selected {
		background-color: @form_3_dropdown_accent_color;
		color: @form_3_dropdown_accent_inner_color;

		@color_escaped: escape( ~'@{form_3_dropdown_accent_inner_color}' );
		background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22415.582px%22%20height%3D%22415.582px%22%20viewBox%3D%220%200%20415.582%20415.582%22%20style%3D%22enable-background%3Anew%200%200%20415.582%20415.582%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M411.47%2C96.426l-46.319-46.32c-5.482-5.482-14.371-5.482-19.853%2C0L152.348%2C243.058l-82.066-82.064%20c-5.48-5.482-14.37-5.482-19.851%2C0l-46.319%2C46.32c-5.482%2C5.481-5.482%2C14.37%2C0%2C19.852l138.311%2C138.31%20c2.741%2C2.742%2C6.334%2C4.112%2C9.926%2C4.112c3.593%2C0%2C7.186-1.37%2C9.926-4.112L411.47%2C116.277c2.633-2.632%2C4.111-6.203%2C4.111-9.925%20C415.582%2C102.628%2C414.103%2C99.059%2C411.47%2C96.426z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")';
	}

	/** custom checkboxes **/
	.fs-checkbox-marker {
		border-color: @form_3_input_border_color;
		transition: ~'border-color @{form_3_animation_time}ms';
	}
	.fs-checkbox-flag:before {
		border-color: @form_3_input_border_color;
	}
	.fs-checkbox:hover {
		.fs-checkbox-marker {
			border-color: @color_accent_blue;
		}
	}
	.fs-checkbox-checked {
		.fs-checkbox-marker {
			border-color: @color_accent_blue;
			background-color: @color_accent_blue;
		}
		.fs-checkbox-flag:before {
			border-color: @color_accent_inner;
		}
	}

	/** custom radios **/
	.fs-checkbox-radio .fs-checkbox-flag,
	.fs-checkbox-toggle .fs-checkbox-flag {
		background: @color_accent_inner;
	}

}

/**
	Form style 4
**/
#footer-widgets.forms-style-dark_alt {

	input[placeholder]          { color: @form_4_input_placeholder_color; }
	::-webkit-input-placeholder { color: @form_4_input_placeholder_color; }
	input::-moz-placeholder     { color: @form_4_input_placeholder_color; }
	input:-moz-placeholder      { color: @form_4_input_placeholder_color; }
	input:-ms-input-placeholder { color: @form_4_input_placeholder_color; }

	input[type=text], input[type=email], input[type=password], input[type=url], input[type=number], input[type=search], input[type=tel], textarea, select {
		color: @form_4_input_text_color;
		border-width: ~'@{form_4_input_border_size}px';
		border-radius: ~'@{form_4_input_border_radius}px';
		border-color: @form_4_input_border_color;
		background-color: @form_4_input_bg_color;
		transition: ~'all @{form_4_animation_time}ms';
	}
	input[type=text]:hover, input[type=email]:hover, input[type=password]:hover, input[type=url]:hover, input[type=number]:hover, input[type=search]:hover, input[type=tel]:hover, textarea:hover, select:hover,
	input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=url]:focus, input[type=number]:focus, input[type=search]:focus, input[type=tel]:focus, textarea:focus, select:focus {
		color: @form_4_hover_input_text_color;
		background-color: @form_4_hover_input_bg_color;
		border-color: @form_4_hover_input_border_color;
		border-radius: ~'@{form_4_hover_input_border_radius}px';
	}

	/** custom dropdown **/
	.fs-dropdown button.fs-dropdown-selected {
		color: @form_4_input_text_color;
		border-width: ~'@{form_4_input_border_size}px';
		border-radius: ~'@{form_4_input_border_radius}px';
		border-color: @form_4_input_border_color;
		background-color: @form_4_input_bg_color;
		transition: ~'border-color @{form_4_animation_time}ms';

		@color_escaped: escape( ~'@{form_4_input_icon_color}' );
		background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22444.819px%22%20height%3D%22444.819px%22%20viewBox%3D%220%200%20444.819%20444.819%22%20style%3D%22enable-background%3Anew%200%200%20444.819%20444.819%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M434.252%2C114.203l-21.409-21.416c-7.419-7.04-16.084-10.561-25.975-10.561c-10.095%2C0-18.657%2C3.521-25.7%2C10.561%20L222.41%2C231.549L83.653%2C92.791c-7.042-7.04-15.606-10.561-25.697-10.561c-9.896%2C0-18.559%2C3.521-25.979%2C10.561l-21.128%2C21.416%20C3.615%2C121.436%2C0%2C130.099%2C0%2C140.188c0%2C10.277%2C3.619%2C18.842%2C10.848%2C25.693l185.864%2C185.865c6.855%2C7.23%2C15.416%2C10.848%2C25.697%2C10.848%20c10.088%2C0%2C18.75-3.617%2C25.977-10.848l185.865-185.865c7.043-7.044%2C10.567-15.608%2C10.567-25.693%20C444.819%2C130.287%2C441.295%2C121.629%2C434.252%2C114.203z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")';
	}
	.fs-dropdown.fs-dropdown-open button.fs-dropdown-selected {

		@color_escaped: escape( ~'@{form_4_input_icon_color}' );
		background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22444.819px%22%20height%3D%22444.819px%22%20viewBox%3D%220%200%20444.819%20444.819%22%20style%3D%22enable-background%3Anew%200%200%20444.819%20444.819%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M433.968%2C278.657L248.387%2C92.79c-7.419-7.044-16.08-10.566-25.977-10.566c-10.088%2C0-18.652%2C3.521-25.697%2C10.566%20L10.848%2C278.657C3.615%2C285.887%2C0%2C294.549%2C0%2C304.637c0%2C10.28%2C3.619%2C18.843%2C10.848%2C25.693l21.411%2C21.413%20c6.854%2C7.23%2C15.42%2C10.852%2C25.697%2C10.852c10.278%2C0%2C18.842-3.621%2C25.697-10.852L222.41%2C213.271L361.168%2C351.74%20c6.848%2C7.228%2C15.413%2C10.852%2C25.7%2C10.852c10.082%2C0%2C18.747-3.624%2C25.975-10.852l21.409-21.412%20c7.043-7.043%2C10.567-15.608%2C10.567-25.693C444.819%2C294.545%2C441.205%2C285.884%2C433.968%2C278.657z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")';
	}
	.fs-dropdown-options {
		background: @form_4_dropdown_bg_color;
		box-shadow: ~'@{dropdown_shadow_h_length}px @{dropdown_shadow_v_length}px @{dropdown_shadow_blur_radius}px 0px @{form_4_dropdown_shadow_color}';
	}
	.fs-dropdown button.fs-dropdown-item {
		border-radius: ~'@{form_4_dropdown_accent_radius}px';
		color: @form_4_input_text_color;
		transition: ~'background @{form_4_animation_time}ms';

		@color_escaped: escape( ~'@{form_4_dropdown_bg_color}' );
		background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22415.582px%22%20height%3D%22415.582px%22%20viewBox%3D%220%200%20415.582%20415.582%22%20style%3D%22enable-background%3Anew%200%200%20415.582%20415.582%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M411.47%2C96.426l-46.319-46.32c-5.482-5.482-14.371-5.482-19.853%2C0L152.348%2C243.058l-82.066-82.064%20c-5.48-5.482-14.37-5.482-19.851%2C0l-46.319%2C46.32c-5.482%2C5.481-5.482%2C14.37%2C0%2C19.852l138.311%2C138.31%20c2.741%2C2.742%2C6.334%2C4.112%2C9.926%2C4.112c3.593%2C0%2C7.186-1.37%2C9.926-4.112L411.47%2C116.277c2.633-2.632%2C4.111-6.203%2C4.111-9.925%20C415.582%2C102.628%2C414.103%2C99.059%2C411.47%2C96.426z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")';
	}
	.fs-dropdown button.fs-dropdown-item:hover,
	.fs-dropdown button.fs-dropdown-item_selected {
		background-color: @form_4_dropdown_accent_color;
		color: @form_4_dropdown_accent_inner_color;

		@color_escaped: escape( ~'@{form_4_dropdown_accent_inner_color}' );
		background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22415.582px%22%20height%3D%22415.582px%22%20viewBox%3D%220%200%20415.582%20415.582%22%20style%3D%22enable-background%3Anew%200%200%20415.582%20415.582%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M411.47%2C96.426l-46.319-46.32c-5.482-5.482-14.371-5.482-19.853%2C0L152.348%2C243.058l-82.066-82.064%20c-5.48-5.482-14.37-5.482-19.851%2C0l-46.319%2C46.32c-5.482%2C5.481-5.482%2C14.37%2C0%2C19.852l138.311%2C138.31%20c2.741%2C2.742%2C6.334%2C4.112%2C9.926%2C4.112c3.593%2C0%2C7.186-1.37%2C9.926-4.112L411.47%2C116.277c2.633-2.632%2C4.111-6.203%2C4.111-9.925%20C415.582%2C102.628%2C414.103%2C99.059%2C411.47%2C96.426z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")';
	}

	/** custom checkboxes **/
	.fs-checkbox-marker {
		border-color: @form_4_input_border_color;
		transition: ~'border-color @{form_4_animation_time}ms';
	}
	.fs-checkbox-flag:before {
		border-color: @form_4_input_border_color;
	}
	.fs-checkbox:hover {
		.fs-checkbox-marker {
			border-color: @color_accent_blue;
		}
	}
	.fs-checkbox-checked {
		.fs-checkbox-marker {
			border-color: @color_accent_blue;
			background-color: @color_accent_blue;
		}
		.fs-checkbox-flag:before {
			border-color: @color_accent_inner;
		}
	}

	/** custom radios **/
	.fs-checkbox-radio .fs-checkbox-flag,
	.fs-checkbox-toggle .fs-checkbox-flag {
		background: @color_accent_inner;
	}

}

/*------------------------------------------------------------------
	3. Standard WP Widgets
-------------------------------------------------------------------*/
#footer-widgets {
	.widget_recent_comments {
		ul li:before {
			@color_escaped: escape( ~'@{footer_accent_color}' );
			background-image: ~'url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%20612%20612%22%20style%3D%22enable-background%3Anew%200%200%20612%20612%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cg%3E%0A%09%09%3Cg%3E%0A%09%09%09%3Cpath%20fill%3D%22@{color_escaped}%22%20d%3D%22M153%2C229.5h306V153H153V229.5z%20M535.5%2C0h-459C34.234%2C0%2C0%2C34.234%2C0%2C76.5v344.25c0%2C42.267%2C34.234%2C76.5%2C76.5%2C76.5h248.625%0A%09%09%09%09L497.25%2C612V497.25h38.25c42.267%2C0%2C76.5-34.233%2C76.5-76.5V76.5C612%2C34.234%2C577.767%2C0%2C535.5%2C0z%20M535.5%2C382.5%0A%09%09%09%09c0%2C21.114-17.136%2C38.25-38.25%2C38.25h-76.5v57.375l-95.625-57.375H114.75c-21.114%2C0-38.25-17.136-38.25-38.25V114.75%0A%09%09%09%09c0-21.114%2C17.136-38.25%2C38.25-38.25h382.5c21.114%2C0%2C38.25%2C17.136%2C38.25%2C38.25V382.5z%20M153%2C344.25h306v-76.5H153V344.25z%22%2F%3E%0A%09%09%3C%2Fg%3E%0A%09%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A")';
		}
		a {
			color: @footer_link_color;
		}
		a:hover {
			color: @footer_link_hover_color;
		}
		.comment-author-link a, .comment-author-link {
			color: @footer_accent_color;
		}
	}
	.widget.widget_tag_cloud {
		a {
			border-color: @footer_borders_color;
			color: @footer_link_color;
			box-shadow: none;
		}
		a:hover {
			background-color: @color_accent_blue;
			color: @color_accent_inner;
			border-color: @color_accent_blue;
			box-shadow: none;
		}
	}
	.widget.widget_archive, .widget.widget_categories, .widget.widget_meta, .widget.widget_pages,
	.widget.widget_recent_comments, .widget.widget_recent_entries, .widget.widget_rss, .widget.widget-wedocs {
		a {
			color: @footer_link_color;
		}
		a:hover, .current-menu-item > a {
			color: @footer_accent_color;
		}
		.children li {
			a {
				color: @footer_link_color;
			}
		}
		ul .current_page_item > a {
			color: @footer_accent_color;
		}
		.widget-inside > ul > li {
			border-bottom: 2px solid @footer_borders_color;
		}
	}
	.widget.widget_nav_menu {
		a {
			color: @footer_link_color;
		}
		a:hover, .current-menu-item > a {
			color: @footer_accent_color;
		}
		.menu > li {
			border-bottom: 2px solid @footer_borders_color;
		}
	}
}
