/*------------------------------------------------------------------
[Dynamic styles for Minimal / logo / menu widget]
[Table of contents]

1. Shared styles
2. Mobile styles
-------------------------------------------------------------------*/
/** preloader colors **/
/** layout **/
/** base typography **/
/** links colors **/
/** boxes **/
/** content elements **/
/** dropcaps **/
/** accent colors **/
/** gradients **/
/** borders and backgrounds **/
/** buttons **/
/** forms **/
/** top bar **/
/** menu styles **/
/** submenu styles **/
/** second menu **/
/** second menu **/
/** breadcrumbs **/
/** header **/
/** header text color **/
/** menu container **/
/** footer **/
/*------------------------------------------------------------------
	1. Shared styles
-------------------------------------------------------------------*/
.wproto_minimal_logo_menu_widget .top-widget-elements,
.wproto_minimal_logo_menu_widget .bottom-widget-elements {
  display: table;
  width: 100%;
}
.wproto_minimal_logo_menu_widget .top-widget-elements .item,
.wproto_minimal_logo_menu_widget .bottom-widget-elements .item {
  display: table-cell;
  vertical-align: middle;
}
.wproto_minimal_logo_menu_widget .item-menu,
.wproto_minimal_logo_menu_widget .social-links,
.wproto_minimal_logo_menu_widget .totop {
  text-align: right;
}
.wproto_minimal_logo_menu_widget .item-menu .menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.wproto_minimal_logo_menu_widget .item-menu .menu .menu-item:before {
  display: none;
}
.wproto_minimal_logo_menu_widget .item-menu .menu .menu-item {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.wproto_minimal_logo_menu_widget .item-menu .menu .menu-item ul {
  display: none;
}
.wproto_minimal_logo_menu_widget .item-menu .menu .menu-item a {
  display: block;
  padding: 40px 18px;
  transition: all 0.3s;
  margin-bottom: -2px;
  border-bottom: 2px solid transparent;
  line-height: normal;
  font-family: Sarala;
  font-weight: bold;
}
.wproto_minimal_logo_menu_widget .item-menu .menu .menu-item a:hover {
  border-color: #0081ff;
}
.wproto_minimal_logo_menu_widget .item-menu .menu .menu-item a:before {
  font-family: FontAwesome;
  margin-right: 5px;
}
.wproto_minimal_logo_menu_widget .social-links i.fa {
  margin-left: 15px;
}
.wproto_minimal_logo_menu_widget .top-widget-elements {
  border-bottom: 2px solid rgba(0,0,0,0);
  margin-bottom: 30px;
}
.wproto_minimal_logo_menu_widget .gotop-link {
  padding-right: 35px;
  text-align: right;
  white-space: nowrap;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 15px auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%22444.819px%22%20height%3D%22444.819px%22%20viewBox%3D%220%200%20444.819%20444.819%22%20style%3D%22enable-background%3Anew%200%200%20444.819%20444.819%3B%22%0A%09%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cpath%20fill%3D%22%23464646%22%20d%3D%22M433.968%2C278.657L248.387%2C92.79c-7.419-7.044-16.08-10.566-25.977-10.566c-10.088%2C0-18.652%2C3.521-25.697%2C10.566%0A%09%09L10.848%2C278.657C3.615%2C285.887%2C0%2C294.549%2C0%2C304.637c0%2C10.28%2C3.619%2C18.843%2C10.848%2C25.693l21.411%2C21.413%0A%09%09c6.854%2C7.23%2C15.42%2C10.852%2C25.697%2C10.852c10.278%2C0%2C18.842-3.621%2C25.697-10.852L222.41%2C213.271L361.168%2C351.74%0A%09%09c6.848%2C7.228%2C15.413%2C10.852%2C25.7%2C10.852c10.082%2C0%2C18.747-3.624%2C25.975-10.852l21.409-21.412%0A%09%09c7.043-7.043%2C10.567-15.608%2C10.567-25.693C444.819%2C294.545%2C441.205%2C285.884%2C433.968%2C278.657z%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
}
.wproto_minimal_logo_menu_widget .gotop-link:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%22444.819px%22%20height%3D%22444.819px%22%20viewBox%3D%220%200%20444.819%20444.819%22%20style%3D%22enable-background%3Anew%200%200%20444.819%20444.819%3B%22%0A%09%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cpath%20fill%3D%22%230081ff%22%20d%3D%22M433.968%2C278.657L248.387%2C92.79c-7.419-7.044-16.08-10.566-25.977-10.566c-10.088%2C0-18.652%2C3.521-25.697%2C10.566%0A%09%09L10.848%2C278.657C3.615%2C285.887%2C0%2C294.549%2C0%2C304.637c0%2C10.28%2C3.619%2C18.843%2C10.848%2C25.693l21.411%2C21.413%0A%09%09c6.854%2C7.23%2C15.42%2C10.852%2C25.697%2C10.852c10.278%2C0%2C18.842-3.621%2C25.697-10.852L222.41%2C213.271L361.168%2C351.74%0A%09%09c6.848%2C7.228%2C15.413%2C10.852%2C25.7%2C10.852c10.082%2C0%2C18.747-3.624%2C25.975-10.852l21.409-21.412%0A%09%09c7.043-7.043%2C10.567-15.608%2C10.567-25.693C444.819%2C294.545%2C441.205%2C285.884%2C433.968%2C278.657z%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
}
body.rtl .wproto_minimal_logo_menu_widget .item-menu,
body.rtl .wproto_minimal_logo_menu_widget .social-links,
body.rtl .wproto_minimal_logo_menu_widget .totop {
  text-align: left;
}
body.rtl .wproto_minimal_logo_menu_widget .social-links i.fa {
  margin-right: 15px;
  margin-left: 0;
}
body.rtl .wproto_minimal_logo_menu_widget .gotop-link {
  padding-left: 35px;
  padding-right: 0;
  text-align: left;
  background-position: left center;
}
/*------------------------------------------------------------------
	2. Mobile styles
-------------------------------------------------------------------*/
@media screen and (max-width: 992px) {
  .wproto_minimal_logo_menu_widget .top-widget-elements,
  .wproto_minimal_logo_menu_widget .bottom-widget-elements {
    display: block;
    width: auto;
  }
  .wproto_minimal_logo_menu_widget .top-widget-elements .item,
  .wproto_minimal_logo_menu_widget .bottom-widget-elements .item {
    display: block;
    width: auto;
    text-align: left;
    margin-bottom: 18px;
  }
  .wproto_minimal_logo_menu_widget .top-widget-elements .item-menu .menu .menu-item,
  .wproto_minimal_logo_menu_widget .bottom-widget-elements .item-menu .menu .menu-item {
    padding: 0;
    margin: 0 0 18px 0;
    display: block;
  }
  .wproto_minimal_logo_menu_widget .top-widget-elements .item-menu .menu .menu-item a,
  .wproto_minimal_logo_menu_widget .bottom-widget-elements .item-menu .menu .menu-item a {
    display: inline;
    padding: 0;
    margin-left: 0;
    margin-right: 15px;
  }
  .wproto_minimal_logo_menu_widget .top-widget-elements .social-links i.fa,
  .wproto_minimal_logo_menu_widget .bottom-widget-elements .social-links i.fa {
    margin-left: 0;
    margin-right: 15px;
  }
  body.rtl .wproto_minimal_logo_menu_widget .top-widget-elements .item,
  body.rtl .wproto_minimal_logo_menu_widget .bottom-widget-elements .item {
    text-align: right;
  }
  body.rtl .wproto_minimal_logo_menu_widget .top-widget-elements .item-menu .menu .menu-item a,
  body.rtl .wproto_minimal_logo_menu_widget .bottom-widget-elements .item-menu .menu .menu-item a {
    margin-right: 15px;
    margin-left: 0;
  }
  body.rtl .wproto_minimal_logo_menu_widget .top-widget-elements .social-links i.fa,
  body.rtl .wproto_minimal_logo_menu_widget .bottom-widget-elements .social-links i.fa {
    margin-right: 0;
    margin-left: 15px;
  }
}
